/*Reglas módulo patrons de home */

div#slides_news div.slder_news,
div#slides_news div.arrow-left,
div#slides_news div.arrow-right {
    float: left;
}

div#slides_news div.slder_news {
    width: 845px;
    height: 115px;
}

div#slides_news div.arrow-left {
    margin-left: -10px;
    margin-right: 15px;
    padding-top: 46px;
}

div#slides_news div.arrow-right {
    margin-left: 0px;
    padding-top: 46px;
}

div#slides_news div.new{

    width: 185px;
    position: relative;
    text-align: center;
    display: table;
    height: 85px;
    float: left;
    margin-top: 15px;
    margin-left: 15px;

}


div.news {
    width: 940px;
    margin: 0 auto;
    display: table;

}

div.newrow a.prev,
div.newrow a.next {
    color:#cdcdcd !important;
}


div#slides_news div.new a{ 
    display: table-cell;
    vertical-align: middle;
    position: relative;
}