/*Reglas módulo patrons de home */

div#slides_news div.slder_news,
div#slides_news div.arrow-left,
div#slides_news div.arrow-right {
    float: left;
}

div#slides_news div.slder_news {
    width: 845px;
}

div#slides_news div.arrow-left {
    margin-left: -10px;
    margin-right: 15px;
    padding-top: 46px;
}

div#slides_news div.arrow-right {
    margin-left: 0px;
    padding-top: 46px;
}

div#slides_news div.new{

    display: inline-block;
    width: 185px;
    position: relative;
    text-align: center;

}

/* Flechitas de carrousel */
div.newrow a.prev,
div.newrow a.next,
{
    width: 24px;
    position:relative;
    color: white;
    line-height: 27px;
    text-indent: 24px;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    padding: 0;
}


div.newrow a.prev {
    background: url('/view/css/arrowslider-sprt.png') scroll no-repeat 0 0;
}

div.newrow a.prev:hover{
    background: url('/view/css/arrowslider-sprt.png') scroll no-repeat 0 -48px;
}

div.newrow a.next{
    background: url('/view/css/arrowslider-sprt.png') scroll no-repeat 0 -24px;
}

div.newrow a.next:hover {
    background: url('/view/css/arrowslider-sprt.png') scroll no-repeat 0 -72px;
}

body.home div#main div.widget.news {
    background-color: #cdcdcd;
}