dist
*.log
node_modules
app/data/*
!app/data/.htaccess
app/logs/*
!app/logs/.htaccess
!app/logs/README
!app/logs/cron/*
!app/logs/cron/README
app/nodesys/_*
app/config/*
!app/config/demo-settings.php
!app/config/paypal.php
