.idea
.vagrant

/node_modules/
/vendor/
/bower_components/
*.log
.tmp
var/*
!var/logs
!var/cache
!var/data
!var/php
composer.lock

config/*
!config/README
!config/demo-settings.yml
!config/vagrant-settings.yml
dist

app/data/*
!app/data/.htaccess
app/logs/*
!app/logs/.htaccess
!app/logs/README
app/nodesys/_*
phpunit.xml
tests/build
