div#super-header div#goteo-logo {
    overflow: hidden;
	float: left;
}

div#super-header div#goteo-logo > ul {
    margin: 3px 0 0;
    position: relative;
    list-style: none;
    overflow: hidden;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

div#super-header div#goteo-logo > ul > li {
    text-align: left;
	float: left;
}

div#super-header div#goteo-logo ul > li.home > a {
    overflow: hidden;
    text-indent: 2000px;
    display: block;
    line-height: 2000px;
    width: 57px;
    height: 17px;
    background: url('/view/css/header/goteo-mini-node.png') no-repeat left center;
}

div#super-header div#goteo-logo ul > li.home > a:hover {
    background: url('/view/css/header/goteo-mini-node.png') no-repeat right center;
}

/* la cabecera de nodo */
div#node-header{
    background-color: white;
}

div#node-header div.logos {
    height: 120px;
    width: 940px;
    margin: 0 auto;
    position: relative;
    list-style: none;
    overflow: visible;
	padding: 0;
}

div#node-header div.logos > div {
    float: left;
}

div#node-header div.logos div.node-home {
    margin-right: 53px;
    margin-top: 20px;
}

div#node-header div.logos div.node-home > a {
    overflow: hidden;
    display: block;
    line-height: 0px;
    text-indent: -100px;
    color: white; 
    width: 135px;
    height: 75px;
    left: 50%;
}

/*
    background: url('/nodesys/nodo/view/css/goteo-logo.png') no-repeat left top;

div#node-header div.logos div.node-home > a:hover {
    background: url('/nodesys/nodo/view/css/goteo-logo.png') no-repeat right top;
}
*/

div#node-header div.logos div.node-intro {
    text-transform: uppercase;
    width: 500px;
    font-size: 18px;
    margin-top: 25px;
}

div#node-header div.logos div.node-logo {
    margin-left: 75px;
    margin-top: 20px;
}

div#node-header div.logos div.node-logo span {
    display: block;
    font-size: 10px;
    text-transform: none;
}

/* botonera */
div#header div#menu{position:relative;z-index:100;}
div#header div#menu > ul > li > a.button{padding:.4em .8em!important}
div#header div#menu > ul > li > a{color:#fff !important}
div#header div#menu > ul > li.help{margin-right:4px}
div#header div#menu > ul > li.explore > a{margin-left:42px!important}
div#header div#menu > ul > li.help > a{font-size:12px;display:inline-block;max-width:7.5em;text-align:left;width:80px;line-height:1em;margin:.68em .2em .6em 0;padding:.4em 1.8em .4em .8em}

/*botón comunidad y dashboard*/
div#header div#menu > ul > li.community, div#header div#menu > ul > li.dashboard{background:url('/view/css/header/down-white.png') no-repeat scroll right 30px transparent;top:0}
div#header div#menu > ul > li.community > a, div#header div#menu > ul > li.dashboard > a{top:0}
div#header div#menu > ul > li.info,div#header div#menu > ul > li.help{float:left}

/*botón dashboard
div#header div#menu > ul > li.dashboard > a{padding-right:50px}
div#header div#menu > ul > li.dashboard > a > img{position:absolute;left:70px;}
*/
/*botón sobre
div#header div#menu > ul > li.about{height:48px;position:relative}
div#header div#menu > ul > li.about > a{font-size:12px;height:40px;line-height:40px;display:inline-block;position:relative;padding:.5em 0!important}
div#header div#menu > ul > li.about:hover{background:#1DB3B2}
div#header div#menu > ul > li.about a:hover{color:#20B2B3}
div#header div#menu > ul > li.about:hover,
*/

/*buscador*/
div#header div#menu > ul > li.search fieldset{border: 1px solid #fff;}
div#header div#menu > ul > li.search fieldset input[type="submit"]{background:url('/view/css/header/search-white.png') no-repeat scroll center center transparent !important}

/* Pestaña de información/cerrar banner */
div#header div#menu > ul > li.info{border-radius:5px 5px 0 0;width:35px;height:40px;position:absolute;left:-1px;bottom:0;background-color:#e9e5e2}
div#header div#menu > ul > li.info > a{overflow:hidden;text-indent:2000px;display:block;line-height:2000px;width:23px;height:23px;left:50%;border:medium none;margin:9px 6px 8px}
/* la imagen de abrir/cerrar depende de cada nodo */
/* Fin de pestaña de información/cerrar banner */

/* Banners de nodo */
div#header div#node-banners{width: 100%; height:270px; margin: 0; background:url('/view/css/header/node-banner-bg.jpg');/*overflow:hidden; NO CAMBIAR... pero es que en firefox descuadra todo el banner */border:#dee2e6 1px solid;border-top:none;border:#000 1px transparent !important /*no tocar o el contenido se alinea de forma extraña dentro del carrousel*/;
-webkit-box-shadow:0px 2px 3px rgba(44, 50, 51, 0.4);-moz-box-shadow:0px 2px 3px rgba(44, 50, 51, 0.4);box-shadow:0px 2px 3px rgba(44, 50, 51, 0.4);}
div#header div#node-banners div.node-banners-container{width:940px;height:270px;margin:0 auto;overflow:visible !important/*NO CAMBIAR*/}
div.node-banners-container div.node-banner{display:none; width:940px;height:270px;/*overflow:hidden; NO CAMBIAR... pero es que en firefox descuadra todo el banner */}
div.node-banners-container div.node-banner > div.title{padding-top: 25px; margin-left: 50px;line-height:25px;font-size:25px;color:#585a5c}
div.node-banners-container div.node-banner > div.short-desc{margin-top: 25px; margin-left: 50px; line-height:30px;font-size:20px;max-width: 450px;}
div.node-banners-container div.node-banner.active > div.title{color:#20B2B3 !important;}
div.node-banners-container div.node-banner a.expand {padding: 0;position: absolute;width: 940px;height: 270px;z-index: 99;}


/* paginación de los banners*/
div#node-banners-controler{position: absolute;width: 100%; top: 440px;z-index:100;overflow:auto;height:auto;text-align:center}
ul.bannerspage{list-style:none; z-index:100;  padding:0;  margin:0; display:inline-block}
ul.bannerspage li{ cursor:pointer;  display:block;  float:left;  overflow:hidden; margin:0px 4px 5px 4px}
ul.bannerspage li a{display:block;width:12px;height:12px;margin-top:2px;-webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;}
ul.bannerspage li a{background-color:#d9cfd2;color:#d9cfd2; width:12px !important;}
ul.bannerspage li a:hover{ background-color:#808184;  color:#808184}
/* fin paginación de los banners*/

/*
body.node.home div#node-banners{width: 940px !important; margin: 0 auto !important;}
body.node.home div#node-banners-controler{width: 940px !important;}
*/

/* Fin banners de nodo */
