/* 
    Document   : users
    Created on : 17-jun-2011, 19:25:16
    Author     : Jaume
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

