@import url('footer.css');
@import url('tipsy/tipsy.css');
/* View */
/* Common */
* {
    font-family: "Liberation Sans", Helvetica, "Helvetica Neue", Arial, Geneva, sans-serif;
}

html {
    height: 100%;
    margin: 0;
    overflow: auto;
}

html, body {
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body, td, th, a, a:link, a:visited, a:active, a:hover, input, textarea, button {
    font-size: 12px;
    color: #58595b;
}

img {
    border: none;
}

input, textarea, button {
    font-size: 14px;
}

h1 {
    display: none;
}

/* Extend */
body {
	background-color: #58595c;
	margin: 0;
}

#wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: transparent;
}


#banners-social, #title, #info, #supporters-sponsors {
	background-color: #fff;
	clear: both;
	overflow: hidden;
}

/* Main */
div#main {
    clear: both;
	width: 770px;
	margin: 31px auto 36px;
    overflow: hidden;
}

div#main ul#list {
	margin: 0;
	padding: 0;
}

div#main ul#list>li {
	background-color: #f1f1f2;
	list-style-type: none;
	padding: 5px 25px;
	margin-bottom: 0.7em;
	overflow: hidden;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/* Title container */

#title {
	background-color: rgba(255,255,255,.75);
}

#title h2.title {
	color: #666;
	font-size: 22px;
	line-height: 1.2em;
	padding-top: 35px;
	margin: 0;
	font-weight: bold;
	float: right;
	width: 500px;
}

#title img.logo {
	-moz-box-shadow: 7px 0px 22px #ccc;
	-webkit-box-shadow: 7px 0px 22px #ccc;
	box-shadow: 7px 0px 22px #ccc;
	width:250px;
}

/* Banners social container */

#banners-social {
	margin-top: 6px;
	overflow: hidden;
}

#banners-social a#capital {
	width: 91px;
	height: 122px;
	display: block;
	text-indent: -10000px;
	background: url('/view/css/call/logo-capital_medium.png') no-repeat;
	float: right;
	margin: 10px 0 0 0;
}

#social {
    float: right;
    width: 198px;
}

#social-logo {
	overflow: hidden;
}

#social-logo .title {
    display: none;
}

#social-logo ul {
    list-style: none;
    overflow: visible;
    margin: 0;
    padding: 0;
	width: 100px;
	float: left;
	margin-top: 20px;
}

#social-logo li {
    display: block;
    padding-left: 30px;
    float: left;
    min-height: 2em;
    line-height: 2em;
    background: no-repeat left center;
    min-width: 20%;
}

#social-logo li a {
    text-decoration: none;
}

#social-logo li.facebook {
    background-image: url('/view/css/social/facebook.png');
}

#social-logo li.google {
    background-image: url('/view/css/social/google.png');
}

#social-logo li.twitter {
    background-image: url('/view/css/social/twitter.png');
}

#social-logo li.identica {
    background-image: url('/view/css/social/identica.png');
}

#social-logo li.linkedin {
    background-image: url('/view/css/social/linkedin.png');
}

#social-logo li.email {
    padding-left: 0px !important;
    margin-top: 10px;
}

#social-logo li.email a {
    font-size: 11px !important;
    color: #20B2B3 !important;
}

#social-logo li.email a:hover {
    text-decoration: underline !important;
}

/*
#social-actions {
    width: 180px;
    overflow: hidden;
}
*/

#social-actions h2 {
    margin: 0;
    margin-bottom: 10px;
    color: #1db3b2;
    font-size: 16px;
    text-align: left;
}

#social-actions .twitter-share-button {}

#social-actions .fb-like {
    float: right;
    margin-right: 20px;
}

#social-actions .fb-like span {
    display: block;
    overflow: hidden;
    position: relative;
}

#social-actions .fb-like iframe {
    height: 62px;
    overflow: hidden;
    position: absolute;
    top: -41px;
    width: 55px;
}


.connect_widget_not_connected_text, .connect_widget_connected_text {
  display:none !important;
}

/* Info container */

#info {
	margin-top: 6px;
}

.stats-container #content {
	padding: 0;
}

/* Supporters sponsors container */

#supporters-sponsors {
	margin-top: 6px;
	overflow: hidden;
}

#supporters-sponsors .title {
	text-transform: uppercase;
}

/* Background Image */
#bgimage{
	position: absolute;
	width: 200%;
	height: 200%;
	top: -50%;
	left: -50%;
}

#bgimage[id]{
	display: table;
}

#bgimage div{
	position: absolute;
	left: 0;
	top: 50%;
}

#bgimage[id] div {
	display: table-cell;
	vertical-align: middle;
	position: static;
}

#bgimage img {
	position: relative;
	top: -50%;
	margin: 0 auto;
	display: block;
	width: 100%;
}

*:first-child+html #bgimage div {
	position: absolute;
}

/* Header */
#header {
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	z-index: 999;
	background: url("/view/css/header/background.png") repeat-x scroll center top #B5DADC;
	margin: 0;
	height: 25px;
}

#super-header {
	width: 945px;
	margin: 0 auto;
}

div#header div#menu {
    overflow: hidden;
/*	width: 600px; */
	float: left;
}

div#header div#menu > ul {
    margin: 3px 0 0;
    position: relative;
    list-style: none;
    overflow: hidden;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

div#header div#menu > ul > li {
    text-align: left;
	float: left;
}

div#super-header ul > li.home > a {
    overflow: hidden;
    text-indent: 2000px;
    display: block;
    line-height: 2000px;
    width: 57px;
    height: 17px;
    background: url('/view/css/header/goteo-mini.png') no-repeat left center;
}

div#super-header ul > li.home > a:hover {
    background: url('/view/css/header/goteo-mini.png') no-repeat right center;
}

div#super-header ul > li.campanya {
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1.83em;
    overflow: hidden;
}

div#super-header div#rightside {
	float: right;
	width: 400px;
}

div#super-header div#rightside {
	text-transform: uppercase;
}

div#super-header div#rightside ul.menu-right {
	margin: 0;
	padding: 0;
	text-align: right;
}

div#super-header div#rightside ul.menu-right > li {
	list-style-type: none;
	margin: 0 5px 0;
	padding: 0;
	display: inline-block;
	line-height: 25px;
	height: 25px;
}

div#super-header div#rightside ul.menu-right > li > a {
	text-decoration: none;
	font-size: 11px;
}

div#super-header ul.menu-right > li > a:hover {
	color: #333;
}

div#super-header ul li#lang {
	background:url('/view/css/bolita_gris.png') 4px 5px no-repeat transparent;
	margin-left: 15px;
    padding-right: 18px !important;
    width: 52px;
	margin-right: 0 !important;
}

div#super-header ul li#lang.active {
	background:url('/view/css/bolita.png') 4px 5px no-repeat #808286;
}

div#super-header ul li#lang a {
	padding-left: 25px;
	padding-right: 10px;
	background: url('/view/css/lang-triangulo.png') no-repeat right bottom transparent;
	cursor:default;
}

div#super-header ul li#lang a:hover,
div#super-header ul li#lang.active a,
div#super-header ul li#lang.active a:hover {
	color:#20B2B3 !important;
}

ul.lang {
	position: absolute;
	right: 194px;
	top: 25px;
	z-index: 1000;
	list-style:none;
	display:none;
	margin:0;
	padding:0;
}

ul.lang li {
	background-color: #59595C;
	height: 15px;
	padding: 4px 0;
	position: relative;
	width: 70px;
	text-align:center;
}

ul.lang li:hover {
	background: #808285;
}

ul.lang li>a {
	bottom: 0;
	color: #ffffff;
	font-size: 11px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	top: 0;
	width: 100%;
	display: block;
}

ul.lang li:hover>a {
	color: #1EB2B2;
}

div#header ul > li.dashboard {
	position: relative;
    background: transparent url('/view/css/header/down-black.png') no-repeat right 30px;
}

div#header ul > li.dashboard > a {
    padding: .5em .8em;
    font-size: 12px;
    display: inline-block;
    color: #59595c;
}

div#header ul > li.dashboard > a {
    padding: 0 15px 0 5px;
}

div#header ul > li.dashboard > a:hover {
	color: #fff;
}

div#header ul > li.dashboard > a > img{
	position:relative;
	left:7px;
	top:3px;
	height: 16px;
}

div#header ul > li.dashboard:hover {
    background-color: #1db3b2;
}

div#header ul > li.dashboard > a > span > em {
    display: none;
}

div#header ul > li.dashboard > div {
    display: none;
}

div#header ul > li.dashboard:hover > div {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 100%;
}

div#header ul > li.dashboard > div > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #1db3b2;
	text-align: left;
}

div#header ul > li.dashboard > div > ul > li {
    border-top: 1px solid #a5e1e0;
}

div#header ul > li.dashboard > div > ul > li * {
    color: white;
    text-transform: none;
}

div#header ul > li.dashboard > div > ul > li > a {
    display: block;
    padding: .1em 1em;
	text-decoration: none;
}

div#header ul > li.dashboard > div > ul > li.logout > a > span{
	color:#F00 !important;
}

div#header ul > li.dashboard > div > ul > li > a:hover {
    background-color: #78d1d1;
}

/* Footer */
#footer {
	position: fixed;
	background-color: #58595c;
	height: 30px;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 11px;
	padding: 0;
	z-index: 1000;
}

#footer #super-footer {
	width: 940px;
	margin: 0 auto;
	color: #fff;
}

#footer ul {
    list-style: none outside none;
    margin-top: 9px;
}

#footer ul {
    float: left;
    max-width: 700px;
    padding-left: 0;
    list-style: none;
}

#footer ul li{
	display:inline-block;
	color:#fff;
	margin-right:25px;
}

#footer ul li a{
	text-decoration:none;
	text-transform:uppercase;
	color:#fff;
}

#footer + * {
    font-size: 12px;
    border-top: 2.2em solid #59595c;
    margin-top: -2.2em;
}

#footer a {
    color: #e9e3dc;
    font-size: 11px;
}

#footer a:hover {
    color: #8ed9d8 !important;
}

#footer div.platoniq {
    padding: 0;
    margin: 0;
    border-width: 0;
    min-width: 0 !important;
	position:relative;
	float:right;
}

#footer div.platoniq span.text{
	margin-right:15px;
}

#footer div.platoniq span.logo {
    display: inline-block;
    float: left;
}

#footer div.platoniq a.foundation {
    display: inline-block;
    width: 120px;
    height: 30px;
	background: url('/view/css/logoFG.png') no-repeat 23px 5px transparent;
    text-indent: 2000px;
    line-height: 2000px;
    overflow: hidden;
	position:relative;
}

#footer div.platoniq a.foundation:hover{
	background: url('/view/css/logoFG.png') no-repeat 23px 5px transparent;
}

#footer div.platoniq a.growby {
    display: inline-block;
    width: 60px;
    height: 30px;
    background: url('/view/css/platoniq.png') no-repeat 0px 8px transparent;
    text-indent: 2000px;
    line-height: 2000px;
    overflow: hidden;
	position:relative;
}

#footer div.platoniq a.growby:hover{
	background: url('/view/css/platoniq2.png') no-repeat 0px 8px transparent;
}

#footer div.platoniq a.poweredby {
    display: inline-block;
    height: 30px;
    font-size: 12px !important;
    color: #FFF;
	text-decoration: none;
    cursor: default;
    position: absolute;
    top: 8px;
    right: 100px;
    width: 100%;
}

#footer div.platoniq a.poweredby:hover{
    color: #FFF !important;
	text-decoration: none;
    cursor: default;
}

/* Side */
#side {
	border-left: 1px solid #CCCCCC;
	float: right;
	margin: 0;
	padding: 20px 0 20px 15px;
	width: 210px;
}

#side img.logo {
	display: block;
	margin: 0 auto;
	max-width: 190px;
	padding-right: 15px;
}

#side .block {
	background: url('/view/css/call/side-border.gif') no-repeat left bottom;
	padding-bottom: 15px;
}

#side p {
	font-size: 10px;
	padding-right: 25px;
}

#side dl {
	margin: 15px 0;
}

#side dt {
	font-size: 11px;
	text-transform: uppercase;
}

#side dd {
	margin: 0;
	padding-top: 5px;
}

#side .money {
	font-size: 34px;
	font-weight: bold;
}

#side .category {
	padding-right: 45px;
}

#side .category dd,
#side .category dd a {
	color: #1db3b2;
	text-decoration: none;
	font-size: 11px;
	font-weight: normal;
	line-height: 1.3em;
}

#side dd.location {
	font-size: 10px;
	font-weight: normal;
	padding-left: 12px;
	padding-top: 3px;
    background: url('/view/css/location/s.png') no-repeat left top;
    text-indent: .5em;
	line-height: 1.4em;
}

#side dd.location a {
	font-size: 10px;
}

#side dl.expires dd {
	color: red;
	font-size: 20px;
}

#side dl.expires dd strong {
	font-size: 34px;
}

#side dl.selected dd {
	color: #1db3b2;
	font-size: 48px;
}

#side dl.applied dd {
	color: #1db3b2;
	font-size: 34px;
}

#side dl.moreinfo a {
	color: #ff0000;
	font-size: 11px;
}

#side a {
	text-decoration: none;
}

#side a:hover {
	text-decoration: underline;
}

#side a.red {
	color: red;
}

/* sponsors */
#side dl.sponsors dt {
	text-transform: none !important;
	font-size: 10px;
}

#side ul#side-sponsors {
    padding: 0 !important;
    list-style: none;
    margin-bottom: 20px;
}

#side ul#side-sponsors li {
    margin: 15px 0;
}


/* Content */
#content {
	width: 500px;
	padding: 20px 0px 20px 30px;
	float: left;
	background-color: #fff;
    margin: 0;
}

#content a.aqua {
	text-decoration: none;
    color: #1DB3B2;
}

#content a.aqua:hover {
	text-decoration: underline;
}

#content p.block {
	background: url('/view/css/call/side-border.gif') no-repeat left bottom;
	padding-bottom: 15px;
    margin: 0;
}

/* Iconos */
.money {
	color: #95268d;
}

.light {
	color: #ba72b5;
}

/* Retornos */

.return ul {
    margin: 0;
    padding: 5px 40px 0 15px;
    list-style: none;
    position: relative;
    z-index: 910;
}

.return ul li {
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 2000px;
    text-indent: 2000px;
    overflow: hidden;
    background-image: url('/view/css/icon/s/blank.png');
    opacity:0.60;
	margin-right: 5px;
    filter:alpha(opacity=60);
}

.return ul li.active {
    opacity: 1 !important;
    filter:alpha(opacity=100) !important;
}

.return ul li a {
    display: block;
    width: 21px;
    height: 21px;
    line-height: 2000px;
    text-indent: 2000px;
    position: relative;
    z-index: 910;
}

.return ul li.file  {
    background-image: url('/view/css/icon/s/file.png');
}

.return ul li.money {
    background-image: url('/view/css/icon/s/money.png');
}

.return ul li.code {
    background-image: url('/view/css/icon/s/code.png');
}

.return ul li.service {
    background-image: url('/view/css/icon/s/service.png');
}

.return ul li.manual  {
    background-image: url('/view/css/icon/s/manual.png');
}

.return ul li.product {
    background-image: url('/view/css/icon/s/product.png');
}

.return ul li.design {
    background-image: url('/view/css/icon/s/design.png');
}

.return ul li.thanks {
    background-image: url('/view/css/icon/s/thanks.png');
}

.return ul li.other {
    background-image: url('/view/css/icon/s/other.png');
}

/* Botones */

input[type="submit"],
input[type="reset"],
button,
a.button {
    background-color: #58595B;
    padding: .5em .8em;
	font-size: 11px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: normal;
    color: white;
    margin: .5em 0;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #149290 url('/view/css/button/aqua.png') repeat-x top;
}

input[type="submit"]:active,
input[type="reset"]:active,
button:active,
a.button:active {
    background: #60c1bf url('/view/css/button/aqua-active.png') repeat-x top;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
a.button:hover {
    background: #60c1bf url('/view/css/button/aqua-active.png') repeat-x top;
}

input.red[type="submit"],
input.red[type="reset"],
button.red,
a.button.red {
    background: #b5161e url('/view/css/button/red.png') repeat-x top;
    color: white;
}

input.red[type="submit"]:active,
input.red[type="reset"]:active,
button.red:active,
a.button.red:active {
    background: #e44133 url('/view/css/button/red-active.png') repeat-x top;
}

input.red[type="submit"]:hover,
input.red[type="reset"]:hover,
button.red:hover,
a.button.red:hover {
    background: #e44133 url('/view/css/button/red-active.png') repeat-x top;
}

a.button.info,
a.button.location {
	margin-top: 1em;
}

a.button.info {
	margin-right: 1em;
	margin-left: .5em;
}

a.button.long {
	font-size: 15px;
	/*padding: 0.4em 1.6em;*/
}

a.button.join {
	font-size: 15px;
	/*padding: 0.4em 2.1em;*/

}

/* Content terms */

h2.title {
	color: #1db3b2;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: normal;
	margin: 10px 0;
}

p.subtitle {
    font-weight: normal;
    font-size: 16px;
    margin: 15px 10px 10px;
    line-height: 1.2em;
    padding: 0 15px 5px 15px;
    color: #95268d;
}
p.subtitle a {
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    color: #95268d;
}

p.subtitle.red {
    font-weight: bold;
    color: red;
}

.freetext {
	padding: 0 15px 25px 0;
}

.freetext h3.title {
    font-size: 15px;
    font-weight: bold;
	margin: 15px 0px;
    text-transform: none !important;
}

/* Info table.info-table */

table.info-table {
    border-collapse: collapse;
}

table.info-table td,
table.info-table th {
    padding: .5em;
    border-bottom: 1px dashed #C1C1C1;
}

table.info-table th.summary {
    text-align: left;
}

table.info-table th.summary a {
    color: #58595B;
    text-decoration: none;
}

table.info-table th.summary a span {
    font-weight: bold;
}

table.info-table th.summary a:hover span {
    color: #20B2B3;
}

table.info-table th.summary blockquote{
    padding: 0;
    margin: 3px 0 0 0;
    font-weight: normal;
	margin-left:10px;
	clear:left;
    text-align: left;
}


table.info-table thead th {
    text-transform: uppercase;
	vertical-align: bottom !important;
}

table.info-table th.title {
    color: #58595B;
    text-align: right;
    width:  100%;
    font-weight: normal;
}

table.info-table *.min,
table.info-table *.max {
    padding: 7px 1.5em;
	text-align: right;
	vertical-align: top;
}

table.info-table *.min {
    color: #96238F;
}

table.info-table tbody{
	background:#F5E9F4;
	border-top:#C1C1C1 2px solid;
	border-bottom:#C1C1C1 2px solid;
}

table.info-table tbody tr.odd{background:#DBF3F3;border-bottom:#C1C1C1 1px dashed;}
table.info-table tbody tr.even{background:#F3F2F2;border-bottom:#C1C1C1 1px dashed;}

table.info-table thead + tbody + thead th.min,
table.info-table thead + tbody + thead th.max {
    font-size: 0;
}

table.info-table tfoot th.total {
    text-align: right;
}

table.info-table tfoot tr > * {
    border: none;
}

.info .freetext h3 {
	padding: 25px 0 0 0;
	margin: 0;
	text-transform: uppercase;
}

.info .freetext .button {
	margin: 15px 0;
}

#social-responsive, #sponsors-responsive {
	display: none;
}
