body.admin div#main {
    margin-top: 0;
    margin-bottom: 0;
}

/**
 * Menu
*/

body.admin div#sub-header {
    padding-bottom: 0;
}

body.admin div.admin-menu {
    max-width: 940px;
    margin: 20px auto 0;
}

body.admin div.admin-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
}

body.admin  div.admin-menu ul li {
    display: inline-block;
    margin-right: 1px;    
    background-color: #c8babc;

}

body.admin div.admin-menu ul li a {
    display: inline-block;
    padding: .6em 2em .2em .6em;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

body.admin div.admin-menu ul li a:hover {
    color: black;
}

body.admin div.admin-menu ul li.home {
    background-color: #1fb0b0;
} 

body.admin div.admin-menu ul li.checking {
    background-color: #e13028;
} 

body.admin div.admin-menu ul li.accounting {
    background-color: #313b96;
}

body.admin div.admin-menu ul li.comunication {
    background-color: #00b05b;
}

body.admin div#main div.widget {
    margin-bottom: 20px;
}

body.admin div#main div.center {
    margin-bottom: 20px;
}

body.admin div#main div.board ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
}

body.admin div#main div.board ul li {
    display: inline-block;
    margin-right: 1px;
}

body.admin div#main div.board ul li a {
    display: inline-block;
    padding: .6em 2em .2em .6em;
    color: black;
    text-decoration: none;
}

body.admin div#main div.board ul li a:hover {
    background-color: #c8babc;
}

body.admin div#main div.board a {
    padding: .3em .2em .2em .3em;
    color: grey;
    text-decoration: none;
}

body.admin div#main div.board a:hover {
    color: black;
}

