div.project-message{	
	position:relative;
	max-width:580px;
}

div.project-message div#bocadillo{
	background:url('/view/css/bocadillo.jpg') no-repeat;
	position:absolute;
	width: 50px;
	height: 50px;
	margin-top: 8px;
}
/*
div.project-message h3.title{
	font-size: 20px;
	font-weight: bold;
	line-height: 19px;
	padding-bottom:5px;
	margin-bottom:12px;
}*/
div.project-message button{
	float:right;
	margin-top: 25px;
	font-weight: normal;
	padding: 5px 20px;
	margin-bottom: 0;
	font-style: normal;
}

div.widget.project-message textarea {
    background-color: #DCEEDF;
	border: 1px solid #2EAB58;
	clear: right;
	display: block;
	float: right;
	height: 50px;
	margin: 10px -1px -1px;
	padding: 0.3em 0;
	width: 525px;
	resize:none;
}

div.widget.project-message a.preview{
	color: #2EAB58;
	font-weight: normal;
	left: 52px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	top: 10px;
	font-style: normal;
}

div.widget.project-message .button {
    float: right;
    margin: 1em 0 0;
}

