div.widget.project-needs table {
    border-collapse: collapse;
}

div.widget.project-needs table td,
div.widget.project-needs table th {
    padding: .5em;
    border-bottom: 1px dashed #C1C1C1;
}

div.widget.project-needs table th.summary div.click{
	margin-left:5px;
}
div.widget.project-needs table th.summary div.click span.icon{
	height:10px;width:10px;
	background:url(minusplus.png) 0 10px;
	position:relative;right:5px;top:3px;
	clear:left;
}

div.widget.project-needs table th.summary div.click span{
	display:block;
	float:left;
	cursor:pointer;	
	max-width:360px;
}

div.widget.project-needs table th.summary div.click span.icon.closed{
	background:url(minusplus.png) 0 0px;
}

div.widget.project-needs table th.summary div.click blockquote{
/*	display:none;  Desplegado por defecto */
    padding: 0;
    margin: 3px 0 0 0;
    font-weight: normal;
	margin-left:10px;
	clear:left;
}


div.widget.project-needs table thead th {
    text-transform: uppercase;
}

div.widget.project-needs table th.summary {
    text-align: left;
    width:  100%;
}

div.widget.project-needs table *.min,
div.widget.project-needs table *.max {
    padding: 7px 1.5em;
	text-align: center;
	vertical-align: top;
}

div.widget.project-needs table *.min {
    color: red;
}

div.widget.project-needs table thead th.summary {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

div.widget.project-needs table thead + tbody + thead th.min,
div.widget.project-needs table thead + tbody + thead th.max {
    font-size: 0;
}


div.widget.project-needs table thead th.summary,
div.widget.project-needs table thead th.summary {
    padding-left: 50px;        
    background: none no-repeat .5em .5em;
    min-height: 32px;        
    line-height: 32px;
}

div.widget.project-needs table thead + tbody + thead th.summary {
    padding-top: 1em;
    background-position: .5em 1em;
}

div.widget.project-needs table thead.task th.summary {
    background-image: url('/view/css/icon/m/task.png');
}

div.widget.project-needs table thead.structure th.summary {
    background-image: url('/view/css/icon/m/structure.png');
}

div.widget.project-needs table thead.material th.summary {
    background-image: url('/view/css/icon/m/material.png');
}

div.widget.project-needs table thead.lend th.summary {
    background-image: url('../../icon/m/lend.png');
}

div.widget.project-needs table tfoot th.total {
    text-align: right;
}

div.widget.project-needs table tfoot tr > * {
    border: none;   
}


div.widget.project-needs div#legend{}
div.widget.project-needs div#legend div.min{float:left;margin-right:15px;line-height:1em;}
div.widget.project-needs div#legend div.min span{height:10px;width:10px;border:#BB70B6 1px solid;background:#F2E5F1;display:block;float:left;margin-right:5px;}
div.widget.project-needs div#legend div.max{float:left;line-height:1em;}
div.widget.project-needs div#legend div.max span{height:10px;width:10px;border:#C1C1C1 1px solid;background:#F2F2F2;display:block;float:left;margin-right:5px;}
