@import url("project.css");

div.widget.projects > .title {
    margin-left: 3.33%;
    margin-bottom: 20px;

}

div.widget.projects div.project {
    background-color: #edecec;
    margin: 0 0 3.33% 3.33%;
    float: left;    
    padding: 0;
    width: 270px;
}

div.widget.projects div.project div.balloon {
    background: #cae4e6 url('../../balloonbeak.png') no-repeat bottom left;
    border-bottom: 15px solid white;
}

div.widget.projects div.project div.balloon > blockquote {  
    height: 4em;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

div.widget.projects div.project div.balloon > h4 {
    font-size:  14px;    
    font-weight: bold;            
    margin: 0 0 .5em;
    padding: 0;
}

div.widget.projects div.project div.description {
/*    display: none; Lo muestro y recorto caracteres*/
}

div.widget.projects > div.more {
    clear: both;
    text-align: right;
    
}

div.widget.projects > div.more a {
    text-decoration: none;
    text-transform: uppercase;
}

div.widget.projects > div.more a:hover {
    text-decoration: underline;
}

/* Estilos para el apartado WIDGETS de MIS PROYECTOS en el DASHBOARD */

div.widget.projects > .widget-title {
    margin: 0 0 5px 30px;
    padding: 0;

}
div.widget.projects > .widget-porject-legend {
	margin: 0 0 20px 30px;
	text-transform:uppercase;
}
div.widget.projects > #widget-code  {
	width:350px;
	float:left;
	margin: 0 0 0 20px;
}
div.widget.projects > #widget-code .wc-embed  {
	background: url("/view/css/social/embed.png") no-repeat;
	height:20px;
	text-transform:uppercase;
	padding: 3px 0 0 25px;
}
div.widget.projects > #widget-code blockquote  {
	width:200px;
	margin: 10px 0;
	padding:10px;
	background:#E7E7E7;
}
