div.widget.project-rewards > div.social ul li,
#rewards-summary > div.social ul li {
    background-color: #f6f9f4;
}

div.widget.project-rewards > div.individual ul li,
#rewards-summary > div.individual ul li{
    background-color: #fbf3f4;
}

div.widget.project-rewards > div.individual ul li div.amount,
#rewards-summary > div.individual ul li div.amount {
    text-align: right;
    color: #e32526;
}

#rewards-summary > div.individual ul li div.amount {
    margin-bottom: -20px;
}

div.widget.project-rewards > div.individual ul li div.amount span.euro,
#rewards-summary > div.individual ul li div.amount span.euro {
    padding: 5px 20px 5px 10px;
    margin: 0px;
    background: url('../../euro/red/s.png') no-repeat right center;
    display: inline-block;
    background-color: #e7e7e7;
}

div.widget.project-rewards > div.individual ul li div.investors,
#rewards-summary > div.individual ul li div.investors {
    color: #213f9a;
/*    border: #213f9a 1px solid; */
    padding: 2px 6px 2px 3px;
    text-transform: uppercase;
    margin-left: -60px;
    margin-top: 10px;
}

div.widget.project-rewards > div.individual ul li span.taken,
#rewards-summary > div.individual ul li span.taken {
    color: #213f9a;
    border: #213f9a 1px solid;
    margin-right: 5px;
    padding: 2px 6px 2px 6px;
}


div.widget.project-rewards ul,
#rewards-summary ul {
    margin: 1em 0;
    padding: 0;
    list-style: none;
}

div.widget.project-rewards ul li,
#rewards-summary ul li {
    padding: 10px 10px 10px 65px;
    background: none no-repeat 10px 10px;
    min-height: 32px;    
    margin-bottom: 1em;
}

div.widget.project-rewards ul li > p,
#rewards-summary ul li > p {
    margin:  0 0 1em;
}

div.widget.project-rewards ul li > .name,
#rewards-summary ul li > .name {
    margin: 0 0 .4em;
    font-size: 13px;
    font-weight: bold;
    text-transform: none;
}


div.widget.project-rewards ul li.file,
#rewards-summary ul li.file{
    background-image: url('../../icon/m/file.png');
}

div.widget.project-rewards ul li.money,
#rewards-summary ul li.money {
    background-image: url('../../icon/m/money.png');
}

div.widget.project-rewards ul li.code,
#rewards-summary ul li.code {
    background-image: url('../../icon/m/code.png');
}

div.widget.project-rewards ul li.service,
#rewards-summary ul li.service {
    background-image: url('../../icon/m/service.png');
}

div.widget.project-rewards ul li.manual,
#rewards-summary ul li.manual {
    background-image: url('../../icon/m/manual.png');
}

div.widget.project-rewards ul li.product,
#rewards-summary ul li.product {
    background-image: url('../../icon/m/product.png');
}

div.widget.project-rewards ul li.design,
#rewards-summary ul li.design {
    background-image: url('../../icon/m/design.png');
}

div.widget.project-rewards ul li.other,
#rewards-summary ul li.other {
    background-image: url('../../icon/m/other.png');
}

div.widget.project-rewards > a.more {
    display: inline-block;
    float: right;
    text-decoration: none;
}

div.widget.project-rewards ul li div.license h4,
div.widget.project-rewards ul li div.license h5,
div.widget.project-rewards ul li div.license h6,
div.widget.project-rewards ul li div.license h7,
div.widget.project-rewards ul li div.license h8,
#rewards-summary ul li div.license h4,
#rewards-summary ul li div.license h5,
#rewards-summary ul li div.license h6,
#rewards-summary ul li div.license h7,
#rewards-summary ul li div.license h8 {
    font-size: 11px;
    font-weight: bold;
    text-transform: none;
    border-bottom: 1px dashed #c8c8c8;
    margin: .5em 0 .6em;
    padding: 0 0 .2em;
}
div.widget.project-rewards ul li div.license > a strong,
#rewards-summary ul li div.license > a strong {
    background: url("/view/css/license/license.png") no-repeat left top;
    padding-top: 34px;
    display: block;
}


div.widget.project-rewards ul li div.license,
#rewards-summary ul li div.license {
    font-size: 11px;
}

div.widget.project-rewards ul li div.license  p,
#rewards-summary ul li div.license  p {
    margin: .2em 0;
}

div.widget.project-rewards ul li div.license.agpl > a strong,
#rewards-summary ul li div.license.agpl > a strong {
    background-image: url('/view/css/license/agpl.png');
}

div.widget.project-rewards ul li div.license.apache > a strong,
#rewards-summary ul li div.license.apache > a strong {
    background-image: url('/view/css/license/apache.png');
}

div.widget.project-rewards ul li div.license.balloon > a strong,
#rewards-summary ul li div.license.balloon > a strong {
    background-image: url('/view/css/license/balloon.png');
}

div.widget.project-rewards ul li div.license.bsd > a strong,
#rewards-summary ul li div.license.bsd > a strong {
    background-image: url('/view/css/license/bsd.png');
}

div.widget.project-rewards ul li div.license.cc0 > a strong,
#rewards-summary ul li div.license.cc0 > a strong {
    background-image: url('/view/css/license/cc0.png');
}

div.widget.project-rewards ul li div.license.ccby > a strong,
#rewards-summary ul li div.license.ccby > a strong {
    background-image: url('/view/css/license/ccby.png');
}

div.widget.project-rewards ul li div.license.ccbync > a strong,
#rewards-summary ul li div.license.ccbync > a strong {
    background-image: url('/view/css/license/ccbync.png');
}

div.widget.project-rewards ul li div.license.ccbyncnd > a strong,
#rewards-summary ul li div.license.ccbyncnd > a strong {
    background-image: url('/view/css/license/ccbyncnd.png');
}

div.widget.project-rewards ul li div.license.ccbyncsa > a strong,
#rewards-summary ul li div.license.ccbyncsa > a strong {
    background-image: url('/view/css/license/ccbyncsa.png');
}

div.widget.project-rewards ul li div.license.ccbynd > a strong,
#rewards-summary ul li div.license.ccbynd > a strong {
    background-image: url('/view/css/license/ccbynd.png');
}

div.widget.project-rewards ul li div.license.ccbysa > a strong,
#rewards-summary ul li div.license.ccbysa > a strong {
    background-image: url('/view/css/license/ccbysa.png');
}

div.widget.project-rewards ul li div.license.fal > a strong,
#rewards-summary ul li div.license.fal > a strong {
    background-image: url('/view/css/license/fal.png');
}

div.widget.project-rewards ul li div.license.fdl > a strong,
#rewards-summary ul li div.license.fdl > a strong {
    background-image: url('/view/css/license/fdl.png');
}

div.widget.project-rewards ul li div.license.freebsd > a strong,
#rewards-summary ul li div.license.freebsd > a strong {
    background-image: url('/view/css/license/freebsd.png');
}

div.widget.project-rewards ul li div.license.gpl > a strong,
#rewards-summary ul li div.license.gpl > a strong {
    background-image: url('/view/css/license/gpl.png');
}

div.widget.project-rewards ul li div.license.lgpl > a strong,
#rewards-summary ul li div.license.lgpl > a strong {
    background-image: url('/view/css/license/lgpl.png');
}

div.widget.project-rewards ul li div.license.mit > a strong,
#rewards-summary ul li div.license.mit > a strong {
    background-image: url('/view/css/license/mit.png');
}
div.widget.project-rewards ul li div.license.mpl > a strong,
#rewards-summary ul li div.license.mpl > a strong {
    background-image: url('/view/css/license/mpl.png');
}
div.widget.project-rewards ul li div.license.odbl > a strong,
#rewards-summary ul li div.license.odbl > a strong {
    background-image: url('/view/css/license/odbl.png');
}
div.widget.project-rewards ul li div.license.odcby > a strong,
#rewards-summary ul li div.license.odcby > a strong {
    background-image: url('/view/css/license/odcby.png');
}
div.widget.project-rewards ul li div.license.oshw > a strong,
#rewards-summary ul li div.license.oshw > a strong {
    background-image: url('/view/css/license/oshw.png');
}
div.widget.project-rewards ul li div.license.pd > a strong,
#rewards-summary ul li div.license.pd > a strong {
    background-image: url('/view/css/license/pd.png');
}
div.widget.project-rewards ul li div.license.php > a strong,
#rewards-summary ul li div.license.php > a strong {
    background-image: url('/view/css/license/php.png');
}
div.widget.project-rewards ul li div.license.tapr > a strong,
#rewards-summary ul li div.license.tapr > a strong {
    background-image: url('/view/css/license/tapr.png');
}
div.widget.project-rewards ul li div.license.xoln > a strong,
#rewards-summary ul li div.license.xoln > a strong {
    background-image: url('/view/css/license/xoln.png');
}