div.widget.project-share .title {
    border: none;
}

div.widget.project-share ul {
    list-style: none;
    overflow: visible;
    margin: 0;
    padding: 0;
}

div.widget.project-share li {
    display: block;
    padding-left: 30px;
    float: left;    
    min-height: 2em;
    line-height: 2em;
    background: no-repeat left center;
    min-width: 20%;
}

div.widget.project-share li a {
    text-decoration: none;
}

div.widget.project-share li.facebook {
    background-image: url('/view/css/social/facebook.png');
}

div.widget.project-share li.twitter {
    background-image: url('/view/css/social/twitter.png');    
}

div.widget.project-share li.identica {
    background-image: url('/view/css/social/identica.png');
}

div.widget.project-share li.url {
    background-image: url('/view/css/social/url.png'); 
}

div.widget.project-share li.embed {
    background-image: url('/view/css/social/embed.png');
}

div.widget.project-share li.url span,
div.widget.project-share li.embed span{
    display: none;
}

div.widget.project-share li.url input,
div.widget.project-share li.url input:focus,
div.widget.project-share li.embed input,
div.widget.project-share li.embed input:focus {
    border: none;
    font-size: inherit;
    background-color: #e6e6e6 !important;
    padding: .3em .4em;
    border-radius: .25em;
    -moz-border-radius: .2em;
    font-weight: normal;
}