div.widget.project-summary h1,
div.widget.project-summary h2,
div.widget.project-summary h3,
div.widget.project-summary h4,
div.widget.project-summary h5,
div.widget.project-summary h6 {
    text-transform: none;
    font-weight: bold;
    margin-top: 0;
}

div.widget.project-summary h1,
div.widget.project-summary h2,
div.widget.project-summary h3 {
    font-size: 24px;
}

div.widget.project-summary h4 {
    font-size: 18px;
}

div.widget.project-summary h5,
div.widget.project-summary h6,
div.widget.project-summary h7,
div.widget.project-summary h8 {
    font-size: 16px;
}

div.widget.project-summary > div {
    margin-bottom: 2em;
}

div.widget.project-summary ul.navi {
    list-style: none;
    height: 10px;
    z-index: 900;
    margin: 0px;
    padding: 10px;
}

div.widget.project-summary ul.navi li {
    display: block;
    float: left;
    width: 1em;
    height: 1em;
    overflow: hidden;
    margin-right: .5em;
}

div.widget.project-summary ul.navi li > * {
    display: block;
    height: 100%;
    width: 100%;
    text-indent: 2000px;
    line-height: 2000px;
}

div.widget.project-summary ul.navi li > a {
    background-color: #cdcdce;
}

div.widget.project-summary ul.navi li > a.active {
    background-color: #808184;
}

div.widget.project-summary div.gallery div.gallery-image {
    display: none;
}
