body.about div#main div.widget {
    overflow: hidden;
    margin-bottom: 15px;
}

body.about div#sub-header {
    min-height: 100px;
}

div.field {
    margin-top: 10px;
}

/* pagina Info */
#about-content {
    width:620px;
	margin: 0 20px 0 0;
	float:left;
}
#about-content h3.title {
	margin: 0px;
	padding: 13px 0 10px 30px;
	background: white url('arrowH2-section.gif') scroll no-repeat  0 0;
	height:37px;
	font-size: 20px;
    font-weight: bold;
}
#about-content div.about-page {
    background-color: white;
    margin-bottom: 20px;
    margin-top: -20px;
    padding: 10px 0px 1px;
}
#about-content .post {
	margin: 0px 30px 30px 30px;
}
#about-content .post h4 {
    text-transform: none !important;
	font-size: 20px;
    font-weight: bold;
    color: #808285;
    margin: 10px 0px !important;
}
#about-content .post .embed{
    width: 500px;
    height: 285px;
	margin: 10px 0px;
}
#about-content .post .embed-legend{
	border-left: 2px solid #58595B;
	color: #9B9B9D;
	font-size: 0.9em;
	width: 495px;
	padding-left: 10px;
	margin-bottom:10px;
	font-style:oblique
}

/* Gallery */
#about-content .post .post-gallery-container{
	width:580px;
	height:300px;
	display:none;
}
#about-content .post .post-gallery-container .gallery-image{
	text-align:left;
	width:580px;
	height:300px;
	display:block;
}
#about-content .post .gallery-image img{
	margin: 0 18px;
}
#about-content .post div.post-gallery  ul.slderpag {
    margin: 8px 0 0 0;
	list-style:none;
	padding:0px;
	float:left;
	height:auto;
}

#about-content .post div.post-gallery  ul.slderpag li{
    cursor:pointer;
    display: block;
    float: left;
    overflow: hidden;
	margin: 0px 4px 5px 4px;
}

#about-content .post div.post-gallery  ul.slderpag li a{
    width: 12px;
    height: 12px;
    margin-top: 2px;
    background-color: #cdcdce;
    color: #cdcdce;
	display:block;
}

#about-content .post div.post-gallery  ul.slderpag li a:hover{
    background-color: #20b3b2;
    color: #20b3b2;
}

#about-content .post div.post-gallery  ul.slderpag li.current a{
    background-color: #808184 !important;
    color: #808184 !important;
}

#about-content .post div.post-gallery  a.next,
#about-content .post div.post-gallery  a.prev{
    width: 16px;
    height: 16px;
	line-height: 2000px;
	overflow: hidden;
	float:left;
	margin: 8px 0 0 0;
	cursor:pointer;
/*	display: inline-block; */
}

#about-content .post div.post-gallery  a.prev{
	background: url('small_arrowslider-sprt.png') scroll no-repeat 0 0;
}

#about-content .post div.post-gallery  a.prev:hover{
	background: url('small_arrowslider-sprt.png') scroll no-repeat 0 -32px;
}

#about-content .post div.post-gallery  a.next{
	background: url('small_arrowslider-sprt.png') scroll no-repeat 0 -16px;
}

#about-content .post div.post-gallery  a.next:hover{
	background: url('small_arrowslider-sprt.png') scroll no-repeat 0 -48px;
}

/*
#about-content .post .gallery{
	margin-bottom: 10px !important;
}
#about-content .post .gallery ul{
	margin-left: -14px !important;
}
#about-content .post .gallery-image{
	text-align:left;
}
#about-content .post .gallery-image img{
	// margin: 10px 0px;
}
*/
#about-sidebar {
    width:300px;
	float:right;
}
div.widget.about-sidebar-module {
    background-color: white;
    line-height: 18px;
    margin: 0 0 20px;
}
div.widget.about-sidebar-module .supertitle {
    border-bottom: 1px solid #20b3b2;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 3px;
    padding: 6px;
    color: #58595b;
}
div.widget.about-sidebar-module ul {
	padding-left: 20px;
    list-style: decimal;
}
div.widget.about-sidebar-module ul li {
    margin:0 0 5px 0;
}
div.widget.about-sidebar-module ul li a {
    color: #808285;
	text-decoration:none;
}
div.widget.about-sidebar-module ul li a:hover {
	text-decoration:underline;
}
/* fin pagina Info*/

/* Cuadro de mensaje */
div.widget.contact-message label {
    margin-left: 1px;
}

div.widget.contact-message input {
    display: block;
    background-color: #dceedf;
    width: 350px;
    margin: -1px;
    padding: .3em 0;
}

div.widget.contact-message textarea {
    display: block;
    background-color: #dceedf;
    width: 350px;
    margin: -1px;
    padding: .3em 0;
}

div.widget.contact-message .button {
    float: right;
    margin: 1em 0 0;
}
/* fin Cuadro de mensaje */