/* Content syles */ 
#blog-content {
    width:620px;
	margin: 0 20px 0 0;
	float:left;
}
#blog-sidebar {
    width:300px;
	float:right;
}
div.widget.blog-content-module,
div.widget.blog-sidebar-module, 
#blog-content .post{
    background-color: white;
    line-height: 18px;
    margin: 0 0 20px;
}
div.widget.blog-content-module h4 a,
#blog-content .post h4 a {
    font: bold 18px Helvetica, Arial, Geneva, sans-serif;
	margin: 0 0 5px 0;
	text-transform:none;
	color:#535353;
	text-decoration:none;
}
div.widget.blog-content-module .date,
#blog-content .post  .date{
    display:block;
	color:#cabcbf;
	margin: 0 0 5px 0;
}
div.widget.blog-content-module .categories,
#blog-content .post .categories{
    display:block;
	margin: 0 0 8px 0;
}
div.widget.blog-content-module .categories a,
#blog-content .post .categories a {
	color:#808285;
    text-decoration: none;
}
div.widget.blog-content-module .categories a:hover,
#blog-content .post .categories a:hover {
	color:#535353;
}
div.widget.blog-content-module  blockquote,
#blog-content .post blockquote{
	color: #58595B;
	padding: 0 0 20px 0;
	border-bottom: 1px solid #CABCBF;
	margin: 18px 18px 12px 18px;
}
div.widget.blog-content-module  blockquote div.read_more {
    text-align: right;
}
div.widget.blog-content-module  blockquote div.read_more a {
    text-decoration: none;
    text-transform: uppercase;
}
div.widget.blog-content-module  .embed,
#blog-content .post .embed{
    width: 500px;
    height: 285px;
	margin: 10px  30px;
}
div.widget.blog-content-module  .image,
#blog-content .post .image{
	display:block;
	text-align:center;
}
div.widget.blog-content-module  .image img,
#blog-content .post .image img{
	margin: 0 auto;
}
div.widget.blog-content-module .comments-num,
#blog-content .post .comments-num{
	float:left;
	background: transparent url('ico-blogcomment.png') scroll no-repeat  0 0;
	padding: 0 0 0 26px;
	height:24px;
	margin: 0 0 0 20px;
}
div.widget.blog-content-module .comments-num a,
#blog-content .post .comments-num a {
	color:#00ad4e;
	text-decoration:none;
}
/** Comments like messages **/
div.post-comments div.message {
    background: #e7e7e7 url('/view/css/message/beak/1.png') no-repeat left top;
    margin-left: 60px;
    padding: .5em 1em .5em 1.5em;
    overflow: visible;
    position: relative;
}

div.post-comments div.owner {
    background: #e9f4ea url('/view/css/message/beak/2.png') no-repeat left top !important;
}

div.post-comments div.message + div.message {
    margin-top: 20px;
}

div.post-comments div.message .avatar {
    position: absolute;
    left: -60px;
    top: 0;
    display: block;
    width: 50px;
    height: 50px;
/*    background: url('../../avatar/s.png');    //@FIXME revisar esto porque los avatares trasparentes o pequeños salen con este abajo*/
}

div.post-comments div.message .user {
    text-transform: none;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 1em;
    float: left;
}

div.post-comments div.message .date {
    float: right;
    color: #808080;
    font-size: 11px;
}

div.post-comments div.message blockquote {
    margin: 0;
    padding: 0;
    clear: both;
}
/** end Comments like messages**/
/** share goteo **/
div.widget.blog-content-module ul.share-goteo,
#blog-content .post ul.share-goteo {
	margin: 0 20px  0 0;
	padding:0px;
	list-style:none;
	float:right;
}
div.widget.blog-content-module ul.share-goteo li,
#blog-content .post ul.share-goteo li{
	display:inline;
	float:left;
	margin: 0 0 0 10px;
}
div.widget.blog-content-module ul.share-goteo li.twitter a,
div.widget.blog-content-module ul.share-goteo li.facebook a,
div.widget.blog-content-module ul.share-goteo li.rss a,
#blog-content .post  ul.share-goteo li.twitter a,
#blog-content .post  ul.share-goteo li.facebook a,
#blog-content .post  ul.share-goteo li.rss a{
	height:20px;
	float:left;
	padding: 0 0 0 25px;
}
div.widget.blog-content-module ul.share-goteo li.sharetext,
#blog-content .post ul.share-goteo li.sharetext{
	height:20px;
	float:left;
	color:#cabcbf;
}
div.widget.blog-content-module ul.share-goteo li.twitter a,
#blog-content .post ul.share-goteo li.twitter a{
	background: transparent url('twitter.png') scroll no-repeat  0 0;
	color:#13c2ec;
	text-decoration:none;
}
div.widget.blog-content-module ul.share-goteo li.facebook a,
#blog-content .post ul.share-goteo li.facebook a{
	background: transparent url('facebook.png') scroll no-repeat  0 0;
	color:#4a6393;
	text-decoration:none;
}
/** end of share goteo **/
/** blog pagination **/
 #blog-content ul.pagination {
	list-style:none;
	float:left;
	margin: 0px;
	padding:0px;
} 
#blog-content ul.pagination li {
	display:inline;
	margin: 0 6px 0 0;
	background: white;
	width: auto;
	float: left;
	text-align: center;
	-moz-box-shadow: 3px 3px 0px #E2E2E2;
	-webkit-box-shadow: 3px 3px 0px #E2E2E2;
	box-shadow: 3px 3px 0px #E2E2E2;
} 
#blog-content ul.pagination li.selected {
	background:#cde4e5;
	font-weight:bold;
	padding: 6px 20px;
} 
#blog-content ul.pagination li.hellip {
	padding: 6px 20px;
} 
#blog-content ul.pagination li a {
	display: block;
	padding: 6px 20px;
	text-decoration:none;
	font-weight:bold;
} 
#blog-content ul.pagination li a:hover {
	background:#cde4e5;
} 
/** end of blog pagination **/
/** blog comments **/
/*
// he copaido mas arriba el css de mensajes
#blog-content h5 {
	font: bold 16px Helvetica, Arial, Geneva, sans-serif;
	text-transform:uppercase;
	color:#535353;
}
#blog-content div.message {
    margin-left: 60px;
    padding: 0em 1em .5em 1.5em;
    overflow: visible;
    position: relative;
	border-bottom: 1px solid #cabcbf;
}
#blog-content div.message {
    margin-top: 20px;
}
/// esta flechita realmente es lo que hay en mensajes pero no lo pintaron bien
#blog-content div.message .arrow-up {
    position: absolute;
    left: -60px;
    top: 0;
    display: block;
    width: 50px;
    height: 50px;
    background: url('over-blogavatar.png') scroll no-repeat  0 0 transparent; 
	z-index:9;
}
#blog-content div.message .avatar {
    position: absolute;
    left: -60px;
    top: 0;
    display: block;
    width: 50px;
    height: 50px;   
	z-index:0;
}
#blog-content div.message .user {
    text-transform: none;
	font: bold 12px Helvetica, Arial, Geneva, sans-serif;
    margin: 0.8em 0 1em;
    float: left;
}
#blog-content div.message .date {
    float: right;
    color: #808080;
    font-size: 11px;
}
#blog-content div.message blockquote {
    margin: 0;
    padding: 0;
    clear: both;
}
*/
/* send Comment */
#blog-content div.widget.blog-comment {
    margin: 20px 0 0 0;
}
#blog-content div.widget.blog-comment h5 {
    margin: 0 0 5px 0;
}
#blog-content div.widget.blog-comment textarea {
	display:block;
	width:565px;
}
#blog-content div.widget.blog-comment input.button {
	margin: 20px 0 0 0;
	float:right;
}
/* end send comment */
/** end of blog comments **/
/* end of Content syles */ 
/* Sidebar styles */
div.widget.blog-sidebar-module h3.title {
    border-bottom: 1px solid #20b3b2;
	color: #20b3b2;
    font: normal 15px Helvetica,Arial,Geneva,sans-serif;
    margin: 0 0 1em;
    padding: 0 2px 0.2em;
}
div.widget.blog-sidebar-module ul#blog-side-posts{
    margin:0 25px;
	padding: 0;
}
div.widget.blog-sidebar-module ul#blog-side-posts li{
    margin:0 0 10px 0;
}
div.widget.blog-sidebar-module ul#blog-side-posts li a{
	text-decoration:none;
}
div.widget.blog-sidebar-module ul#blog-side-tags,
div.widget.blog-sidebar-module ul#blog-side-comments{
    margin:0 10px;
	padding: 0;
	list-style:none;
}
div.widget.blog-sidebar-module ul#blog-side-tags li{
    margin:0 0 5px 0;
}
div.widget.blog-sidebar-module ul#blog-side-tags li a{
	text-decoration:underline;
	color:#e32526;
}
div.widget.blog-sidebar-module ul#blog-side-comments li .date{
    color:#cabcbf;
	margin: 10px 0;
}
div.widget.blog-sidebar-module ul#blog-side-comments li{
    margin:0 0 20px 0;
}
div.widget.blog-sidebar-module ul#blog-side-comments li p{
	margin: 0px;
}
/* end of Sidebar styles */

