/* traido desde /view/css/call/view.css */
body.discover div#main div.widget.calls > div {
    margin-bottom: 15px;
    position: relative;
    display: block;
}

/* inicio   cabecera */
body.discover div#main div.widget.calls div.title,
body.home div#main div.widget.calls div.title {
    background-position: -6px 0px !important;
    height: 50px;
}

body.discover div#main div.widget.calls div.title div.logo,
body.home div#main div.widget.calls div.title div.logo {
    background:url('/view/css/call/logo_riego.png') 0px 0px no-repeat transparent;
    padding: 10px 0px 0px 60px;
    text-transform: uppercase;
    height: 60px;
}

body.discover div#main div.widget.calls div.title div.logo,
body.discover div#main div.widget.calls div.title div.call-count,
body.home div#main div.widget.calls div.title div.logo, 
body.home div#main div.widget.calls div.title div.call-count {
    float: left;
    margin-right: 90px;
}

body.discover div#main div.widget.calls div.title div.call-count.mod1,
body.home div#main div.widget.calls div.title div.call-count.mod1 {
    color: #E22727;
}

body.discover div#main div.widget.calls div.title div.call-count.mod2,
body.home div#main div.widget.calls div.title div.call-count.mod2 {
    color: #20B2B3;
}

body.discover div#main div.widget.calls div.title div.call-count strong,
body.home div#main div.widget.calls div.title div.call-count strong {
    font-size: 3em;
    display: inline-block;
}

body.discover div#main div.widget.calls div.title div.call-count span,
body.home div#main div.widget.calls div.title div.call-count span {
    font-size: 0.6em;
    text-transform: uppercase;
    line-height: 1.5em;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    padding-top: 8px;
}
/* hasta aqui la cabecera */

body.home div#main div.widget.calls div.slder_calls,
body.home div#main div.widget.calls div.slder_campaigns {
    margin: 0px 4px;
    position: relative;
    display: block;
}

div.call {
    display: inline-block;
    height: 230px;
    width: 888px;
    margin: 0;
    overflow: hidden;
    clear: both;
    background-color: #F5F5F5;
}

div.call.active {
    background-color: #EBEBEB;
}

div.call a.expand {
    bottom: 0;
    left: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

div.call div.image,
div.call div.name,
div.call div.data {
    float: left;
}

div.call div.name {
    padding: 30px 10px 0px 20px;
    overflow: hidden;
}

div.call div.name h3 {
    margin-top: 20px;
    width: 170px;
    overflow: visible;
}
div.call div.name h3 a {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    color: #20B2B3;
    text-transform: uppercase;
    text-decoration: none;
}

div.call div.data {
    width: 450px;
    padding-top: 10px;
    height: 90%;
}

div.call div.data ul {
    margin: 0;
    padding: 0;
}

div.call div.data ul > li{
	list-style-type: none;
	padding: 5px;
	overflow: hidden;
}

/* description */
div.call div.data li#description.item p.subtitle {
	color: #95268d;
	font-weight: normal;
	font-size: 15px;
	margin: 0 0 10px;
}

div.call div.data li#description.item p.subtitle.red {
	font-weight: bold;
	color: #E22727;
	font-size: 1.8em;
	margin: 0 0 .4em;
}

div.call div.data li#description.item p.subtitle strong {
	text-transform: uppercase;
}

/* numbers */
div.call div.data li#numbers div.row {
	overflow: hidden;
	margin: 0 0 10px;
	clear: both;
}

div.call div.data li#numbers dl.block {
	float: left;
	overflow: hidden;
	width: 97px;
	margin: 0;
	padding-right: 15px;
	overflow: hidden;
}

div.call div.data li#numbers dl.long {
	width: 155px;
}

div.call div.data li#numbers dl.last {
	padding-right: 0;
}

div.call div.data li#numbers dl.block dt {
	height: 26px;
	font-size: 11px;
	text-transform: uppercase;
}

div.call div.data li#numbers dl.block dd {
	min-height: 36px;
	font-size: 34px;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

li#numbers dl.longer {
	width: 310px !important;
}

li#numbers dl.resources dd {
	color: #1db3b2;
	text-decoration: none;
	font-size: 11px !important;
	font-weight: normal;
}

li#numbers dl.resources dt {
	height: 20px !important;
}


div.call div.data li#numbers dl.expires dd {
	color: red;
	font-size: 20px !important;
}

div.call div.data li#numbers dl.expires dd strong {
	font-size: 34px;
}

div.call div.data li#numbers dl.applied dd,
div.call div.data li#numbers dl.selected dd {
	color: #1db3b2;
	font-size: 34px;
}

div.call div.data li#numbers dl.location {
	margin-bottom: 0;
	border-bottom: 0;
}

div.call div.data li#numbers dl.location dt {
	height: 28px;
}

div.call div.data li#numbers dl.location dd {
	font-size: 10px;
	font-weight: normal;
	padding-left: 12px;
	padding-top: 3px;
    background: url('/view/css/location/s.png') no-repeat left top;
    text-indent: .5em;
}

div.call div.data li#numbers dl.location dd a {
	font-size: 10px;
	text-decoration: none;
	color: #58595b;
}

div.call div.data li#numbers dl.location dd a:hover {
	text-decoration: underline;
}

div.call div.data .money {
	color: #95268d;
}

div.call div.data .light {
	color: #ba72b5;
}


div.call div.data span.euro {
    background: url("/view/css/euro/violet/xl.png") no-repeat right center;
    color: #96238F;
    display: inline-block;
    height: 27px;
    width: 27px;
    line-height: 2000px;
    margin-bottom: -1px;
    overflow: hidden;
}

div.call div.data .light span.euro {
    background: url("/view/css/euro/light-violet/xl.png") no-repeat right center;
}

/* Retornos */
div.call div.data li#numbers dl.return {
	min-height: 80px; 
	width: 220px;
}

div.call div.data li#numbers dl.return dd {
	font-size: 11px;
}

div.call div.data li#numbers dl.return dt {
	height: 20px !important;
}

div.call div.data .return ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 910;
}

div.call div.data .return ul li {
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 2000px;
    text-indent: 2000px;
    overflow: hidden;
    background-image: url('/view/css/icon/s/blank.png');
    background-repeat: no-repeat;
    opacity:0.60;
	margin-right: 5px;
    padding: 0px;
    filter:alpha(opacity=60);
}

div.call div.data .return ul li.active {
    opacity: 1 !important;
    filter:alpha(opacity=100) !important;
}

div.call div.data .return ul li a {
    display: block;
    width: 21px;
    height: 21px;
    line-height: 2000px;
    text-indent: 2000px;
    position: relative;
    z-index: 910;
}

div.call div.data .return ul li.file  {
    background-image: url('/view/css/icon/s/file.png');
}

div.call div.data .return ul li.money {
    background-image: url('/view/css/icon/s/money.png');
}

div.call div.data .return ul li.code {
    background-image: url('/view/css/icon/s/code.png');
}

div.call div.data .return ul li.service {
    background-image: url('/view/css/icon/s/service.png');
}

div.call div.data .return ul li.manual  {
    background-image: url('/view/css/icon/s/manual.png');
}

div.call div.data .return ul li.product {
    background-image: url('/view/css/icon/s/product.png');
}

div.call div.data .return ul li.design {
    background-image: url('/view/css/icon/s/design.png');
}

div.call div.data .return ul li.other {
    background-image: url('/view/css/icon/s/other.png');
}
/* hasta aqui datos */

/* Flechas portada */
div.callrow a.prev,
div.callrow a.next {
    width: 24px;
    position:relative;
    color: white;
    line-height: 27px;
    text-indent: 24px;
    display: inline-block;
    cursor: pointer;
}

div#calls a.prev {
    top: 121px;
    left: -295px;
}

div#campaigns a.prev {
    top: 121px;
    left: -21px;
}

div#calls a.next,
div#campaigns a.next {
    left: 894px;
    bottom: 137px;
}

div.callrow a.prev {
	background: url('arrowslider-sprt.png') scroll no-repeat 0 0;
}

div.callrow a.prev:hover {
	background: url('arrowslider-sprt.png') scroll no-repeat 0 -48px;
}

div.callrow a.next {
	background: url('arrowslider-sprt.png') scroll no-repeat 0 -24px;
}

div.callrow a.next:hover {
	background: url('arrowslider-sprt.png') scroll no-repeat 0 -72px;
}

body.home div#main div.widget.calls a.all {
    text-decoration: none;
    text-transform: uppercase;
    position:relative;
    right: -840px;
    font-size: 0.9em;
}

body.home div#main div.widget.calls a.all:hover{
    color: #20B3B2;
}

/** Tagmarks widget **/
div.call div.image div.tagmark {
    position: absolute;
    z-index: 899;
    text-align: left;
    color: #ffffff;
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
    width: 200px;
    height: 31px;
	font-style: normal;
	margin-top: 8px;
	line-height: 32px;
	padding: 1px 0px 0px 30px;
}

div.call div.image div.tagmark.aqua {
    background:url('/view/css/project/tagmark_green.png') 0 0 no-repeat;
}

div.call div.image div.tagmark.red {
    background:url('/view/css/project/tagmark_red.png') 0 0 no-repeat;
}
/** Fin tagmarks **/

