* {
    font-family: Helvetica, Arial, Geneva, sans-serif;
}

html {
    height: 100%;
    margin: 0;
    overflow: auto;
}

html, body {        
    padding: 0;    
    background-color: #e7e7e7;    
}

body {
    min-width: 780px;
}

body, td, th, a, a:link, a:visited, a:active, a:hover, input, textarea, button {    
    font-size: 13px;
    color: #58595b;
}

input, textarea, button {
    font-size: 14px;
}

body {
    min-height: 100%;    
    margin: 0 auto;
    top: 0;
    position: relative;
}

h1 {
    display: none;
}

input[type="text"],
input[type="password"],
textarea,
fieldset {
    border: 1px solid #58595b;
    background-color: #d7d9da;
    padding: .3em;    
}

fieldset {
    display: inline-block;
    background: transparent;    
}

textarea {
    min-height: 8em;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {    
    background-color: white !important;
}

input[type="submit"],
input[type="reset"],
button,
a.button {
    background-color: #58595B;
    padding: .6em 1.3em;
    text-transform: uppercase;
    border: none;    
    cursor: pointer;
    font-weight: normal;
    margin: 0;
    color: white;
    margin: .5em 0;
    display: inline-block;
    text-decoration: none;    
    text-align: center;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #149290 url('button/aqua.png') repeat-x top;   
}

input[type="submit"]:active,
input[type="reset"]:active,
button:active,
a.button:active {
    background: #60c1bf url('button/aqua-active.png') repeat-x top;    
}

input.red[type="submit"],
input.red[type="reset"],
button.red,
a.button.red {    
    background: #b5161e url('button/red.png') repeat-x top;    
    color: white;    
} 

input.red[type="submit"]:active,
input.red[type="reset"]:active,
button.red:active,
a.button.red:active {
    background: #e44133 url('button/red-active.png') repeat-x top;    
} 

input.green[type="submit"],
input.green[type="reset"],
button.green,
a.button.green {
    background-color: #00b05b;
} 

h1, h2, h3, h4, h5, h6, h7, h8 {
    font-weight: bold;        
    text-transform: uppercase;
    margin: 1em 0;
}