body{
	overflow:hidden !important;
}

div#footer ul {
	margin:0;padding:0;
}

div#footer {  
	width:100%;  
	height: 150px;
	margin:0;
	padding: 20px 0 10px 0;
	
    position: relative;		
    background-color: #faf8f8;         
    z-index: 0;    
    /*max-width: 940px;*/
    bottom: 0;
    overflow: hidden;
    clear: both;
    color: #1f1d1e;
    font-size: 12px;
    text-decoration: none;   
}

div#sub-footer{
	width:100%;
    margin: 0;
	height:25px;
    font-size: 12px;
    overflow: hidden;
    background-color: #58595B;
	float:none !important;
	color:#fff;
}

div#footer .w940,
div#sub-footer .w940 {
	width:940px;
	margin:0 auto;
}

/*generics*/
div#footer a,div#subfooter a{
	text-decoration:none;
}

div#subfooter a:hover{
	color:#1db3b2;
}

/*hijos de footer*/
div#footer div.block{
	float:left;
	width:148px;
	height: 142px;
	padding-left:15px;	
	border-left:#ebe9ea 2px solid;	
    overflow: hidden;
}


/*
div#footer div#social{
	width:125px;
}
div#footer div#sponsors{
	width:225px;	
}
div#footer div#services{
	width:115px;
}
*/


/*hijos de div.block*/
div#footer div.block h8{
	font-size:11px;
	color:#59595C;
}

div#footer div.block ul{
	list-style:none;
	margin-top:15px;
	height:115px;
	overflow:auto;
}

div#footer div.block ul li{
	line-height:12px;
    margin-bottom:5px;
    font-size:11px;
}

div#footer div.block ul li a{
	font-size:11px;
	color:#808285;
}

div#footer div.block ul li a:hover{
	color:#1db3b2;
}

div#footer .scroll-pane
{
	width: 100%;
	height: 200px;
	overflow: auto;
}
div#footer .horizontal-only
{
	height: auto;
	max-height: 200px;
}

/*particular de social*/
div#footer div.social{
	width:108px !important; /*+15 left padding = w 125*/
}

div#footer div.social ul{
	overflow:visible;
}

div#footer div.social ul li{
	height:18px;
	font-size:11px;	
	margin-bottom:5px;
}

div#footer div.social ul li a{
	margin:0;
	font-size:11px; 
    padding-left: 30px;
    display: block;
    background: no-repeat left center;
    line-height: 20px;
}

div#footer div.social li a:hover{
	opacity:0.7;
	filter:alpha(opacity=70)
}

div#footer div.social li.twitter a {
    color: #6dc7eb;
    background-image: url('twitter.png');
}

div#footer div.social li.facebook a {
    color: #4e6091;
    background-image: url('facebook.png');
}

div#footer div.social li.identica a {
    color: #c42f31;
    background-image: url('identica.png');
}

div#footer div.social li.gplus a {
    color: #5075aa;
    background-image: url('google.png');
}

div#footer div.social li.rss a {
    color: #ee8226;
    background-image: url('rss.png');
}


/*particular de apoyo social*/
div#footer div.sponsors{
	width:188px !important; /*+15 left padding = w 125*/
}

div#footer div.sponsors > .sponsor {
    height: 100px;
    margin: 20px 10px 0;
}

/*particular de servicios*/
div#footer div.services{

}

div#footer div.services ul li a{
	text-transform:uppercase;
}



div#footer div.sponsors {
    position: relative;
    width: 165px;
    min-width: 0 !important;
}

div#footer div.services {
    position: relative;
    width: 96px;
    min-width: 0 !important;
}


/*particular de sponsor*/
div#footer div.sponsors img#current{
	margin-left:13px;
	margin-top:20px;
}


/*hijos de sub-footer*/
div#sub-footer ul{
	float:left;
	max-width:700px;
	padding-left:0;
}

div#sub-footer ul li{
	display:inline-block;
	color:#fff;
	margin-right:50px;
}

div#sub-footer ul li a{
	text-decoration:none;
	text-transform:uppercase;
	color:#fff;
}

div#footer .platoniq{
	float:right;
	font-size:11px;
}

div#footer .platoniq a{
	display:block;
	background:url('platoniq.png');
}
div#sub-footer + * {
    font-size: 12px;
    border-top: 2.2em solid #59595c;
    margin-top: -2.2em;
}

div#sub-footer ul {
    margin-top: 5px;
    list-style: none;
}

div#sub-footer a {
    color: #e9e3dc;
    font-size: 11px;
}

div#sub-footer a:hover {
    color: #8ed9d8 !important;
}

div#sub-footer div.platoniq {
    padding-top: 0;
    border-width: 0;
    min-width: 0 !important;
	position:relative;
	float:right;
}

div#sub-footer div.platoniq span.text{
	margin-right:15px;
}

/*div#sub-footer div.platoniq * {
    text-transform: lowercase;
    font-size: 11px;
}
*/
div#sub-footer div.platoniq a {
    display: inline-block;
    width: 60px;
    height: 17px;
    background: url('platoniq.png') no-repeat;
    text-indent: 2000px;
    line-height: 2000px;
    overflow: hidden;
	position:relative;
	top:5px;
}

div#sub-footer div.platoniq a:hover{
	background: url('platoniq2.png') no-repeat;
}

/* Sponsors */
.slidersponsors-ctrl {
	max-width: 940px;
	margin: 0 auto;
	list-style:none;
	padding:0px;
    display: block;
    position: absolute;
    top: 110px;
}

.slidersponsors-ctrl li {
	cursor:pointer;
    display: block;
    float: left;
    overflow: hidden;
    margin-bottom: 5px;
}

.slidersponsors-ctrl li.navi > * {
    display: block;
    height: 100%;
    width: 100%;
    text-indent: 2000px;
    line-height: 2000px;
    margin: 0px 3px;
}

.slidersponsors-ctrl li.navi a {
    width: 10px;
    height: 10px;
    margin-top: 3px;
    background-color: #cdcdce;
    color: #cdcdce;
}

.slidersponsors-ctrl li.navi a:hover {
    background-color: #e3262a;
    color: #e3262a;
}

.slidersponsors-ctrl li.navi a.active {
    background-color: #808184 !important;
    color: #808184 !important;
}

.slidersponsors-ctrl li.prev,
.slidersponsors-ctrl li.next {
    width: 16px;
    height: 16px;
	line-height: 2000px !important;
	overflow: hidden;
/*	display: inline-block; */
}

.slidersponsors-ctrl li.prev {
	background: url('small_arrowslider-sprt.png') scroll no-repeat 0 0;
}

.slidersponsors-ctrl li.prev:hover {
	background: url('small_arrowslider-sprt.png') scroll no-repeat 0 -32px;
}

.slidersponsors-ctrl li.next {
	background: url('small_arrowslider-sprt.png') scroll no-repeat 0 -16px;
}

.slidersponsors-ctrl li.next:hover {
	background: url('small_arrowslider-sprt.png') scroll no-repeat 0 -48px;
}
