
/**
 * Common elements & layout
*/

* {
    font-family: Helvetica, Arial, Geneva, sans-serif;
}

html {
    height: 100%;
    margin: 0;
    overflow: auto;
}

html, body {        
    padding: 0;    
    background-color: #e7e7e7;    
}

body, td, th, a, a:link, a:visited, a:active, a:hover, input, textarea, button {    
    font-size: 14px;
}

body {
    min-height: 100%;    
    margin: 0 auto;
    top: 0;
    position: relative;
}

input[type="text"],
input[type="password"],
textarea,
fieldset {
    border: 1px solid #58595b;
    background-color: #d7d9da;
    padding: .3em;    
}

fieldset {
    display: inline-block;
    background: transparent;    
}

textarea {
    min-height: 8em;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {    
    background-color: white !important;
}

input[type="submit"],
input[type="reset"],
button {
    background-color: #58595B;
    padding: .4em 1.5em;
    text-transform: uppercase;
    border: none;    
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    color: white;
    line-height: 12px;
    margin: .5em 0;
}

input.add[type="submit"],
input.add[type="reset"],
button.add {
    background-image: url('form/button/add.png');
    background-repeat: no-repeat;
    background-position: .6em center;
    padding-left: 2em;
}

h1, h2, h3, h4, h5, h6, h7, h8 {
    font-weight: bold;        
    text-transform: uppercase;
    margin: 1em 0;
}

/* Menu */

div#menu {
    background-color: #333;        
}

div#menu > ul {    
    list-style: none;
    padding: 0 0 0 116px;
    z-index: 999;    
    height: 40px;
    max-width: 824px; 
    position: relative;
    margin: 0 auto;    
    font-size: 0; /* aka *Ignore whitespace between li's* */
}

div#menu > ul > li {
    border: 1px solid #7f8083; 
    border-width: 0 1px 0 0;
    display: inline-block;
    position: relative;
}

div#menu > ul > li,
div#menu > ul > li > a  {
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;    
}

div#menu > ul > li > a {
    display: table-cell;
    vertical-align: bottom;
    height: 40px;
}

div#menu > ul > li > a > span {
    display: block;
    padding: 4px 36px 4px 14px;
}

div#menu > ul > li > a:hover {
    background-color: #7f8083;
}

div#menu > ul > li.home {    
    width: 116px;
    height: 47px;
    border: none;
    position: absolute;
    left: 0;
}

div#menu > ul > li.home a {
    display: block;
    width: 116px;
    height: 47px;
    line-height: 2000px;
    text-indent: 2000px;
    background: url('logo-home.png') no-repeat left bottom;
    overflow: hidden;
    padding: 0;
}

div#menu > ul > li.home a:hover {
    background-position: right bottom;
}

div#menu > ul > li.language > a,
div#menu > ul > li.community > a {
    width: 42px;
    overflow: hidden;
    display: block;
    background: no-repeat center center;
    line-height: 2000px;
    text-indent: 2000px;
}

div#menu > ul > li.language > a {
    background-image: url('language.png');
}

div#menu > ul > li.language ul {
    display: none;
}

div#menu > ul > li.community > a {
    background-image: url('community.png');
}

div#menu > ul > li.explore > a > span, 
div#menu > ul > li.create > a > span {
    border-bottom: 2px solid;  
}


div#menu > ul > li.explore > a > span {
    border-color: #ef4243;
}

div#menu > ul > li.explore > a:hover {
    background-color: #ef4243;
}

div#menu > ul > li.create > a > span {
    border-color: #20b3b2;
}

div#menu > ul > li.create > a:hover {
    background-color: #20b3b2; 
}

div#menu > ul > li.blog {}
div#menu > ul > li.faq {}

div#menu > ul > li.search {    
    height: 100%;
    border: none;
    min-width: 14em;
}

div#menu > ul > li.search form {    
    padding: 0 .2em;
    margin: 8px 14px;
    border: solid white;
    border-width: 0 1px 1px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;    
    text-align: center; 
}

div#menu > ul > li.search form input[name="query"] {
    background: none;
    border: none;
    color: white;
    font-size: 11px;
    padding: .2em 0;    
    width: 100%;
    min-width: 10em;
    text-transform: uppercase;
}

div#menu > ul > li.search form input[type="submit"] {
    width: 24px;
    height: 100%;
    background: transparent url('searchbox.png') no-repeat center bottom;
    overflow: hidden; 
    line-height: 2000px;
    text-indent: 2000px;
    border: none;
    padding: 0;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;            
    cursor: pointer;
}

div#menu > ul > li.login,
div#menu > ul > li.dashboard {
    position: relative;
    float: right;
    border-left-width: 1px;
}


div#menu > ul > li.login > a > span {
    padding-right: 14px;
}

div#menu > ul > li.dashboard > a > span {
    padding-right: 60px;    
}

div#menu > ul > li.dashboard > a > span > em {
    display: block;
    position: absolute;
    right: 14px;
    bottom: 4px;
    background: url('user-s.jpg') no-repeat;
    overflow: hidden;
    width: 32px;
    height: 32px;
    line-height: 2000px;
    text-indent: 1000px;
    overflow: hidden;
}

div#menu > ul > li.login > div,
div#menu > ul > li.dashboard > div {
    position: absolute;
    background-color: #21b0b0;
    display: none;
    min-width: 100%;
    right: 0;
}

div#menu > ul > li.dashboard > div > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

div#menu > ul > li.dashboard > div > ul > li {
    border-bottom: 1px solid white;
}

div#menu > ul > li.dashboard > div > ul > li a {    
    font-size: 12px;
    text-decoration: none;
    color: white;
    text-transform: none;
    padding: 8px 14px;
    display: block;
}

div#menu > ul > li.dashboard > div > ul > li a:hover {
    background-color: #77c2c3;
}

div#menu > ul > li.dashboard > div > ul > li.logout {
    border-bottom: none;
}

div#menu > ul > li.dashboard > div > ul > li.logout a {
    color: #ee4843;
}

div#menu > ul > li.dashboard > div > ul {
    list-style: none;
}

div#menu > ul > li.login > div > form {    
    padding: 10px;
    margin:  0;
}

div#menu > ul > li.login:hover,
div#menu > ul > li.dashboard:hover {
    background-color: #7f8083;
}

div#menu > ul > li.login:hover > div,
div#menu > ul > li.dashboard:hover > div {
    display: block;
}

/* Sub-header */ 
div#sub-header {
    background-color: white;
    clear: both;
    padding: 20px 0;
}

div#sub-header > div {
    display: block;
    max-width: 940px;
    margin: 0 auto;
}

div#sub-header > div > h2 {
    margin: 0;
    padding: 0;
}

/* Footer */
div#footer {    
    background-color: white;     
    height: 8em;
    z-index: 0;    
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    bottom: 0;
    overflow: hidden;
    border-bottom: 25px solid white;
    padding-top: 35px;
}

div#footer hr {
    display: none;
}

div#footer * {
    color: #1f1d1e;
    font-size: 12px;
    text-decoration: none;    
}

div#footer > div p, div#footer > div ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 180%;
}

div#footer > div {
    border-left: 1px solid #e3dcdd;
    float: left;
    padding: 5px 15px;    
    margin-top: -10px;
    height: 100%;
    min-width: 135px;
}

div#footer div.platoniq {
    padding-top: 0;
    border-width: 0;
    min-width: 0 !important;
}

div#footer div.platoniq * {
    text-transform: lowercase;
    font-size: 11px;
}

div#footer div.platoniq a {
    display: block;
    width: 94px;
    height: 17px;
    text-indent: 2000px;
    line-height: 2000px;
    overflow: hidden;
    background: url('platoniq.png') no-repeat;
    margin-top: .2em;
}

div#footer div.other-projects ul {
    margin-top: 5px;
    list-style: disc inside;
}


div#footer div.social li a {
    font-size: 13px;    
    padding-left: 30px;
    display: block;
    background: no-repeat left center;
    line-height: 28px;
    margin-bottom: 10px;
}

div#footer div.social li.twitter a {
    color: #6dc7eb;
    background-image: url('twitter.png');
}

div#footer div.social li.facebook a {
    color: #4e6091;
    background-image: url('facebook.png');
}

div#footer div.social li.rss a {
    color: #ee8226;
    background-image: url('rss.png');
}

div#footer div.goteo {
    position: relative;
    float: right;
    width: 28px;
    min-width: 0 !important;
}

div#footer div.goteo a {
    width: 18px;
    height: 25px;
    overflow: hidden;
    line-height: 2000px;
    text-indent: 2000px;
    background: url('drop.png') no-repeat left;
    display: block;
    position: absolute;
    bottom: 5px;
    right: 20px;
}

/* Main container */
div#main {    
    max-width: 940px;
    margin: 40px auto;
    clear: both;
}

/**
 * User profile 
*/
body.user-profile div#sub-header h2 {
    padding-left: 72px;
    min-height: 55px;
    position: relative;
    line-height: 1.2em;
    font-size: 18px;
    font-weight: normal;
}

body.user-profile div#sub-header h2 img {
    position: absolute;    
    width: 55px;
    height: 55px;        
    border: 1px solid #e2e2e2;
    left: 0;
}

body.user-profile div#sub-header h2 em {
    display: block;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    font-style: normal;
}

/**
 * Superforms
 */
div.superform input[type="text"],
div.superform input[type="password"],
div.superform textarea,
div.superform fieldset {
    min-width: 95%;
    max-width: 95%;
}

div.superform fieldset {
    border: 1px solid #99a2a5;    
}

div.superform fieldset legend {
    color: #6d7375;
}

div.superform h3 {
    font-size: 30px;    
}

div.superform div.guide,
div.superform div.fields {    
    overflow: visible;
}

div.superform div.guide {
    color: #7f8183;    
}

body.project-form.js div#main div.superform div.guide {
    background: url('form/wizard.png') no-repeat right top;
    padding-right: 250px;    
    border-right: 1px dashed #b7c2c5;    
}

div.superform div.fields {
    border-right: 1px dashed #b7c2c5
}

div.superform div.guide h4,
div.superform div.guide blockquote {
    display: table-cell;
    background-color: #ddf0f1;
    padding: 20px;    
    vertical-align: top;
    border: dashed #b7c2c5;
    border-width: 1px 0 0;
}

div.superform div.guide h4 {
    font-size: 30px;        
}

div.superform div.guide blockquote {
    font-size: 12px;
    border-right-width: 1px;
    width: 100%;
}

div.superform div.guide blockquote p {
    margin: 0;
}

div.superform div.fields ol {
    padding: 0;    
    margin: 0;
    list-style-position: inside;
}

div.superform div.fields ol ol {
    padding-left: 2em;
    margin-top: 2em;
}

div.superform div.fields ol li {    
    border-top: 1px dashed #B7C2C5;
    padding: 2em 0;
    position: relative;    
}

body.js div.superform div.fields ol li {
    margin-right: 250px;
    border-right: 1px dashed #b7c2c5;
}

body.js div.superform div.fields ol li li {
    margin-right: 0;
    border-right: none;
}

div.superform div.fields ol li div.field {
    display: inline;    
}

div.superform div.fields ol li h4 {    
    display: inline;
}

div.superform div.fields ol li div.elements {
    margin-top: 1em;
}

div.superform div.buttons {
    border: solid #0a0a0a; 
    border-width: 3px 0 0;
    padding: 20px;
    text-align: right;
    position: relative;
    z-index: 900;
}

div.superform div.buttons input,
div.superform div.buttons button {
    background-color: #ee4843 !important;
    padding-left: 4em;
    padding-right: 4em;
}

div.superform div.buttons input:hover,
div.superform div.buttons button:hover,
div.superform div.buttons input:focus,
div.superform div.buttons button:focus{
    background-color: #ed1a37 !important;
    padding-left: 4em;
    padding-right: 4em;
}

div.superform div.buttons input.next:hover,
div.superform div.buttons button.next:hover,
div.superform div.buttons input.next:focus,
div.superform div.buttons button.next:focus {
    background-image: url('form/button/next.png');
    background-position: 95% center;
    background-repeat: no-repeat;
}

/* Checkbox sets */
div.superform div.elements.checkboxes ul {
    padding: 0;
    margin: -1em 0 0;    
    list-style: none;
    overflow: hidden;
}

div.superform div.elements.checkboxes ul li {
    border: none;
    padding: 1em 0 0;
    width: 33%;
    float: left;   
}

div.superform div.elements.checkboxes input[type="checkbox"] {
    margin-left: 0;
}


/* Tooltips */
div.superform div.fields ol li div.tooltip {
    z-index: 999;    
    padding-top: 20px;    
    background: url('form/tooltip/beak/cyan/n.png') no-repeat 20px 7px;
    display: inline-block;
}

body.js div.superform div.fields ol li div.tooltip {
    /* Javascript-enabled */
    right: -251px;
    top: 1em;
    width: 250px;
    padding-left: 13px;
    cdcdisplay: none;
    position: absolute;
    background: url('form/tooltip/beak/cyan/w.png') no-repeat left 20px;
    padding-top: 0;
}

div.superform div.fields ol li div.tooltip blockquote {
    padding: 20px;
    margin: 0;
    background-color: #def1f1;
    color: #7f8183;
    border-radius: 7px;
    box-shadow: 2px 3px 0 rgba(0,0,0,.2);
    font-size: 12px;
    position: relative;
}

div.superform div.fields ol li div.tooltip.visible {
    display: block;
}

/* Other colors */
div.superform.aqua div.fields ol li div.tooltip blockquote {
    background-color: #35b8b8;
    color: white;
}

div.superform.aqua div.fields ol li div.tooltip {    
    background-image: url('form/tooltip/beak/aqua/n.png');    
}

body.js div.superform.aqua div.fields ol li div.tooltip {    
    background-image: url('form/tooltip/beak/aqua/w.png');
}

div.superform.aqua input[type="text"],
div.superform.aqua input[type="password"],
div.superform.aqua textarea {
    background-color: #dff2f3;
    border-color: #1fb0b0;
}

div.superform.aqua input[type="submit"],
div.superform.aqua input[type="reset"],
div.superform.aqua button {
    background-color: #1fb0b0;
    color: white;
}

div.superform.red div.fields ol li div.tooltip blockquote {
    background-color: #e13028;
    color: white;
}

div.superform.red div.fields ol li div.tooltip {    
    background-image: url('form/tooltip/beak/red/n.png');    
}

body.js div.superform.red div.fields ol li div.tooltip {    
    background-image: url('form/tooltip/beak/red/w.png');
}

div.superform.red input[type="text"],
div.superform.red input[type="password"],
div.superform.red textarea {
    background-color: #fdedec;
    border-color: #ee4843;
}

div.superform.red input[type="submit"],
div.superform.red input[type="reset"],
div.superform.red button {
    background-color: #ee4843;
    color: white;
} 

div.superform.red div.guide h4,
div.superform.red div.guide blockquote {    
    background-color: #fdedec;    
    color: #ee4843;
}

div.superform.green div.fields ol li div.tooltip blockquote {
    background-color: #00b05b;
    color: white;
}

div.superform.green div.fields ol li div.tooltip {    
    background-image: url('form/tooltip/beak/green/n.png');    
}

body.js div.superform.green div.fields ol li div.tooltip {    
    background-image: url('form/tooltip/beak/green/w.png');
}

div.superform.green input[type="text"],
div.superform.green input[type="password"],
div.superform.green textarea {
    background-color: #e7f3e8;
    border-color: #00b05b;
}

div.superform.green input[type="submit"],
div.superform.green input[type="reset"],
div.superform.green button {
    background-color: #00b05b;
    color: white;
} 

div.superform.green div.guide h4,
div.superform.green div.guide blockquote {    
    background-color: #e7f3e8;    
    color: #00b05b;
}


/**
 * Project form
 */
 
body.project-form div#main div.status {
    color: #bcbdbd;
    padding-bottom: 30px;
    border-bottom: 3px solid #cfd0d2; 
}

body.project-form div#main .status #project-status,
body.project-form div#main .status #information-status {
    display: table-cell;
    width: 50%;     
    padding: 0 30px;
}

body.project-form div#main .status #project-status {
    padding-right: 50px;     
}

body.project-form div#main .status #information-status {
    border-left: 1px dashed #bcbdbf;
    padding-left: 50px;
}

body.project-form div#main .status h3 {
    font-size: 26px;
    font-weight: normal;
    color: #bcbdbd;
    text-transform: uppercase;
    margin: 0 0 .6em;
}

body.project-form div#main .status #project-status ul {
    padding: 0 0 0 16px;
    margin: 0 0  0 6px;
    list-style: none;
    font-size: 16px;     
    line-height: 1.5em;
    border-left: 1px solid #bcbcbd;
}

body.project-form div#main .status #project-status ul li strong {
    font-size: 22px;
    color: #58595b;
    font-weight: bold;
    line-height: 1.6em;
    padding-left: 20px;
    display: block;
    background: url('form/statusmarker.png') no-repeat left center;
    margin-left: -22px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.25);
    
}

body.project-form div#main .status #information-status p {
    margin-top: 0;
    width: 80%;
    font-size: 12px;
}

body.project-form div#main .status #information-status .meter {
    height: 117px;
    width: 369px;    
    margin-top: -2em;
    position: relative;
}

body.project-form div#main .status #information-status .meter .done {
    background: url('project/progressmeter.png') no-repeat left top;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

body.project-form div#main .status #information-status .meter .left {
    background: url('project/progressmeter.png') no-repeat right bottom;
    position: absolute;
    right: 0;        
    top: 0;
    bottom: 0;
}

body.project-form div#main #project-steps {
    padding: 30px 0;
    text-align: center;
}

body.project-form div#main #project-steps h3 {
    display: none;     
}

body.project-form div#main #project-steps ol {
    margin: 0;
    padding: 0;
    list-style: none;  
    border-bottom: 2px solid #b2b2b2;
    display: inline-block;
    height: 2.5em;
}

body.project-form div#main #project-steps li {
    display: inline-block;
    padding: 0 1em;
    height: 100%;
}

body.project-form div#main #project-steps li a {
    font-size: 12px;
    color: #b2b2b2;
    text-decoration: none;
    font-weight: normal;
    display: inline-block;
    height: 100%;
    padding-bottom: 10px;
    background: url('form/step-off.png') no-repeat bottom center;
}

body.project-form div#main #project-steps li.current a {
    background-image: url('form/step-on.png');
    cursor: default;
}

body.project-form div.superform {
    border: solid #0a0a0a;
    border-width: 3px 0;     
}