@import url("project/widget/projects.css");

body.home div#main div.learn {    
    margin-bottom: 15px;
    position: relative;
}

body.home div#main div.widget.projects .title {
    margin-left: 8px;
}

body.home div#main div.learn ul {
    position: absolute;
    bottom: 20px;
    left: 20px;
    list-style: none;
    margin: 0;    
    height: 10px;
    padding: 10px 0px 0px;
    z-index: 900;
    line-height: 24px;
}

body.home div#main div.learn ul li {
    display: block;
    float: left;
	cursor:pointer;
    overflow: hidden; 
/*    margin-right: 4px; */
    line-height: 24px;
}

body.home div#main div.learn ul li > * {
    display: block;
    height: 100%;
    width: 100%; 
    text-indent: 2000px;
    line-height: 2000px;
}

body.home div#main div.learn ul li.navi {
    width: 18px;
    height: 18px;
    margin: 3px;
}


body.home div#main div.learn ul li.navi > a {
    background-color: #cdcdce;       
}

body.home div#main div.learn ul li.navi > a:hover {
    background-color: #e3262a;
}

body.home div#main div.learn ul li.navi > a.active {
    background-color: #808184 !important;
}

body.home div#main div.learn ul li.prev,
body.home div#main div.learn ul li.next {
    width: 24px;
    height: 24px;
	line-height: 2000px;
	overflow: hidden;
}


body.home div#main div.learn ul li.prev {
	background: url('arrowslider-sprt.png') scroll no-repeat 0 0;
}

body.home div#main div.learn ul li.prev:hover {
	background: url('arrowslider-sprt.png') scroll no-repeat 0 -48px;
}

body.home div#main div.learn ul li.next {
	background: url('arrowslider-sprt.png') scroll no-repeat 0 -24px;
}

body.home div#main div.learn ul li.next:hover {
	background: url('arrowslider-sprt.png') scroll no-repeat 0 -72px;
}

body.home div#main div.learn div.post {
    position: relative;
    min-height: 305px;
    padding-left: 520px;
    display: none;
}

body.home div#main div.learn div.post div.read_more{
    margin: 30px;
}

body.home div#main div.learn div.embed,
body.home div#main div.learn div.image {
    position: absolute;
    left: 0;
    top: 0;        
    width: 500px;
    height: 285px;
}

body.home div#main div.projects {
    overflow: hidden;
    margin-left: -3%;    
    margin-bottom: 15px;
}