  /* custom message alerts */

 .custom-close {
    font-size:30px !important;
    opacity: 0.9 !important;
    color: $color-white !important;
 }

 .alert{
    font-size: 14px !important;
 }

 .alert-danger {
    color: $color-white;
    background-color: $background-red;

    border-color: $background-red !important;
}

 .alert-success{
    color: $color-white;
    background-color: $background-light-green;
    border-color: $background-light-green !important;
 }
