/* Custom buttons */
.btn-success{
    background-color: $background-green !important;
    border-color: $background-green !important;
    &:hover {
        background-color:darken( $background-green, 10%);
    }
}
.btn-pink{
    background-color: $color-pink;
    color: $color-white !important;
    &:hover {
        background-color:darken($color-pink, 10%);
    }
    .icon {
        background-color: $color-white;
    }
}
.btn-green{
    background-color: $color-green;
    color: $color-white;
    &:hover {
        background-color:darken($color-green, 10%);
    }
    .icon {
        background-color: $color-white;
    }
}
.btn-cyan{
    background-color: $color-cyan;
    color: $color-white;
    &:hover {
        background-color:darken($color-cyan, 10%);
    }
    .icon {
        background-color: $color-white;
    }
}
.btn-grey {
    background-color: $background-light-grey;
    color: $color-light-grey;
    &:hover {
        background-color:darken( $background-light-grey, 10%);
    }
}
.btn-lilac {
    background-color: $color-lilac;
    color: $color-white;
    &:hover {
        background-color:darken( $color-lilac, 10%);
        color: $color-white;
    }
    .icon {
        background-color: $color-white;
    }
}
.btn-dark {
    background-color: $color-light-grey;
    color: $color-white;
    &:hover {
        background-color:darken($color-light-grey, 10%);
    }
    .icon {
        background-color: $color-white;
    }
}
.btn-white {
    background-color: $color-white;
    color: $color-cyan;
    &:hover {
        background-color:darken($color-white, 10%);
    }
}
.btn-cyan {
    background-color: $color-cyan;
    color: $color-white !important;
    &:hover {
        background-color:darken($color-cyan, 10%);
    }
    .icon {
        background-color: $color-white;
    }
}
.btn-white {
    background-color: $background-white;
    color: $color-green;
    font-weight: bold;  
}
.btn-light-green{
    background-color: $background-light-green;
    color:$color-white;
}
.btn-light-black {
    background-color: $background-sidebar-footer;
    color: $color-white;
    border: 1px solid $color-white;
    &:hover {
        background-color:$background-light-green;
        color: $color-white;
    }
}
.btn-fashion {
    background: $color-pink;
    background: -moz-linear-gradient(left, $color-pink 28%, $color-red 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(28%,$color-pink), color-stop(100%,$color-red));
    background: -webkit-linear-gradient(left, $color-pink 28%,$color-red 100%);
    background: -o-linear-gradient(left, $color-pink 28%,$color-red 100%);
    background: -ms-linear-gradient(left, $color-pink 28%,$color-red 100%);
    background: linear-gradient(to right, $color-pink 28%,$color-red 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-pink', endColorstr='$color-red',GradientType=1 );
    color: $color-white;
    &.btn {
        border: none;
    }
    &:hover,&.btn:hover {
        color: $color-white;
        background: darken($color-pink, 10%);
        background: -moz-linear-gradient(left, darken($color-pink, 10%) 28%, darken($color-red, 10%) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(28%,darken($color-pink, 10%)), color-stop(100%,darken($color-red, 10%)));
        background: -webkit-linear-gradient(left, darken($color-pink, 10%) 28%,darken($color-red, 10%) 100%);
        background: -o-linear-gradient(left, darken($color-pink, 10%) 28%,darken($color-red, 10%) 100%);
        background: -ms-linear-gradient(left, darken($color-pink, 10%) 28%,darken($color-red, 10%) 100%);
        background: linear-gradient(to right, darken($color-pink, 10%) 28%,darken($color-red, 10%) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='darken($color-pink, 10%)', endColorstr='darken($color-red, 10%)',GradientType=1 );
    }
    .icon {
        background-color: $color-white;
    }
}

.btn-orange {
    background: $color-orange;
    background: -moz-linear-gradient(left, $color-orange 28%, $color-red 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(28%,$color-orange), color-stop(100%,$color-red));
    background: -webkit-linear-gradient(left, $color-orange 28%,$color-red 100%);
    background: -o-linear-gradient(left, $color-orange 28%,$color-red 100%);
    background: -ms-linear-gradient(left, $color-orange 28%,$color-red 100%);
    background: linear-gradient(to right, $color-orange 28%,$color-red 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-orange', endColorstr='$color-red',GradientType=1 );
    color: $color-white;
    &:hover {
    background: darken($color-orange, 10%);
    background: -moz-linear-gradient(left, darken($color-orange, 10%) 28%, darken($color-red, 10%) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(28%,darken($color-orange, 10%)), color-stop(100%,darken($color-red, 10%)));
    background: -webkit-linear-gradient(left, darken($color-orange, 10%) 28%,darken($color-red, 10%) 100%);
    background: -o-linear-gradient(left, darken($color-orange, 10%) 28%,darken($color-red, 10%) 100%);
    background: -ms-linear-gradient(left, darken($color-orange, 10%) 28%,darken($color-red, 10%) 100%);
    background: linear-gradient(to right, darken($color-orange, 10%) 28%,darken($color-red, 10%) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='darken($color-orange, 10%)', endColorstr='darken($color-red, 10%)',GradientType=1 );
    color: $color-white;
    }
    .icon {
        background-color: $color-white;
    }
}

button.pink{
    background-color: $background-pink;
    font-size:1.2em;
    color: $color-white;
}
button.custom-green{
	background-color: $color-green;
	font-size:1.2em;
	color: $color-white;
	font-weight: bold;
}

button.pink:hover, button.pink:focus, button.custom-green:hover,
.btn-pink:hover, .btn-pink:focus, .btn-green:hover, .btn-cyan:hover{
	color:$color-white !important;
}


/* same for labels */
.label-cyan {
    background-color: $color-cyan;
    color: $color-white;
}
.label-lilac {
    background-color: $color-lilac;
    color: $color-white;
}
.label-big {
    font-size: $font-size;
    font-weight: 400;
    padding: 2px 4px;
}

/* other helpers */
.text-cyan {
    color: $color-cyan;
}
.text-lilac {
    color: $color-lilac;
}
