
 /* Custom buttons */

.btn-success{
    background-color: $background-green !important;
    border-color: $background-green !important;
}
.btn-pink{
    background-color: $color-pink;
    color: $color-white;
}

.btn-green{
    background-color: $color-green;
    color: $color-white;
}
.btn-cyan{
    background-color: $color-cyan;
    color: $color-white;
}
.btn-grey {
    background-color: $background-light-grey;
    color: $color-light-grey;
}
.btn-dark {
    background-color: $color-light-grey;
    color: $color-white;
}
.btn-fashion {
    background: #d05bb4;
    background: -moz-linear-gradient(left, #d05bb4 28%, #fe373a 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(28%,#d05bb4), color-stop(100%,#fe373a));
    background: -webkit-linear-gradient(left, #d05bb4 28%,#fe373a 100%);
    background: -o-linear-gradient(left, #d05bb4 28%,#fe373a 100%);
    background: -ms-linear-gradient(left, #d05bb4 28%,#fe373a 100%);
    background: linear-gradient(to right, #d05bb4 28%,#fe373a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d05bb4', endColorstr='#fe373a',GradientType=1 );
    color: $color-white;
}

button.pink{
    background-color: $background-pink;
    font-size:1.2em;
    color: $color-white;
}
button.custom-green{
	background-color: $color-green;
	font-size:1.2em;
	color: $color-white;
	font-weight: bold;
}

button.pink:hover, button.pink:focus, button.custom-green:hover,
.btn-pink:hover, .btn-pink:focus, .btn-green:hover{
	color:$color-white !important;
}
