/* Dashboard  */

/* dashboard containers */
.dashboard {
  background: $background-white;

  // TODO: check for removal
  .general-dashboard {
    background-color: $background-white;
    padding: 15px;
    margin: 0 -15px 40px -15px;
  }

  .inner-container {
      max-width: $breakpoint-md - 30;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      @media(max-width: $breakpoint-sm - 1) {
          padding-right: 5px;
          padding-left: 5px;
      }
    }

  p {
    color: $secondary-color;
    &.text-danger {
        color: $color-red;
    }
  }

  h1 {
    font-size: $font-size * 2;
    color: $title-color;
    line-height: 1.5;
  }
  h2 {
    font-size: $font-size * 1.6;
    color: $title-color;
    line-height: 1.5;
  }
  h3 {
    font-size: $font-size * 1.4;
    color: $title-color;
    line-height: 1.5;
  }
  h4 {
    font-size: $font-size * 1.2;
    color: $title-color;
    line-height: 1.5;
  }
  h5,.pool-desc {
    font-size: $font-size * 1;
    color: $title-color;
    line-height: 1.5;
    font-weight: normal;
    text-transform: uppercase;
  }

  .fa.fa-2x {
    width:30px;
    font-size: 1.8em;
  }

  table.footable , table.table {
    color: $secondary-color;
    background: $background-light-body;
    tr {
        th,td {
            padding: 10px 5px;
            &:first-child {
                padding-left:10px;
            }
        }
    }
  }
  .btn {
      border:none;
      text-transform: uppercase;
      // box-shadow: 1px 1px 4px -2px $color-dark;
      &.btn-danger,&.btn-cyan,&.btn-green,&.btn-pink {
        // box-shadow: 2px 2px 4px -2px $color-dark;
      }
      &.btn-link {
        box-shadow: none;
        color: $secondary-color;
        font-weight: 500;
      }

  }
  .pagination > .active > a {
    background-color: $color-cyan;
    border-color: $color-cyan;
  }
  .panel {
    border: 0;
    box-shadow: none;

    h5 {
      font-weight: 500;
      font-size: $font-size * 0.9;
    }

    .panel-body {
      background: $background-light-body;
      border-radius: 5px;
    }
    .widget-preview {
      display: flex;
      width: 100%;
      .left {
        width: 300px;
        flex: 1;
        order: -1;
      }
      .right {
        margin-left: 20px;
        width: 70%;
      }
      @media (max-width: $breakpoint-sm - 1) {
        display: block;
        .left,.right {
          margin: 1em 0;
          width: 100%;
          flex: none;
        }
      }
    }
    .form-control {
      background-color: $background-white;
      border: none;
      box-shadow: none;
    }
  }
  .breadcrumb {
    background-color: inherit;
    > li + li::before {
      content: '\203A';
    }
    li {
      color: $secondary-color;
    }
    > .active {
      font-weight: bold;
    }
  }
  ul.data-list {
    list-style: none;
    margin: 0;
    padding: 0;

    p {
      color: $color-cyan;
      font-weight: bold;
      font-size: $font-size * 3;
    }
    > li {
      float:left;
      margin: 0;
      padding: 0;
      &.divider {
        width: 2px;
        background-color: #CDD6D5;
        height: 50px;
        margin-top: 40px;
      }
    }
    > li + li {
      margin-left: 20px;
    }
  }

  .ajax-message {
    .label {
        font-size: 92%;
    }
  }
  .pool-box {
    width: 100%;
    padding:2%;
    border-radius: 5px;
    background:$background-white;
    label {
        display: block;
        text-align: center;
        strong {
            display: inline-block;
            vertical-align: middle;
            font-size: $font-size * 2;
        }
    }
    .form-control {
        margin-left: 1em;
        margin-right: 1em;
        display: inline-block;
        width: 150px;
        font-size: $font-size * 1.5;
        height: auto;
        vertical-align: middle;
    }
  }
  .comments {
    &.hidden {
        height:0;
    }
    .media {
        padding: 10px 5px;
        &:first-child {
            border-top: 0;
        }
        border-top: 2px solid #ddd;
    }
    .label i {
      cursor: pointer;
    }
  }
}

.dashboard-sections {
  // background-color: $background-light-cream;
  background-color: $background-light;
  padding: 10px;
  // Do not stack this nav in any screen width
  .nav-tabs.nav-justified > li {
      display: table-cell;
      width: 1%;
      >a {
        border-radius:10px;
        text-transform: uppercase;
        border:1px solid transparent;
        margin-bottom:0;
        color: $color-dark;
        font-weight: 500;
        >i {
            background-color: $color-grey-cyan;
            margin-bottom: 10px;
        }
        &:hover {
            background-color:inherit;
            >i {
                background-color:$color-cyan;
            }
        }
        @media(max-width: $breakpoint-sm - 1) {
            padding-left: 5px;
            padding-right: 5px;
            // hide font on small devices
            font-size: 0;
            color:transparent;
            line-height: 0;
            >i {
                margin-bottom: 0;
            }

        }
      }
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color:$background-white;
    box-shadow: 0 1px 3px -2px $color-dark;
    >i {
        background-color: $color-cyan;
    }
  }
}

.dashboard-content {
  &.cyan {
    background: $background-light-body;
  }
  padding: 20px;
  @media(max-width: $breakpoint-sm - 1) {
    padding: 5px;
  }
}
.user-pool {
    text-align: center;
    .pool-amount {
      display:block;
      font-size: $font-size * 3.5;
    }
    h1 {
        font-weight: bold;
    }
    .btn {
        padding-left:2em;
        padding-right:2em;
    }
}


.projects-container {
  h2 {
    font-weight: bold;
    text-align: center;
  }
  .interests {
    color: $secondary-color;
    background-color: $background-white;
    box-shadow: 1px 2px 6px -2px $color-dark;
    margin: 40px 15%;
    padding: 3%;
    border-radius: 10px;
    @media (max-width: $breakpoint-xs) {
        font-size: 0.8em;
        padding-top: 8%;
        padding-bottom: 8%;
        margin: 40px 2%;
    }
  }
}

// ? To remove ?
div {
  &.row {
    &.general-dashboard {
      background-color: $background-white;
      padding: 2% 5%;
      margin-bottom: 40px;
      border-radius: 7px;
    }
  }
  &.container.general-dashboard {
    background-color: $background-white;
    padding: 2% 5%;
    margin-bottom: 40px;
    border-radius: 7px;
    &:first-child {
      border-top-right-radius: none;
      border-top-left-radius: none;
    }
  }
}

.general-dashboard div.row.more-projects-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

@media (max-width: $breakpoint-sm - 1) {
  div {
    &.row.general-dashboard, &.container.general-dashboard {
      background-color: $background-white;
      padding: 2% 5%;
      margin-right: 0;
      margin-left: 0;
      border-radius: none;
      margin-bottom: 20px;
    }
  }
}

div {
  &.row.user-pool div.user-pool-info div.extra-info {
    margin-left: 2px;
    margin-top: 5%;
    .donor {
      background-color: $background-pink;
      font-size: 1.2em;
      color: $color-white;
      font-weight: bold;
      width: 100%;
    }
    .chargue {
      background-color: $background-dark-green;
      font-size: 1.2em;
      color: $color-white;
      font-weight: bold;
      width: 100%;
    }
  }
  &.user-pool-info div.pool-conditions {
    margin-bottom: 40px;
    color: #B3B2B2;
    a {
      color: #B3B2B2;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

/* Social Commitment */

table.social-commitment {
  .glyphicon-ok {
    color: #00C65B;
  }
  .glyphicon-remove {
    color: #FF4848;
  }
  td:not(:first-child) {
    vertical-align: middle;
    text-align: center;
  }
  th {
    text-align: center;
  }
}

/* Shared materials */

div.new-material-success {
  margin-top: 20px;
}
