.navbar-toggle {
    background-color: $background-light-green;
    .icon-bar{
        background-color: $background-white;
        height: 5px !important;
        width: 30px !important;
    }
}


.top-navbar {
    background-color: $background-light-green;

    >.container {
        position: relative;
    }

    &.navbar-default{
        border:none;
        .navbar-nav > li > a{
            color: $color-white;
            > .open > a{
                color:$color-dark;
            }
        }
    }

    &.navbar{
        border-radius: 0px;
    }

    .navbar-header {
        float:left;
    }


    .animated.flipInY {
      animation-duration: .3s;
    }
    .animated.flipOutY {
      animation-duration: .5s;
    }

    @keyframes flipInY {
      from {
        transform: perspective(400px) rotate3d(0, 1, 0, -90deg);
        animation-timing-function: ease-in;
        opacity: 0;
      }

      // 40% {
      //   transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      //   animation-timing-function: ease-in;
      // }

      60% {
        transform: perspective(400px) rotate3d(0, 1, 0, -10deg);
        opacity: 1;
      }

      // 80% {
      //   transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
      // }

      to {
        transform: perspective(400px);
      }
    }
    // Permanent menus
    .navbar-always {
        float:right;

        button, a {
            margin: 13px 0 13px 15px;
            padding:0;
            border: none;
            background: transparent;
            color: $color-white;
            img {
                max-width: 32px;
                vertical-align: text-bottom;
                border: 2px solid $color-white;
            }
        }
    }

    .navbar-always, .toggle-menu {
        i {
            &.fa {
               font-size: 32px;
            }
            &.hide-menu {
                display: none;
            }
        }
    }

    // main menus
    .top-menu {
        position: absolute;
        top: 60px;
        right: 0;
        min-width: 300px;
        background: $background-white;
        display: none;
        z-index: 1000;
        @media (min-width: $breakpoint-sm) {
            box-shadow: 1px 1px 3px 1px rgba(0,0,0,.3);
        }
        &.active {
            display: block;
        }
        .nav {
            &.bottom {
                @media (max-width: $breakpoint-sm - 1) {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                }
            }
            &.submenu {
                display: none;
                position: absolute;
                left: -300px;
                width: 100%;
                top: 0;
                background: $background-white;
                z-index: 1001;
                &.active {
                    display: block;

                }
                @media (min-width: $breakpoint-sm) {
                    box-shadow: 1px 1px 3px 1px rgba(0,0,0,.3);
                }

                // Fullscreen on small devices
                @media (max-width: $breakpoint-sm - 1) {
                    position: fixed;
                    left: 0;
                    top: 60px;
                    height: 100%;
                }
                li a.back {
                    font-weight: bold;
                }

            }
            li {
                a {
                    color: $primary-color;
                    text-transform: uppercase;
                    font-weight: 600;
                    text-align: center;
                    font-size: $font-size * 1.2;
                    border-top: 2px solid $background-light;
                    margin:0 15px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    &.btn-fashion {
                        margin:0;
                        color: $color-white;
                    }
                    &.toggle-submenu {
                        position:relative;
                        .fa {
                            font-weight: bold;
                        }
                    }
                }
                &:first-child a {
                    @media (min-width: $breakpoint-sm) {
                        border-top: none;
                    }
                }
            }
        }
        // Fullscreen on small devices
        @media (max-width: $breakpoint-sm - 1) {
            top: 0;
            left: 0;
            right: auto;
            width: 100%;
            height: 100%;
            min-width: auto;
            position: fixed;
        }

        .menu-header {
            position: relative;
            display: none;
            @media (max-width: $breakpoint-sm - 1) {
                display: block;
                margin: 15px;
            }
            .navbar-brand {
                float: none;
            }
            .toggle-menu {
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }


    .navbar-toggle.general{
        padding: 5px !important;
        border:none !important;

        &:hover, &:focus{
            background-color: transparent !important;
        }

        .icon-bar{
            background-color: $background-white !important;
        }
    }

    .navbar-brand{
        padding: 0 !important;
        img.logo {
            height: 45px;
            margin-left: 10px;
        }
    }

}

/*Navbar */
body.has-sidebar {
    @media(min-width: $breakpoint-sm) {
        .navbar-header {
            display: none;
        }
    }
}

.navbar{
    margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
    color: $background-grey;
    font-size: 1.1em;
}







