  /* home styles */

div.section.main-slider{
    position: relative;

     nav{
    	position: absolute;
    	top: 0;
        right: 0;
    	width: 100%;
    	z-index: 100;	
        margin: 20px 30px 20px 0;
        li{
            margin-left: 20px;
        }
        li a
        {
            font-weight: bold;
            color: $color-white;

        }
        .btn{
            font-weight: bold;
            border: none;
            padding: 12px;
        }
    }

    div.main-info{
        position: absolute;
        bottom:80px;
        z-index: 150;
        color: $color-white;
        width: 100%;
        span.title{
            border: 1px solid rgba(255, 255, 255, .5);
            -webkit-background-clip: padding-box; /* for Safari */
            background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
            font-size: 12px;
            padding: 7px;
            text-transform: uppercase;
        }
        div.description{
            margin: 20px 0;
            font-size:26px;
            font-weight: bold;
        }
    }
}


.slider.fade{
    opacity:1;
}

.slick-slide img {
    display: block;
    width: 100%;
}

.slick-dots{
    bottom: 10px;
}

.slick-dots li.slick-active button::before{
    color: $background-light-green;
}

.slick-dots li button::before{
    color: #FFF;
    opacity: 1;
    font-size: 13px;
}


