  /* home styles */

div.section.main-slider{
    position: relative;

     nav{
    	position: absolute;
    	top: 0;
        right: 0;
    	width: 100%;
    	z-index: 100;	
        margin: 20px 30px 20px 0;
        li{
            margin-left: 20px;
            text-transform: uppercase;
        }
        li a
        {
            font-weight: bold;
            color: $color-white;

        }
        .btn{
            font-weight: bold;
            border: none;
            padding: 12px;
        }
    }

    div.main-info{
        position: absolute;
        bottom:120px;
        z-index: 150;
        color: $color-white;
        width: 100%;
        span.title{
            border: 1px solid rgba(255, 255, 255, .5);
            -webkit-background-clip: padding-box; /* for Safari */
            background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
            font-size: 12px;
            padding: 7px;
            text-transform: uppercase;
        }
        div.description{
            margin: 20px 0;
            font-size:26px;
            font-weight: bold;
        }
        .btn{
            text-transform: uppercase;
        }
    }

    .slick-next{
        right: 15px;
    }
}

.slider.fade{
    opacity:1;
}

.slick-slide img {
    display: block;
    width: 100%;
}

.slick-dots{
    bottom: 10px;
}

.slick-dots li.slick-active button::before{
    color: $background-light-green;
}

.slick-dots li button::before{
    color: #FFF;
    opacity: 1;
    font-size: 13px;
}

.section.search{
    padding: 40px 0;
    .inner-addon { 
    position: relative; 
    display: inline-block;
    }

    /*Placeholder Colors*/
    input::-webkit-input-placeholder {
        color:#7C9BA0;
    }
    input:-moz-placeholder { /* Firefox 18- */
        color:#7C9BA0;
    }
 
    input::-moz-placeholder { /* Firefox 19+ */
        color:#7C9BA0;
    }
 
    input:-ms-input-placeholder {
        color:#7C9BA0;
    }

    /* style icon */
    .inner-addon .glyphicon {
      position: absolute;
      padding: 10px;
      pointer-events: none;
      color: #7C9BA0;
    }
    .glyphicon-search
    {
        font-size: 18px;
    }
    .glyphicon-map-marker{
        font-size: 20px;
    }

    /* align icon */
    .left-addon .glyphicon  { left:  0px;}
    .right-addon .glyphicon { right: 0px;}

    /* add padding  */
    .left-addon input  { 
        border: 1px transparent solid;
        border-radius: 5px;
        padding: 10px 0px 10px 35px;
        margin-right: 10px; 
    }
    .btn-light-green{
        padding:10px;
        min-width: 150px;
        text-transform: uppercase;
    }
    .btn-light-green:hover{
        color: #FFF;
    }
}


.call-action{
    background-color: $background-light-green;
    color: $color-white;
    padding: 30px 0;
    .row{
        display: flex;
    }
    .row .col-button{
        display: flex;
        flex-direction: column;
    }
    .title{
        text-transform: uppercase;
    }
    .description{
        font-weight: bold;
        font-size: 22px;
    }
    .col-button{
        display: flex;
        flex-direction: column;
        justify-content: center;
      .btn-white{
        color: $color-grey;
        padding: 13px 0px;
        }  
    }
    
}

.section.projects{
    padding: 40px 0;
    .title{
        padding-bottom: 30px;
    }
}

.section.search{
    padding: 40px 0;
}

.section.adventages{
    .nav-tabs > li{
        width: 50%;
        text-align: center;
        margin-bottom: -3px;
        a{
            text-transform: uppercase;
            padding: 20px 0;
        }
    }
    .nav-tabs > li.donor a{
        background-color: $background-green-donor !important;
        color: #729499;
        font-weight: bold;
        line-height:40%;
    }
    .nav-tabs > li.owner a{
        background-color: $background-green-owner !important;
        color:#729499;
        font-weight: bold;
        line-height:40%;
    }

    .adventages-container 
    {
        padding:25px 10px;
        .row.details{
            padding-top:15px;
            display: flex;
            font-weight: bold;

            .title{
                img{
                }
                span.text{
                    border: 1px solid #CAD7D8;
                    font-size: 12px;
                    padding: 7px;
                    text-transform: uppercase;
                    margin-left: 10px;
                }
            }
            .description
            {
                padding: 15px 40px;
                font-size: 24px;
            }
            .more-description
            {
                padding: 5px 40px 25px 40px;
                font-size: 12px;
                font-weight: normal;
            }
            .action a{
                font-size: 13px;
                padding: 0 40px;
                color: #3A3A3A;
                text-transform: uppercase;
                .glyphicon{
                    font-size: 18px;
                    vertical-align: top;
                    margin-left: 5px;
                }
            }
        }

        .row.more-information
        {
            padding:30px 0;
            .action{
                margin-top:15px;
            }
            .action a
            {  
                color: #729499;
                font-size: 15px;
                font-weight: bold;
                border-bottom: 1px solid #CAD7D8;
                padding-bottom: 30px;
                text-transform: uppercase;
                .glyphicon{
                    font-size: 18px;
                    vertical-align: top;
                    margin-left: 5px;
                }
            }
        }
        .row.impact{
            .title{
                font-size: 24px;
                font-weight: bold;
                text-align: center;
                padding-top:20px;
            }
        }
        .row.impact-data{
            .item{
                margin-top: 25px;
                text-align: center;
                font-size: 30px;
                font-weight: bold;
                .description{
                    font-size: 11px;
                    font-weight: normal;
                    text-transform: uppercase;
                }
            }
        }
    }
    .adventage:not(:last-child)
    {
        border-right: 1px solid #CAD7D8;
        padding-bottom: 15px;
    }


    .tab-pane.donor{
        background-color: $background-green-donor !important;
    }
    .tab-pane.owner{
        background-color: $background-green-owner !important;
    }
 
}

//Fundation customization
.adventages.foundation{
    background-color: $background-yellow !important;
    h2.title{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-top: 0;
        padding-bottom: 15px;
    }

    .slider{
        background-color: $background-white;
        color:$primary-color;
        .info-container{
            margin-left:20px;
            max-width: 70%;
        }
        .type-container{
            margin-top: 60px;
            .type{
                border: 1px solid #CAD7D8;
                font-size: 12px;
                padding: 7px;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
        .description
        {
            font-size: 21px;
            margin: 35px 0 10px 0;
            font-weight: bold;
            .quote{
                width: 12%;
            }
            .text{
                width: 88%;
            }
        }
        .fa{
            border: 1px solid #CAD7D8;
            padding: 7px;
            border-radius:20px;
            font-size: 16px;
        }
        .author{
            padding-top: 10px;
            font-size: 12px;
            font-weight: bold;
            color:$color-light-grey;
            clear: both;
            margin-left: 10%;
        }
        .slick-dots{
            left:25%;
            li.slick-active button::before{
                color: $primary-color;
            }

            li button::before{
                color: $color-light-grey;
                opacity: 1;
                font-size: 11px;
            }

        }

        .slick-prev{
             left:50%;
             z-index: 100;
        }
        .slick-next{
            right: 2%;
            z-index: 100;
        }

        .slick-prev:before {
            content: "";
            font-family: 'FontAwesome';
            font-size: 25px;
            color:$color-light-grey;          
        }
        .slick-next:before {
            content: "";
            font-family: 'FontAwesome';
            font-size: 25px;
            color:$color-light-grey;        
        }

    }
}

div.section.tools{
    background-color: $background-blue !important;
    .row{
        margin:20px 0 30px 0;
        a.item{
            text-align: center;
            font-weight: bold;
            color: $primary-color;
            img{
                max-height: 24px;
                margin-right: 5px;
            }
        }
    }
}

@media (max-width: $breakpoint-sm - 1) {
    .section.search{
        .inner-addon{
            margin-top:10px;
        }
        .btn-light-green {
            margin: 10px auto;
            display: block;
        }  
    }

    .call-action{
        .row
        {
            display: block;
        }
        .col-button .btn-white{
            margin: 15px 0;
        }
    }

    .section.adventages .adventages-container{
        .row.details{
            display: block;
        }
    }

    div.section.tools .row a.item{
        margin-top: 15px;
        display: block;
    }

    .adventages.foundation .slider .info-container{
        max-width: 80%;
        margin-left: 10%;
        margin-bottom: 50px;
    }

    .adventages.foundation{
        .slick-dots{
            left:0 !important;
        }
        .slick-prev{
            left:15px !important;
            top:80% !important;
        }
        .slick-next{
            right: 15px !important;
            top:80% !important;
        }
    }
}

/* Custom sidebar menu */

body.home.has-sidebar{
    #main {
        width: 100%;
    }
        #sidebar-menu-toggle{
            background: $color-white;
            color: $color-light-green;
            text-transform: uppercase;
            padding: 15px 10px;
            font-size: $font-size*1.3;
            font-weight: bold;
            .fa-angle-right{
                font-size: $font-size*2;
                margin-left: 10px;
                transform: translateY(2px)
            }
        }

        #sidebar-menu {
            position: absolute;
            flex: none;
            z-index: 1001;
            overflow: hidden;
            width: 0;
            height: auto !important;
            margin-top:70px;
            top:0;
            font-size: $font-size;
            padding-bottom: 0;
            &.fixed {
                position:fixed;
                top:0;
            }
            .sidebar-header
            {
                background-color: $color-white;
                min-height: 0;
                padding: 15px 20px;
                color: $color-light-green;
                font-weight: bold;
                text-transform: uppercase;
            }
            .fa-close{
                color: $color-light-grey;
            }
            .sidebar-footer{
                background-color: $background-sidebar-footer;
                padding: 20px;
                .btn-fashion{
                    font-weight: 500;
                    text-transform: uppercase;
                    width: 47%;
                    padding:10px;
                }
                .btn-light-black{
                    margin-left:15px;
                    padding: 10px;
                    width: 47%;
                    text-transform: uppercase;
                    font-weight: 500;
                }
            }

            li:hover {
                background-color: $color-light-green;
            }
    }

    &.sidebar-opened {
        .page-wrap {
            #sidebar-menu {
                width: $home-sidebar-width;
                .toggle-sidebar {
                    display: block !important;
                }
            }
        }
    }

    #sidebar-menu-toggle {
        display: block !important;
    }
}


