body {
    background-color:$background-light-grey;
    font-family: $primary-font;
    color: $primary-color;
    margin-bottom: 0;

    &.has-sidebar {
      // background: $background-sidebar;
      .page-wrap {
        display: flex;

        #sidebar-menu {
            -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
            -moz-box-flex: 1;         /* OLD - Firefox 19- */
            width: 0; /* For old syntax, otherwise collapses. */
            -webkit-flex: 1;          /* Chrome */
            -ms-flex: 1;              /* IE 10 */
            flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
        }
        #main {
            width: 100%;
        }
        @media(min-width: $breakpoint-sm) {
            #sidebar-menu {
                width: $dashboard-sidebar-width;
            }
            #main {
                width: $dashboard-main-width;
            }
        }
        @media(max-width: $breakpoint-sm - 1) {
          #sidebar-menu {
            position: absolute;
            flex: none;
            z-index: 1001;
            overflow: hidden;
            min-height: 100%;
            &.fixed {
                position:fixed;
                top:0;
            }

          }
        }
      }
    }

    &.sidebar-opened {
      .page-wrap {
          #sidebar-menu {
              width: $dashboard-sidebar-width;
          }
          #main {
              @media(min-width: $breakpoint-sm) {
                  width: $dashboard-main-width;
              }
          }
      }
    }

    #sidebar-menu {
        transition: width .5s;
    }

}
