.sortable-ghost {
  opacity: .3;
  background: #f60;
}

/* GENERAL STYLES */

.spacer {
    margin-top: 40px;
}

.spacer-20{
    margin-top:20px;
}

.spacer-5{
    margin-top:5px;
}

.spacer-10{
    margin-top:10px !important;
}

.cursor-pointer{
    cursor: pointer;
}

.text-left-important{
    text-align: left !important;
}

.align-center-margin{
    margin: 0 auto;
}

.panel-heading {
    cursor: pointer;
}

.clear-both{
    clear:both !important;
}

.no-margin{
    margin:0 !important;
}

.no-padding{
    padding: 0 !important;
}

.margin-left-2{
    margin-left: 2%;
}

.margin-top-7{
    margin-top:7.5%;
}

.padding-bottom-6{
    padding-bottom: 6%;
}

.padding-bottom-2{
    padding-bottom: 2%;
}

.text-bold{
    font-weight: bold;
}

.text-font-normal{
    font-weight: normal;
}


.label-img{
    vertical-align: top;
}

.standard-margin-top{
    margin-top:3%;
}

.panel-form{
    margin: 0px auto;
    max-width: 375px;
}

.modal{
    top:15%;
}

i.visible-xs {
    @media(max-width: $breakpoint-sm - 1 ) {
        display:inline-block !important;
    }
}
.icon {
    width: $font-size;
    height: $font-size;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: auto 100%;
    vertical-align: middle;
    &.icon-2x {
        @include icon-responsive(2);
    }
    &.icon-3x {
        @include icon-responsive(3);
    }
    &.icon-4x {
        @include icon-responsive(4);
    }
    &.icon-5x {
        @include icon-responsive(5);
    }
    &.icon-6x {
        @include icon-responsive(6);
    }
    &.icon-7x {
        @include icon-responsive(7);
    }
    &.icon-8x {
        @include icon-responsive(8);
    }
    &.icon-activity {
        background-image: url(../img/dashboard/activity.svg);
    }
    &.icon-projects {
        background-image: url(../img/dashboard/projects.svg);
    }
    &.icon-wallet {
        background-image: url(../img/dashboard/wallet.svg);
    }
    &.icon-settings {
        background-image: url(../img/dashboard/settings.svg);
    }
}


.footable-toggle {
  cursor: pointer;
}


div.tooltip-inner {
    max-width: 100% !important;
}

a.expand-link{
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}


.uppercase{
    text-transform: uppercase;
}

