/* GENERAL STYLES */

.spacer {
    margin-top: 40px;
}

.spacer-20{
    margin-top:20px;
}

.spacer-5{
    margin-top:5px;
}

.spacer-10{
    margin-top:10px !important;
}

.cursor-pointer{
    cursor: pointer;
}

.text-left-important{
    text-align: left !important;
}

.align-center-margin{
    margin: 0 auto;
}

.panel-heading {
    cursor: pointer;
}

.clear-both{
    clear:both !important;
}

.no-margin{
    margin:0 !important;
}

.no-padding{
    padding: 0 !important;
}

.margin-left-2{
    margin-left: 2%;
}

.margin-top-7{
    margin-top:7.5%;
}

.padding-bottom-6{
    padding-bottom: 6%;
}

.padding-bottom-2{
    padding-bottom: 2%;
}

.text-bold{
    font-weight: bold;
}

.text-font-normal{
    font-weight: normal;
}


.label-img{
    vertical-align: top;
}

.standard-margin-top{
    margin-top:3%;
}

.panel-form{
    margin: 0px auto;
    max-width: 375px;
}

.modal{
    top:15%;
}

i.visible-xs {
    @media(max-width: $breakpoint-sm - 1 ) {
        display:inline-block !important;
    }
}
.icon {
    width: $font-size;
    height: $font-size;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: auto 100%;
    vertical-align: middle;
    @for $i from 2 through 8 {
        &.icon-#{$i}x {
            @include icon-responsive($i, $i);
            &.icon-activity {
                @include icon-responsive($i*1.5, $i);
            }
        }
    }
    &.icon-activity {
        @include svg-background('../img/dashboard/activity.svg');
    }
    &.icon-projects {
        @include svg-background('../img/dashboard/projects.svg');
    }
    &.icon-wallet {
        @include svg-background('../img/dashboard/wallet.svg');
    }
    &.icon-settings {
        @include svg-background('../img/dashboard/settings.svg');
    }
    &.icon-certificate {
        @include svg-background('../img/dashboard/certificate.svg');
    }
    &.icon-wallet-sidebar {
        @include svg-background('../img/dashboard/wallet_sidebar.svg');
    }
    &.icon-summary {
        @include svg-background('../img/dashboard/summary.svg');
    }
    &.icon-preview {
        @include svg-background('../img/dashboard/preview.svg');
    }
    &.icon-edit {
        @include svg-background('../img/dashboard/edit.svg');
    }
    &.icon-images {
        @include svg-background('../img/dashboard/images.svg');
    }
    &.icon-updates {
        @include svg-background('../img/dashboard/updates.svg');
    }
    &.icon-supports {
        @include svg-background('../img/dashboard/supports.svg');
    }
    &.icon-donors {
        @include svg-background('../img/dashboard/donors.svg');
    }
    &.icon-partners {
        @include svg-background('../img/dashboard/partners.svg');
    }
    &.icon-analytics {
        @include svg-background('../img/dashboard/analytics.svg');
    }
    &.icon-shared {
        @include svg-background('../img/dashboard/shared.svg');
    }
    &.icon-back {
        // @include svg-background('../img/dashboard/back.svg');
        background: url('../img/dashboard/back.svg') no-repeat;
        background-size: 100% auto;
        background-color: transparent !important;
    }
    &.icon-trash {
        @include svg-background('../img/dashboard/trash.svg');
    }
    &.icon-favourite {
        @include svg-background('../img/dashboard/favourite.svg');
    }
}


.footable-toggle {
  cursor: pointer;
}


div.tooltip-inner {
    max-width: 100% !important;
}

a.expand-link{
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}


.uppercase{
    text-transform: uppercase;
}

