
/* The side navigation menu */
#sidebar-menu {
    padding-bottom: 50px;
    overflow-x: hidden; /* Disable horizontal scroll */
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
    top: 0;
    .sidebar-wrap {
        background-color: $background-sidebar;
    }

    li {
      padding: 0 15px;
      background-color: $background-sidebar;
      >a, >button {
        color: $color-white;
        * {
            color: $color-white;
        }
        padding-bottom:15px;
        border-top:2px solid $background-grey;
        &:hover,&:active,&:focus {
            background-color:inherit;
            // color: $color-dark;
        }
        display: relative;
        padding-left:45px;
        >i:first-child {
            position: absolute;
            top:10px;
            left:5px;
            &.icon-back {
                left:-5px;
            }
        }

      }
      &:first-child {
        >a, >button {
            border-top-color:transparent;
        }
      }
      &.active,&:hover,&:focus {
        background-color: $background-sidebar-active;
        >a, >button {
            border-top-color:transparent;
        }
        &+li {
            >a, >button {
                border-top-color:transparent;
            }
        }
      }
      &.sidebar {
        &.active, &.selected {
          background-color: $background-sidebar-header;
        }
        border-left: 3px solid $color-cyan;
        // + .sidebar {
          margin-top: 3px;
          // top: -3px;
        // }
        >li {
          padding-left: 12px;
        }
      }
      &.active, &.selected {
        .submenu {
          display: block;
          >li.active {
            padding-left: 8px;
            border-left: 3px solid $color-cyan;
          }
        }
      }

      .submenu {
        margin:0 -15px;
        display: none;
        >li {
          background-color: transparent;
          &.active,&:hover,&:focus {
            background-color: $background-sidebar-active;
          }
          a {
            // border-top-color: transparent;
          }
        }
      }
    }

    .sidebar-header {
        min-height: 200px;
        padding-top: 20px;
        background-color: $background-sidebar-header;
        .logo {
            height: 100%;
            width: auto;
        }

        .project-widget {
            font-size: $font-size;
            &.micro {
                .img-project {
                    width:60%;
                    margin:0 20%;
                    border-radius: 50%;
                    border:4px solid $color-white;
                    box-shadow:0 5px 20px 0px $color-black;
                }
                .content {
                    margin:10px 15px 0 15px;
                    border-radius: 0;
                    color:$color-white;
                    a {
                        color:$color-white;
                        font-size:120%;
                        line-height:120%;
                    }
                    .label {
                        font-weight: normal;
                        padding-top:.5em;
                        text-transform: uppercase;
                        font-size:100%;
                        margin-bottom:10px;
                        display:inline-block;
                    }
                }
            }
        }
    }

    .sidebar-nav {
      &.bottom {
        background-color: $background-sidebar-header;
        // width: 100%;
        li {
            background-color: $background-sidebar-header;
            a {
                min-height:70px;
                padding-top:20px;
            }
          }
      }
    }

    .toggle-sidebar {
        display: none;
    }

    .navbar-brand {
        margin-bottom: 8px;
    }

    .icon {
        background-color:$color-white;
        mask-size:100% auto;
        -webkit-mask-size:100% auto;
    }
}

