
/* The side navigation menu */
#sidebar-menu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Stay on top */
    top: 0;
    left: 0;
    background-color: $background-sidebar;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    font-size: $font-size * 1.3;


    @media(min-width: $breakpoint-sm) {
        width: $dashboard-sidebar-width;
    }
    li {
      >a, >button {
        color: $color-white;
        &:hover {
            color: $color-dark;
        }

      }
      &.active {
        >a, >button {
            background-color: $background-white;
            color: $color-dark;
        }
      }
    }

    .sidebar-header {
        position: absolute;
        top: 0;
        left: 0;

        padding: 0;
        .logo {
            height: 100%;
            width: auto;
        }

        .project-widget {
            font-size: $font-size;
            &.mini {
                .img-project {
                    border-radius: 0;
                }
                .content {
                    border-radius: 0;
                }
            }
        }
    }

    .sidebar-nav {
      margin-top: 200px;
      // margin-top: 80px;
      &.bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }

    button.toggle-sidebar {
        position: absolute;
        font-size: $font-size * 2;
        font-weight: 300;
        right: 0;
        top: 60px;
        z-index: 1002;
        // background:$background-sidebar;
        background:transparent;
        color:$color-white;
        padding:6px 12px;
        margin:0;
        border:0;
        border-radius:0;
    }

    .navbar-brand {
        margin-bottom: 8px;
    }
}

@-webkit-keyframes blink {
    @include blink-function();
}
@keyframes blink {
    @include blink-function();
}


#sidebar-menu-toggle {
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 1000;
    background-color: $background-sidebar;
    color: $color-white;
    // width: 30px;
    // height: 100px;
    font-size: $font-size * 2;
    padding: 30px 10px;
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.3);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    i {
        -webkit-animation: blink 8s linear 1s 3;//infinite;
        animation: blink 8s linear 1s 3;//infinite;
    }

}
