/* DIV impersonator */
.user-shadowing-bar {
  font-weight: 700;
  background: #D9534F;
  color:$color-white;
  white-space: nowrap;
  text-align: center;
  vertical-align: baseline;
  padding: 0.3em 0.6em 0.3em;
  a {
      color: $color-white;
  }
}

.admin {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.6em;
  letter-spacing: 0.01rem;
  color: #212121;
  text-rendering: optimizeLegibility;

  a.editable-click:hover {
    cursor: pointer;
  }

  blockquote {
    font-size: inherit;
    font-weight: inherit;
  }

  #sidebar-menu {
    .sidebar-wrap {
      // background-color: #652D2D;
    }
    .sidebar-nav li {
      // background-color: #652D2D;
    }
    .sidebar-header {
      // background-color: #620D0D;
      .sidebar-widget a.img-link img {
        // box-shadow: 0 5px 20px 0px #af1515;
      }
    }
  }

  .admin-typeahead {
    // &::before {
    //   content: "\f002";
    //   font-family: FontAwesome;
    //   margin: 0 5px;
    //   color: #999;
    // }
    // .twitter-typeahead {
      //   width: calc(100% - 40px);
      // }
    .twitter-typeahead {
      width: 100%;
    }
    .has-feedback .form-control {
        padding-left: 32px;
        padding-right: 0;
    }
    .form-control-feedback {
      right: auto;
      left: 0;
      top: 9px;
      color:#bbb;
    }
    .typeahead {
      vertical-align: middle !important;
      &.loading {
        background-position: right;
        background-size: 24px;
        min-height: auto;
      }
    }
    .tt-dataset {
      h3 {
        font-size: 1.3rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        background: #f0f0f0;
        padding: 3px 20px;
        font-weight: 500;
        margin: 0 0 0 0;
        text-transform: uppercase;
      }
    }
    .tt-suggestion {
      img {
        width: 32px;
        height: 32px;
      }
      label {
        // min-width: 40px;
      }
      &:first-child h3 {
        margin-top: -5px;
      }

    }
  }
  .nav {
    // margin-bottom: 15px;
  }
  // Custom classes
  a.collapsable {
    &::after {
      font-family: FontAwesome;
      content: "\f0d8";
      margin: 0 5px;
    }
    &.collapsed::after {
      content: "\f0d7";
    }
  }

  .admin-list {
    list-style: none;
    margin:0;
    padding:0;

    button:not(.btn) {
      border: none;
      padding: 0;
      background: none;
    }
    li {
      padding:5px 0;
    }

    .img-circle {
      width:24px;
    }
    .recipient {
        &::after {
            font-family: FontAwesome;
            content: "\f00d";
            color: $color-red;
        }
        &.sent::after {
            content: "\f00c";
            color: $color-grey-cyan;
        }
        &.opened::after {
            content: "\f00c";
            color: $color-cyan;
        }
    }
  }

  h1,h2,h3,h4,h5,h6 {
    .fa,.icon {
      margin-right: 8px;
    }
  }
  .index-row {
    div[class^="col-xs-"], div[class*=" col-xs-"] {
      margin: 2px 0;
      padding-right: 5px;
      padding-left: 5px;
    }
    .btn {
      display: block;
      margin: 0;
      height: 38px;
      overflow: hidden;
      line-height: 38px;
      padding: 0;
    }
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
}
