/* DIV impersonator */
.user-shadowing-bar {
    font-weight: 700;
    background: #D9534F;
    color:$color-white;
    white-space: nowrap;
    text-align: center;
    vertical-align: baseline;
    padding: 0.3em 0.6em 0.3em;
    a {
        color: $color-white;
    }
}

.admin {
    #sidebar-menu {
        .sidebar-wrap {
            // background-color: #652D2D;
        }
        .sidebar-nav li {
            // background-color: #652D2D;
        }
        .sidebar-header {
            background-color: #620D0D;
            .sidebar-widget a.img-link img {
                box-shadow: 0 5px 20px 0px #af1515;
            }
        }
    }
}
