@import "compass/css3";

/* blog styles */

body.blog {

    background-color: $background-white;

    .top-navbar{
      background-color: $background-yellow;
      h3{
        font-size: $font-size*1.1;
        margin-left:10px;
        float: left;
      }
    }

    .top-navbar .navbar-always > a, .top-navbar .navbar-always > a i.icon, .top-navbar .navbar-always > button{
      color: $primary-color;
      background-color: transparent;
    }
    .top-navbar .navbar-always > button img {
      border-color: lighten($primary-color, 50%);
    }

    .top-navbar .navbar-always > a i.icon{
      background-color: $primary-color;
    }

    div.section.post-header{
      position: relative;
      padding-bottom: 30px;

      div.info{
        position: absolute;
        width: 100%;
        bottom: 0;
        background-color: transparent;
        .container{
          background-color: $background-white;
          h1{
            font-size: $font-size*2;
            text-align: center;
          }
          div.subtitle{
            text-align: center;
          }
          ul.info-extra{
            margin-top: 20px;
            margin-left:20px;
            .author{
              display: block;
            }
            .date{
              display: block;
            }
          }
        }
      }
    }

    div.section.post-content{
      div.text{
        margin-top:40px;
      }
    }


}
