@import "compass/css3";


/* Channel call type */

body.channel-call {

//button customization

.btn{
	padding: 15px 23px;
	border: 10px;
	.icon{
		width: 29px;
		height: 29px;
	}
}


div.section.banner-header{
  	position: relative;
 	min-height: 450px;

 	div.custom-header{
 		position: absolute;
 		top:0;
 		width: 95%;
 		margin-left: 2.5%;
 		border-bottom: 1px solid $color-white;
 		padding: 20px 0 10px 0;
 		color: $color-white;
 		font-weight: bold;
 		img{
 			margin-left: 5px;
 			vertical-align: sub;
 		}
 	}

 	div.img{
 		filter: brightness(85%);
 	}
      
    div.info{
     	position: absolute;
		bottom: 0;
    	width: 50%;
		padding-left: 19%;
		background: white; 
        div.subtitle{
        	padding-top: 50px;
        	color: $color-new-lilac;
        	font-weight: 500;
        }
    }
}

div.section.main-info{
	background-color: $background-white;
	padding-bottom: 30px;
	h1.title{
		padding-top: 5px;
		color: $color-new-green;
		font-weight: bold;
		font-size: $font-size*3;
	}
	p.description{
		color: $color-new-lilac;
		padding-top: 80px;
		font-size: $font-size*1.1;
		line-height: 1.7;
		font-weight: 500;
    }
    .btn-transparent{
    	margin-top: 15px;
    	color: $color-new-green;
    	border: 1px solid $color-new-lilac;
    	font-weight: bold;
    	.icon{
    		background-color: $color-new-lilac;
    	}
    }

}
  
div.section.call-to-action{
    background-color: $background-white;
    padding: 50px 0;
    .info{
    	padding: 15px;
    }
	div.create-project {
	    .info {
	      background-color: $background-new-dark-blue;
	      color: $color-white;
	      .title  {
	        font-weight: bold;
	        font-size: $font-size*2;    
	      }
	      .description {
	        font-size: $font-size;
	        line-height: 1.7;
	      }
	    }
	 }

	div.join-call {
		.info {
		  background-color: $background-new-yellow;
		  color: $color-new-dark-blue;
		  .title  {
		    font-weight: bold;
		    font-size: $font-size*2;    
		  }
		  .description {
		    font-size: $font-size;
		    line-height: 1.7;
		  }
		}
	}
}

/* Body end */

}