@import "compass/css3";

/* home styles */

body.home {

    background-color: $background-main-home;

    /* Custom sidebar menu */

    &.has-sidebar {
        #main {
            width: 100%;
        }
        #sidebar-menu-toggle {
            display: block !important;
            background: $color-white;
            color: $color-light-green;
            text-transform: uppercase;
            padding: 15px 10px;
            font-size: $font-size*1.3;
            font-weight: bold;
            transition: all .5s ease;
            &.affix {
                width: 30px;
                overflow: hidden;
                font-size: 0;
                padding-left: 0;
            }
            .fa-angle-right, .fa-angle-left {
                font-size: $font-size*2;
                margin-left: 10px;
            }
            i {
                @include animation(none); // no animation here
            }

        }

        #sidebar-menu {
            position: fixed;
            @include flex(0);
            z-index: 1002;
            overflow: hidden;
            background-color: transparent;
            height: auto;
            // min-height: 660px;
            min-height: none;
            width: 0;
            @media(min-height: 660px) {
                top: 70px;
            }
            // @media(max-width: $breakpoint-xs - 1) {
            @media(max-height: 600px) {
                height: 100%;
                overflow-y: scroll;
            }
            .sidebar-wrap {
                width: 0;
                position: fixed;
                height: auto;
                position: relative;
            }

            .sidebar-header
            {
                background-color: $color-white;
                min-height: 0;
                padding: 15px 20px;
                color: $color-light-green;
                font-weight: bold;
                text-transform: uppercase;
            }
            .fa-close{
                color: $color-light-grey;
            }
            .sidebar-footer{
                background-color: $background-sidebar-footer;
                padding: 20px;
                .btn-fashion{
                    font-weight: 500;
                    text-transform: uppercase;
                    padding:10px;
                    width: 47%;
                }
                .btn-light-black{
                    margin-left:15px;
                    padding: 10px;
                    text-transform: uppercase;
                    font-weight: 500;
                    width: 47%;
                }
                @media(max-width: $breakpoint-xs - 1) {
                    .btn-fashion, .btn-light-black {
                        width: 100%;
                        display: block;
                        margin: 10px 0;
                    }

                }
            }

            li:hover {
                background-color: $color-light-green;
            }

            // Custom .icon size
            .sidebar-nav li > a  {
                > i.icon {
                    width: $font-size * 1.5;
                    height: $font-size * 1.5;
                    &:first-child {
                        top: 12px;
                    }
                }
            }
        }

        &.sidebar-opened {
            #sidebar-menu-toggle {
                display: none !important;
                // left: 0;
                // &.affix {
                //     width: auto;
                //     overflow: none;
                //     font-size: inherit;
                //     padding-left: inherit;
                // }
            }
            .page-wrap {
                #sidebar-menu {
                    width: $home-sidebar-width;
                    max-width: 100%;
                    .sidebar-wrap {
                        width: $home-sidebar-width;
                        max-width: 100%;
                    }
                    .toggle-sidebar {
                        display: block;
                        position: absolute;
                        font-size: 30px;
                        font-weight: 300;
                        right: 0;
                        top: 0;
                        z-index: 1002;
                        background: 0 0;
                        color: #fff;
                        padding: 6px 12px;
                        margin: 0;
                        border: 0;
                        border-radius: 0;
                    }
                }
            }
        }
    }

    .a-unstyled {
        color: $color-white;
        &:link { color: $color-white; }
        &:visited { color: $color-white; }
        &:hover { color: $color-white; }
        &:active { color: $color-white; }
    }

    /* Modal style */

    .modal{
        .close-button {
          overflow: hidden;
        }
        .close {
            font-size: 40px;
            line-height: 30px;
            padding: 7px 4px 0px 13px;
            text-shadow: none;
            opacity: .7;
            color: #fff;
            margin-bottom: 0;
        }
        .close span {
          display: block;
        }

        .close:hover,
        .close:focus {
          opacity: 1;
          outline: none;
        }
        .modal-content {
          box-shadow: none;
          background-color: transparent;
          border: 0;
        }
        iframe {
          display: block;
          margin: 0 auto;
        }
    }

    .modal-backdrop {
        background-color: rgb(25, 180, 178);
    }

    .section.search{
        padding: 40px 0;
        .inner-addon {
        position: relative;
        display: inline-block;
        }

        /*Placeholder Colors*/
        input::-webkit-input-placeholder {
            color:#7C9BA0;
        }
        input:-moz-placeholder { /* Firefox 18- */
            color:#7C9BA0;
        }

        input::-moz-placeholder { /* Firefox 19+ */
            color:#7C9BA0;
        }

        input:-ms-input-placeholder {
            color:#7C9BA0;
        }

        /* style icon */
        .inner-addon .glyphicon {
          position: absolute;
          padding: 10px;
          pointer-events: none;
          color: #7C9BA0;
        }
        .glyphicon-search
        {
            font-size: 18px;
        }
        .glyphicon-map-marker{
            font-size: 20px;
        }

        /* align icon */
        .left-addon .glyphicon  { left:  0px;}
        .right-addon .glyphicon { right: 0px;}

        /* add padding  */
        .left-addon input  {
            border: 1px transparent solid;
            border-radius: 5px;
            padding: 10px 0px 10px 35px;
            margin-right: 10px;
        }
        .btn-light-green{
            padding:10px;
            min-width: 150px;
            text-transform: uppercase;
        }
        .btn-light-green:hover{
            color: #FFF;
        }
    }


    .call-action{
        background-color: #57246F;
        color: $color-white;
        padding: 30px 0;
        .row{
            display: flex;
        }
        .row .col-button{
            display: flex;
            flex-direction: column;
        }
        .title{
            text-transform: uppercase;
        }
        .description{
            font-weight: bold;
            font-size: $font-size*1.6;
        }
        .col-button{
            display: flex;
            flex-direction: column;
            justify-content: center;
          .btn-white{
            color: $color-grey;
            padding: 13px 0px;
            }
        }

    }

    .section.projects{
        padding: 40px 0;
        .title{
            margin-top: 0;
        }
        ul.project-filters {
          margin:40px 0 35px 0;
        }


        // Hide while loading

        .slider-projects{
             visibility:hidden;
             opacity:0;
             transition: opacity 1s;
            .custom-left-arrow{
                top: 34%;
                position: absolute;
                font-size: $font-size*5;
                left: -2.4%;
                color: $background-light-green;
                cursor: pointer;
            }
            .custom-right-arrow{
                top: 34%;
                position: absolute;
                font-size: $font-size*5;
                right: -4%;
                color: $background-light-green;
                cursor: pointer;
            }
        }

        .slider-projects.slick-initialized{
            visibility:visible;
            opacity:1;
        }

        .slider-projects .item{
            display:none ;
        }

        .slider-projects .item:first-child{
            display:block; visibility:hidden;
        }

        .slider-projects.slick-initialized .item{
            display:block;visibility:visible!important;
        }

        .slick-list {
            padding-left: 0px!important; // half partial
            .widget-slide{
                margin-left: 20px;
                .project-widget.normal{
                    box-shadow: none;
                }
            }
        }
    }

    .section.search{
        padding: 40px 0;
    }

    .section.advantages{
        .nav-tabs > li{
            width: 50%;
            text-align: center;
            margin-bottom: -3px;
            a{
                text-transform: uppercase;
                padding: 20px 0;
            }
        }
        .nav-tabs > li.donor a{
            background-color: $background-green-donor !important;
            color: #729499;
            font-weight: bold;
            line-height:40%;
        }
        .nav-tabs > li.owner a{
            background-color: $background-green-owner !important;
            color:#729499;
            font-weight: bold;
            line-height:40%;
        }

        .advantages-container
        {
            padding-top:40px;
            padding-bottom: 40px;
            span.icon {
                width: $font-size*2;
                height: $font-size*2;
            }
            .row.details{
                padding-top:15px;
                display: flex;
                font-weight: bold;

                .title{
                    img{
                    }
                    span.text{
                        border: 1px solid #CAD7D8;
                        font-size: 12px;
                        padding: 7px;
                        text-transform: uppercase;
                        margin-left: 10px;
                    }
                }
                .description
                {
                    padding: 15px 40px;
                    font-size: 24px;
                }
                .more-description
                {
                    padding: 5px 40px 25px 40px;
                    font-size: 12px;
                    font-weight: normal;
                }
                .action a{
                    font-size: 13px;
                    padding: 0 40px;
                    color: #3A3A3A;
                    text-transform: uppercase;
                    .glyphicon{
                        font-size: 18px;
                        vertical-align: top;
                        margin-left: 5px;
                    }
                }
            }

            .row.more-information
            {
                padding:30px 0;
                .action{
                    margin-top:15px;
                }
                .action a
                {
                    color: #729499;
                    font-size: 15px;
                    font-weight: bold;
                    border-bottom: 1px solid #CAD7D8;
                    padding-bottom: 30px;
                    text-transform: uppercase;
                    .glyphicon{
                        font-size: 18px;
                        vertical-align: top;
                        margin-left: 5px;
                    }
                }
            }
        }
        .adventage:not(:last-child)
        {
            border-right: 1px solid #CAD7D8;
            padding-bottom: 15px;
        }


        .tab-pane.donor{
            background-color: $background-green-donor !important;
        }
        .tab-pane.owner{
            background-color: $background-green-owner !important;
        }

    }

    // General impact module

    .impact-title{
        font-size: $font-size*2;
        font-weight: bold;
        text-align: center;
        padding-top: 0;
        margin-top: 0;
    }

    .row.impact-data{
        .item{
            margin-top: 25px;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            .description{
                font-size: 11px;
                font-weight: normal;
                text-transform: uppercase;
            }
            &.gender{
                font-size: $font-size*2.8;
                .number{
                    margin-left:5px
                }
                .percent{
                    font-size: $font-size*1.4;
                }
            }
        }
    }

    // Values module
    div.goteo-values {
        background-color:#F2F9F8;
        padding-bottom:10rem;

        h1, h2 {
            font-weight:bold;
        }
    
        div.footprint-tabs ul {
            display:flex;
            align-items: center;
            justify-content: center;
            padding:0;
            margin:0 0 50px 0;

            li {
                margin:5px;
                list-style: none;
    
                a {
                    display:block;
                    background:url('../img/home/footprint-bg-tab.png');
                    border-radius:5px;
                    padding:7px 5px 7px 40px;
                    color:#FFFFFF;
                    filter: grayscale(100%);
                    width:100px;
                    background-size: cover;
                    font-weight:bold;
                    font-size:2rem;

                    &[data-footprint="eco"] {
                        background:url('../img/home/footprint-bg-tab-eco.png');
                        background-size: cover;
                    }

                    &[data-footprint="soc"] {
                        background:url('../img/home/footprint-bg-tab-soc.png');
                        background-size: cover;
                    }

                    &[data-footprint="dem"] {
                        background:url('../img/home/footprint-bg-tab-dem.png');
                        background-size: cover;
                    }
                }

                a.active {
                    filter: grayscale(0%);
                }
            }
        }
        
    
        div.footprint-briefing {
            
            border-right:1px solid #E9EFEF;
            padding-left:100px;
            padding-right:50px;

            img.footprint {
                margin-left:-100px;
                position:absolute;
            }

            span.footprint-label {
                border: 1px solid #cad7d8;
                padding:7px;
                text-transform: uppercase;
                font-weight:bold;
            }

            h3 {
                font-size: 1.4rem;
            }
    
            ul {
                display:flex;
                flex-wrap:wrap;
                margin:0;
                padding:0;
    
                li {
                    list-style: none;
                    margin:0 1px 1px 0;
                }
            }

            div.action {

                margin: 4em 0;

                a {
                    color:#53787D;
                    text-transform:uppercase;
                }
            }
        }

        .slider {

            margin-bottom:1rem;

            .slick-arrow {
                position: absolute;
                background-color: #FFF;
                z-index: 10;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                text-align: center;
                color: #56A7A4;
                top: 105px;
                margin-left: -20px;
                box-shadow: 0 0 5px rgba(0,0,0,0.2);
                line-height:0;
                font-size:4rem;

                &.custom-left-arrow {
                    span {
                        margin-left:-5px;
                    }
                }

                &.custom-right-arrow {
                    right:0;
                    margin-right:-20px;
                    padding-left:5px;
                }
            }
        }
    
        .slider-footprint-data {
    
            background:#FFF;
            border-radius:5px;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
            margin-left:30px;
            margin-right:10px;
    
            img {
                float:left;
                margin-right:1em;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            h2, h3 {
                font-size:1.6rem;
                color:#74AA5F;
            }

            h2 {
                margin-top:5rem;
            }

            h3 {
                margin:1rem 0;
                text-transform: uppercase;

                span {
                    font-size:4rem;
                    font-weight:bold;
                }
            }

            p {
                margin:0 2rem 10px 0;
            }
        }

        .slider-footprint-projects {

            margin-left:30px;
            margin-right:10px;

            div.footprint-project {

                display:flex;
                flex-direction:column;
                height:255px;

                img.bg-project {
                    position:absolute;
                    z-index:-1;
                    width:100%;
                    height:100%;
                    filter: grayscale(0%);
                    &.eco {
                        filter: sepia(100%) saturate(100%) brightness(80%) hue-rotate(80deg);
                    }
                    &.soc {
                        filter: sepia(100%) saturate(100%) brightness(80%) hue-rotate(160deg);
                    }
                    &.dem {
                        filter: sepia(100%) saturate(100%) brightness(80%) hue-rotate(300deg);
                    }
                }

                div.project-footprint {
                    flex-grow:1
                }

                img.footprint {
                    padding:2rem;
                }

                h2 {
                    color:#FFFFFF;
                    width: 250px;
                    padding-left:2rem;
                    font-size: 2.4rem;
                    line-height:1.2;
                }

                p {
                    font-size: 1.4rem;
                    color:#FFFFFF;
                    padding-left:2rem;
                }
            }
        }
    }

    @media (max-width: $breakpoint-sm - 1) {
        div.goteo-values {
            div.footprint-briefing {
                border:0;
                border-bottom:1px solid #E9EFEF;
                margin-bottom:3rem;
                padding-left:10px;
                padding-right:10px;
            }

            .slider-footprint-data {
                margin-left:10px;

                img {
                    width:100px;
                    height:290px;
                }

                h2 {
                    margin-top:3rem;
                }
            }

            .slider-footprint-projects {
                margin-left:10px;
            }
        }
    }
    

    //Fundation customization
    .advantages.foundation{
        background-color: $background-yellow !important;
        .foundation-img-container{
            padding-top: 25px;
            img.foundation-img{
                width: 35px;
            }
        }
        .advantages-container
        {
            padding-top: 20px;
        }
        h2.title{
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            margin-top: 0;
            padding-bottom: 0px;
        }

        h3.subtitle{
            text-align: center;
            font-size: $font-size*1.1;
            font-weight: normal;
            margin-top: 10px;
            padding-bottom: 25px;
        }

        .data-container{
            padding: 40px 0;
        }
    
    }

    div.section.matchfunding-module{
        background-color: $background-white;

        .show-action .btn:focus {
            outline: none;
            background-color: $color-pink;
        }

        .show-action{
            text-align: center;
            text-transform: uppercase;
            padding: 25px 0 40px 0;
            font-size: $font-size*1.2;
            font-weight: 500;
        }

        .call-to-action-component{
            background-color: $background-light-lilac;
        }

        .data-container
        {
            background-color: $background-dark-lilac;
            color: $color-white;
            padding: 40px 0;
        }

    }

    div.section.channels{
        background-color: $background-white;
        .title{
            font-weight: bold;
        }
        .drop-img-container{
            padding-top: 30px;
            img.drop-img{
                width: 25px;
            }
        }
        h2.title{
            margin-top:10px;
        }
        div.container{
            padding-top: 30px;
            padding-bottom: 40px;
            div.channel{
                    div.img-container{
                        height: 200px;
                        display: table;
                        width: 100%;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        div.img{
                            height: 200px;
                            vertical-align: middle;
                            display: table-cell;
                            img{
                                max-height: 200px;
                                padding: 20px;
                                margin: 0 auto;
                            }
                        }
                    }
                    div.content{
                        color: $color-white;
                        opacity: 0.8;
                        padding:5%;
                        div.title{
                            font-size: $font-size*2;
                        }
                    }
            }
            .custom-left-arrow{
                top: 34%;
                position: absolute;
                font-size: $font-size*5;
                left: -3%;
                color: $background-light-green;
                cursor: pointer;
                z-index: 1000;
            }
            .custom-right-arrow{
                top: 34%;
                position: absolute;
                font-size: $font-size*5;
                right: -3%;
                color: $background-light-green;
                cursor: pointer;
                z-index: 1000;
            }
            .slick-dots{
                bottom: -40px !important;

                li button::before{
                    color: $color-light-grey !important;
                    opacity: 1;
                    font-size: 11px;
                }
                li.slick-active button::before{
                    color: $background-light-green !important;
                }
            }
        }
    }

    div.section.tools{
        background-color: $background-blue !important;
        padding: 30px;
        .row{
            a.item{
                text-align: center;
                font-weight: bold;
                color: $primary-color;
                img{
                    max-height: 24px;
                    margin-right: 5px;
                }
            }
        }
    }

    div.section.sponsors{
        padding-top:20px;
        padding-bottom: 40px;
        h2.title{
            font-weight: bold;
        }

        ul.img-list {
            li {
                margin-top:50px;
                margin-left: 15px;
                margin-right: 15px;
            }
        }

        div.action{
            margin-top: 50px;
            text-align: center;
            .btn{
                text-transform: uppercase;
                font-weight: bold;
                font-size: $font-size*1.14;
            }
        }


    }

    @media (max-width: $breakpoint-sm - 1) {
        .section.search{
            .inner-addon{
                margin-top:10px;
            }
            .btn-light-green {
                margin: 10px auto;
                display: block;
            }
        }

        .call-action{
            .row
            {
                display: block;
            }
            .col-button .btn-white{
                margin: 15px 0;
            }
        }

        .section.advantages .advantages-container{
            .row.details{
                display: block;
            }
        }

        div.section.tools .row a.item{
            margin-top: 15px;
            display: block;
        }

       

        div.section.matchfunding-module .detail-item{
            margin-top:20px;
        }

    }


    @media (max-width: $breakpoint-sm - 1) {
        .section.search{
            .inner-addon{
                margin-top:10px;
            }
            .btn-light-green {
                margin: 10px auto;
                display: block;
            }
        }

        .call-action{
            .row
            {
                display: block;
            }
            .col-button .btn-white{
                margin: 15px 0;
            }
        }

        .section.advantages .advantages-container{
            .row.details{
                display: block;
            }
        }

        div.section.tools .row a.item{
            margin-top: 15px;
            display: block;
        }

        div.section.matchfunding-module .detail-item{
            margin-top:20px;
        }

        div.section.channels div.container{
            .widget-channel{
                margin: 0 30px;
            }
            .custom-left-arrow{
                top: 45%;
                font-size: 3.57*$font-size;
                left: 20px;
            }
            .custom-right-arrow{
                top: 45%;
                font-size: 3.57*$font-size;
                right: 20px;
            }
        }
    }

    @media (max-width: $breakpoint-lg)
    {
        .call-widget.normal .content div.amount{
            font-size: $font-size*3;
        }
    }

    // Tablets customization

    @media (max-width: $breakpoint-md + 1) {
        .section.advantages .advantages-container{
            .row.details{
                display: block;
            }
        }

        .call-widget.normal .content div.amount{
            font-size: $font-size*3.1;
        }
        div.section.tools .row a.item img{
            height: 24px;
            margin-right: 5px;
            display: block;
            margin: 0 auto;
        }
    }


    @media (max-width: $breakpoint-sm - 1) {

        .section.search{
            .inner-addon{
                margin-top:10px;
            }
            .btn-light-green {
                margin: 10px auto;
                display: block;
            }
        }

        .call-action{
            .row
            {
                display: block;
            }
            .col-button .btn-white{
                margin: 15px 0;
            }
        }

        .section.advantages .advantages-container{
            .row.details{
                display: block;
            }
        }

        div.section.tools .row a.item{
            margin-top: 15px;
            display: block;
        }

        div.section.matchfunding-module .detail-item{
            margin-top:20px;
        }

        #search{
            .btn{
            font-size: $font-size*1.2;
            margin-top: 5px;
            }
            input[type="search"]{
                font-size: $font-size*1.2;
            }
        }
    }


}
