@import "compass/css3";

/* home styles */

body.home {

    background-color: $background-main-home;

    /* Custom sidebar menu */

    &.has-sidebar {
        #main {
            width: 100%;
        }
        #sidebar-menu-toggle {
            display: block !important;
            background: $color-white;
            color: $color-light-green;
            text-transform: uppercase;
            padding: 15px 10px;
            font-size: $font-size*1.3;
            font-weight: bold;
            transition: all .5s ease;
            &.affix {
                width: 30px;
                overflow: hidden;
                font-size: 0;
                padding-left: 0;
            }
            .fa-angle-right, .fa-angle-left {
                font-size: $font-size*2;
                margin-left: 10px;
            }
            i {
                @include animation(none); // no animation here
            }

        }

        #sidebar-menu {
            position: fixed;
            @include flex(0);
            z-index: 1002;
            overflow: hidden;
            background-color: transparent;
            height: auto;
            // min-height: 660px;
            min-height: none;
            width: 0;
            @media(min-height: 660px) {
                top: 70px;
            }
            // @media(max-width: $breakpoint-xs - 1) {
            @media(max-height: 600px) {
                height: 100%;
                overflow-y: scroll;
            }
            .sidebar-wrap {
                width: 0;
                position: fixed;
                height: auto;
                position: relative;
            }

            .sidebar-header
            {
                background-color: $color-white;
                min-height: 0;
                padding: 15px 20px;
                color: $color-light-green;
                font-weight: bold;
                text-transform: uppercase;
            }
            .fa-close{
                color: $color-light-grey;
            }
            .sidebar-footer{
                background-color: $background-sidebar-footer;
                padding: 20px;
                .btn-fashion{
                    font-weight: 500;
                    text-transform: uppercase;
                    padding:10px;
                    width: 47%;
                }
                .btn-light-black{
                    margin-left:15px;
                    padding: 10px;
                    text-transform: uppercase;
                    font-weight: 500;
                    width: 47%;
                }
                @media(max-width: $breakpoint-xs - 1) {
                    .btn-fashion, .btn-light-black {
                        width: 100%;
                        display: block;
                        margin: 10px 0;
                    }

                }
            }

            li:hover {
                background-color: $color-light-green;
            }

            // Custom .icon size
            .sidebar-nav li > a  {
                > i.icon {
                    width: $font-size * 1.5;
                    height: $font-size * 1.5;
                    &:first-child {
                        top: 12px;
                    }
                }
            }
        }

        &.sidebar-opened {
            #sidebar-menu-toggle {
                display: none !important;
                // left: 0;
                // &.affix {
                //     width: auto;
                //     overflow: none;
                //     font-size: inherit;
                //     padding-left: inherit;
                // }
            }
            .page-wrap {
                #sidebar-menu {
                    width: $home-sidebar-width;
                    max-width: 100%;
                    .sidebar-wrap {
                        width: $home-sidebar-width;
                        max-width: 100%;
                    }
                    .toggle-sidebar {
                        display: block;
                        position: absolute;
                        font-size: 30px;
                        font-weight: 300;
                        right: 0;
                        top: 0;
                        z-index: 1002;
                        background: 0 0;
                        color: #fff;
                        padding: 6px 12px;
                        margin: 0;
                        border: 0;
                        border-radius: 0;
                    }
                }
            }
        }
    }

    .a-unstyled {
        color: $color-white;
        &:link { color: $color-white; }
        &:visited { color: $color-white; }
        &:hover { color: $color-white; }
        &:active { color: $color-white; }
    }

    /* Modal style */

    .modal{
        .close-button {
          overflow: hidden;
        }
        .close {
            font-size: 40px;
            line-height: 30px;
            padding: 7px 4px 0px 13px;
            text-shadow: none;
            opacity: .7;
            color: #fff;
            margin-bottom: 0;
        }
        .close span {
          display: block;
        }

        .close:hover,
        .close:focus {
          opacity: 1;
          outline: none;
        }
        .modal-content {
          box-shadow: none;
          background-color: transparent;
          border: 0;
        }
        iframe {
          display: block;
          margin: 0 auto;
        }
    }

    .modal-backdrop {
        background-color: rgb(25, 180, 178);
    }

    // Hide while loading

    .slider-stories{
         visibility:hidden;
         opacity:0;
         transition: opacity 1s;
    }

    .slider-stories.slick-initialized{
        visibility:visible;
        opacity:1;
    }

    .slider-stories .item{
        display:none ;
    }

    .slider-stories .item:first-child{
        display:block; visibility:hidden;
    }

    .slider-stories.slick-initialized .item{
        display:block;visibility:visible!important;
    }

    .slider.slider-stories{
        opacity:1;
        .slick-slide img {
            display: block;
            width: 100%;
        }
        .custom-left-arrow{
            top: 34%;
            position: absolute;
            font-size: $font-size*5;
            left: 0.7%;
            color: $color-white;
            cursor: pointer;
            z-index: 1000;
        }
        .custom-right-arrow{
            top: 34%;
            position: absolute;
            font-size: $font-size*5;
            right: 0.7%;
            color: $color-white;
            cursor: pointer;
        }
    }

    .section.search{
        padding: 40px 0;
        .inner-addon {
        position: relative;
        display: inline-block;
        }

        /*Placeholder Colors*/
        input::-webkit-input-placeholder {
            color:#7C9BA0;
        }
        input:-moz-placeholder { /* Firefox 18- */
            color:#7C9BA0;
        }

        input::-moz-placeholder { /* Firefox 19+ */
            color:#7C9BA0;
        }

        input:-ms-input-placeholder {
            color:#7C9BA0;
        }

        /* style icon */
        .inner-addon .glyphicon {
          position: absolute;
          padding: 10px;
          pointer-events: none;
          color: #7C9BA0;
        }
        .glyphicon-search
        {
            font-size: 18px;
        }
        .glyphicon-map-marker{
            font-size: 20px;
        }

        /* align icon */
        .left-addon .glyphicon  { left:  0px;}
        .right-addon .glyphicon { right: 0px;}

        /* add padding  */
        .left-addon input  {
            border: 1px transparent solid;
            border-radius: 5px;
            padding: 10px 0px 10px 35px;
            margin-right: 10px;
        }
        .btn-light-green{
            padding:10px;
            min-width: 150px;
            text-transform: uppercase;
        }
        .btn-light-green:hover{
            color: #FFF;
        }
    }


    .call-action{
        background-color: #57246F;
        color: $color-white;
        padding: 30px 0;
        .row{
            display: flex;
        }
        .row .col-button{
            display: flex;
            flex-direction: column;
        }
        .title{
            text-transform: uppercase;
        }
        .description{
            font-weight: bold;
            font-size: $font-size*1.6;
        }
        .col-button{
            display: flex;
            flex-direction: column;
            justify-content: center;
          .btn-white{
            color: $color-grey;
            padding: 13px 0px;
            }
        }

    }

    .section.projects{
        padding: 40px 0;
        .title{
            margin-top: 0;
        }
        ul.project-filters {
          margin:40px 0 35px 0;
        }


        // Hide while loading

        .slider-projects{
             visibility:hidden;
             opacity:0;
             transition: opacity 1s;
            .custom-left-arrow{
                top: 34%;
                position: absolute;
                font-size: $font-size*5;
                left: -2.4%;
                color: $background-light-green;
                cursor: pointer;
            }
            .custom-right-arrow{
                top: 34%;
                position: absolute;
                font-size: $font-size*5;
                right: -4%;
                color: $background-light-green;
                cursor: pointer;
            }
        }

        .slider-projects.slick-initialized{
            visibility:visible;
            opacity:1;
        }

        .slider-projects .item{
            display:none ;
        }

        .slider-projects .item:first-child{
            display:block; visibility:hidden;
        }

        .slider-projects.slick-initialized .item{
            display:block;visibility:visible!important;
        }

        .slick-list {
            padding-left: 0px!important; // half partial
            .widget-slide{
                margin-left: 20px;
                .project-widget.normal{
                    box-shadow: none;
                }
            }
        }
    }

    .section.search{
        padding: 40px 0;
    }

    .section.advantages{
        .nav-tabs > li{
            width: 50%;
            text-align: center;
            margin-bottom: -3px;
            a{
                text-transform: uppercase;
                padding: 20px 0;
            }
        }
        .nav-tabs > li.donor a{
            background-color: $background-green-donor !important;
            color: #729499;
            font-weight: bold;
            line-height:40%;
        }
        .nav-tabs > li.owner a{
            background-color: $background-green-owner !important;
            color:#729499;
            font-weight: bold;
            line-height:40%;
        }

        .advantages-container
        {
            padding-top:40px;
            padding-bottom: 40px;
            span.icon {
                width: $font-size*2;
                height: $font-size*2;
            }
            .row.details{
                padding-top:15px;
                display: flex;
                font-weight: bold;

                .title{
                    img{
                    }
                    span.text{
                        border: 1px solid #CAD7D8;
                        font-size: 12px;
                        padding: 7px;
                        text-transform: uppercase;
                        margin-left: 10px;
                    }
                }
                .description
                {
                    padding: 15px 40px;
                    font-size: 24px;
                }
                .more-description
                {
                    padding: 5px 40px 25px 40px;
                    font-size: 12px;
                    font-weight: normal;
                }
                .action a{
                    font-size: 13px;
                    padding: 0 40px;
                    color: #3A3A3A;
                    text-transform: uppercase;
                    .glyphicon{
                        font-size: 18px;
                        vertical-align: top;
                        margin-left: 5px;
                    }
                }
            }

            .row.more-information
            {
                padding:30px 0;
                .action{
                    margin-top:15px;
                }
                .action a
                {
                    color: #729499;
                    font-size: 15px;
                    font-weight: bold;
                    border-bottom: 1px solid #CAD7D8;
                    padding-bottom: 30px;
                    text-transform: uppercase;
                    .glyphicon{
                        font-size: 18px;
                        vertical-align: top;
                        margin-left: 5px;
                    }
                }
            }
        }
        .adventage:not(:last-child)
        {
            border-right: 1px solid #CAD7D8;
            padding-bottom: 15px;
        }


        .tab-pane.donor{
            background-color: $background-green-donor !important;
        }
        .tab-pane.owner{
            background-color: $background-green-owner !important;
        }

    }

    // General impact module

    .impact-title{
        font-size: $font-size*2;
        font-weight: bold;
        text-align: center;
        padding-top: 0;
        margin-top: 0;
    }

    .row.impact-data{
        .item{
            margin-top: 25px;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            .description{
                font-size: 11px;
                font-weight: normal;
                text-transform: uppercase;
            }
            &.gender{
                font-size: $font-size*2.8;
                .number{
                    margin-left:5px
                }
                .percent{
                    font-size: $font-size*1.4;
                }
            }
        }
    }

    //Fundation customization
    .advantages.foundation{
        background-color: $background-yellow !important;
        .foundation-img-container{
            padding-top: 25px;
            img.foundation-img{
                width: 35px;
            }
        }
        .advantages-container
        {
            padding-top: 20px;
        }
        h2.title{
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            margin-top: 0;
            padding-bottom: 0px;
        }

        h3.subtitle{
            text-align: center;
            font-size: $font-size*1.1;
            font-weight: normal;
            margin-top: 10px;
            padding-bottom: 25px;
        }

        .slider{
            background-color: $background-white;
            color:$primary-color;
            .info-container{
                margin-left:20px;
                max-width: 70%;
            }

            .type-container{
                margin-top: 60px;
                .type-label{
                    color: $color-white;
                    background-color: #A2AAAB;
                    border: 1px solid #A2AAAB;
                    font-size: 12px;
                    padding: 7px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                .type{
                    border: 1px solid #A2AAAB;
                    font-size: 12px;
                    padding: 7px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
            .description
            {
                font-size: 21px;
                margin: 35px 0 10px 0;
                font-weight: bold;
                .quote{
                    width: 12%;
                }
                .text{
                    width: 88%;
                }
            }
            .author{
                padding-top: 10px;
                font-size: 12px;
                font-weight: bold;
                color:$color-light-grey;
                clear: both;
                margin-left: 10%;
            }
            .custom-left-arrow{
            top: 45%;
            font-size: $font-size*4;
            left: 50%;
            color: $color-light-grey;
            }
            .custom-right-arrow{
                top: 45%;
                font-size: $font-size*4;
                right: 1.5%;
                color: $color-light-grey;
            }
            .slick-dots{
                right: 4%;
                width: 50%;
                li.slick-active button::before{
                    color: $primary-color !important;
                }

                li button::before{
                    color: $color-light-grey !important;
                    opacity: 1;
                    font-size: 11px;
                }

            }

            .slick-prev{
                 left:50%;
                 z-index: 100;
            }
            .slick-next{
                right: 2%;
                z-index: 100;
            }

            .slick-prev:before {
                font-size: 25px;
                color:$color-light-grey;
            }
            .slick-next:before {
                font-size: 25px;
                color:$color-light-grey;
            }
        }
        .data-container{
            padding: 40px 0;
        }
    
    }

    div.section.matchfunding{
        background-color: $background-white;
        .title{
            font-weight: bold;
        }
        .subtitle{
            text-align: center;
            font-size: $font-size*1.1;
            font-weight: normal;
            margin-top: 10px;
        }
        .drop-img-container{
            padding-top: 25px;
            img.drop-img{
                width: 35px;
            }
        }
        .filters{
           margin:40px 0 35px 0;
           li{
            font-weight: bold;
            padding: 5px 15px;
            cursor: pointer;
            }
            .active{
                background-color: $background-green-owner;
                border-radius: 5px;
            }
        }

        //Loading

        .slider-calls{
             visibility:hidden;
             opacity:0;
             transition: opacity 1s;
        }

        .slider-calls.slick-initialized{
            visibility:visible;
            opacity:1;
        }

        .slider-calls .item{
            display:none ;
        }

        .slider-calls .item:first-child{
            display:block; visibility:hidden;
        }

        .slider-calls.slick-initialized .item{
            display:block;visibility:visible!important;
        }

        .slider-calls{
            margin-bottom: 60px;
            .widget-slide{
                margin: 0 30px;
            }
            .custom-left-arrow{
                top: 34%;
                position: absolute;
                font-size: $font-size*5;
                left: -3%;
                color: $background-light-green;
                cursor: pointer;
            }
            .custom-right-arrow{
                top: 34%;
                position: absolute;
                font-size: $font-size*5;
                right: -3%;
                color: $background-light-green;
                cursor: pointer;
            }
            .slick-dots{
                bottom: -40px !important;

                li button::before{
                    color: $color-light-grey !important;
                    opacity: 1;
                    font-size: 11px;
                }
                li.slick-active button::before{
                    color: $background-dark-lilac !important;
                }
            }
        }

        .show-action{
            text-align: center;
            text-transform: uppercase;
            padding: 25px 0 40px 0;
            font-size: $font-size*1.2;
            font-weight: 500;
        }

        .matchfunding-call-to-action{
            background-color: $background-light-lilac;
            .call-action{
                background: none !important;
            }
        }

        .details-container{
            background-color: $background-dark-lilac;
            color: $color-white;
            font-weight: bold;
            padding: 40px 0;
            .row.details-title{
                .title{
                    text-align: center;
                    padding-top: 0;
                    margin-top: 0;
                }
            }
            .row.details{
                padding-top: 20px;
                .detail-item{
                    border-radius: 50%;
                    width: 75px;
                    height: 75px;
                    background-color: $background-white;
                    box-shadow: 1px 3px 5px -3px #4D4D4D;
                }
                .item-1{
                    padding: 11px 8px;
                }
                .item-2{
                    padding: 13px 9px 5px 16px;
                }
                .item-3{
                    padding: 15px;
                }
                .item-4{
                    padding: 15px;
                }
                .item-5{
                    padding: 14px 12px 6px 11px;
                }
                .item-label{
                    margin-top: 10px;
                    text-transform: uppercase;
                }
            }
        }

        .data-container
        {
            background-color: $background-light-lilac;
            color: $color-white;
            padding: 40px 0;
        }

    }

    div.section.channels{
        background-color: $background-white;
        .title{
            font-weight: bold;
        }
        .drop-img-container{
            padding-top: 30px;
            img.drop-img{
                width: 25px;
            }
        }
        h2.title{
            margin-top:10px;
        }
        div.container{
            padding-top: 30px;
            padding-bottom: 40px;
            div.channel{
                    div.img-container{
                        height: 200px;
                        display: table;
                        width: 100%;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        div.img{
                            height: 200px;
                            vertical-align: middle;
                            display: table-cell;
                            img{
                                max-height: 200px;
                                padding: 20px;
                                margin: 0 auto;
                            }
                        }
                    }
                    div.content{
                        color: $color-white;
                        opacity: 0.8;
                        padding:5%;
                        div.title{
                            font-size: $font-size*2;
                        }
                    }
            }
            .custom-left-arrow{
                top: 34%;
                position: absolute;
                font-size: $font-size*5;
                left: -3%;
                color: $background-light-green;
                cursor: pointer;
                z-index: 1000;
            }
            .custom-right-arrow{
                top: 34%;
                position: absolute;
                font-size: $font-size*5;
                right: -3%;
                color: $background-light-green;
                cursor: pointer;
                z-index: 1000;
            }
            .slick-dots{
                bottom: -40px !important;

                li button::before{
                    color: $color-light-grey !important;
                    opacity: 1;
                    font-size: 11px;
                }
                li.slick-active button::before{
                    color: $background-light-green !important;
                }
            }
        }
    }

    div.section.tools{
        background-color: $background-blue !important;
        padding: 30px;
        .row{
            a.item{
                text-align: center;
                font-weight: bold;
                color: $primary-color;
                img{
                    max-height: 24px;
                    margin-right: 5px;
                }
            }
        }
    }

    div.section.sponsors{
        padding-top:20px;
        padding-bottom: 40px;
        h2.title{
            font-weight: bold;
        }

        ul.img-list {
            li {
                margin-top:50px;
                margin-left: 15px;
                margin-right: 15px;
            }
        }

        div.action{
            margin-top: 50px;
            text-align: center;
            .btn{
                text-transform: uppercase;
                font-weight: bold;
                font-size: $font-size*1.14;
            }
        }


    }

    @media (max-width: $breakpoint-sm - 1) {
        .section.search{
            .inner-addon{
                margin-top:10px;
            }
            .btn-light-green {
                margin: 10px auto;
                display: block;
            }
        }

        .call-action{
            .row
            {
                display: block;
            }
            .col-button .btn-white{
                margin: 15px 0;
            }
        }

        .section.advantages .advantages-container{
            .row.details{
                display: block;
            }
        }

        div.section.tools .row a.item{
            margin-top: 15px;
            display: block;
        }

        .advantages.foundation .slider .info-container{
            max-width: 80%;
            margin-left: 10%;
            margin-bottom: 50px;
        }

        .advantages.foundation{
            .slick-dots{
                left:0 !important;
            }
            .slick-prev{
                left:15px !important;
                top:80% !important;
            }
            .slick-next{
                right: 15px !important;
                top:80% !important;
            }
        }

        div.section.matchfunding .detail-item{
            margin-top:20px;
        }

    }


    @media (max-width: $breakpoint-sm - 1) {
        .section.search{
            .inner-addon{
                margin-top:10px;
            }
            .btn-light-green {
                margin: 10px auto;
                display: block;
            }
        }

        .call-action{
            .row
            {
                display: block;
            }
            .col-button .btn-white{
                margin: 15px 0;
            }
        }

        .section.advantages .advantages-container{
            .row.details{
                display: block;
            }
        }

        div.section.tools .row a.item{
            margin-top: 15px;
            display: block;
        }

        .advantages.foundation .slider .info-container{
            max-width: 80%;
            margin-left: 10%;
            margin-bottom: 50px;
        }

        .advantages.foundation{
            .slick-dots{
                left:0 !important;
            }
            .slick-prev{
                left:15px !important;
                top:80% !important;
            }
            .slick-next{
                right: 15px !important;
                top:80% !important;
            }
        }

        div.section.matchfunding .detail-item{
            margin-top:20px;
        }

        div.section.channels div.container{
            .widget-channel{
                margin: 0 30px;
            }
            .custom-left-arrow{
                top: 45%;
                font-size: 3.57*$font-size;
                left: 20px;
            }
            .custom-right-arrow{
                top: 45%;
                font-size: 3.57*$font-size;
                right: 20px;
            }
        }
    }

    @media (max-width: $breakpoint-lg)
    {
        .call-widget.normal .content div.amount{
            font-size: $font-size*3;
        }
    }

    // Tablets customization

    @media (max-width: $breakpoint-md + 1) {
        .section.advantages .advantages-container{
            .row.details{
                display: block;
            }
        }

        .call-widget.normal .content div.amount{
            font-size: $font-size*3.1;
        }
        div.section.tools .row a.item img{
            height: 24px;
            margin-right: 5px;
            display: block;
            margin: 0 auto;
        }
    }


    @media (max-width: $breakpoint-sm - 1) {

        .section.search{
            .inner-addon{
                margin-top:10px;
            }
            .btn-light-green {
                margin: 10px auto;
                display: block;
            }
        }

        .call-action{
            .row
            {
                display: block;
            }
            .col-button .btn-white{
                margin: 15px 0;
            }
        }

        .section.advantages .advantages-container{
            .row.details{
                display: block;
            }
        }

        .advantages.foundation .slider .custom-left-arrow{
            top:60%;
            left:3%;
        }

       .advantages.foundation .slider .custom-right-arrow{
            top:60%;
        }
        .advantages.foundation .slider .slick-dots{
            width: 100%;
        }

        div.section.tools .row a.item{
            margin-top: 15px;
            display: block;
        }

        .advantages.foundation .slider .info-container{
            max-width: 80%;
            margin-left: 10%;
            margin-bottom: 50px;
        }

        .advantages.foundation{
            .slick-dots{
                left:0 !important;
            }
            .slick-prev{
                left:15px !important;
                top:80% !important;
            }
            .slick-next{
                right: 15px !important;
                top:80% !important;
            }
        }

        div.section.matchfunding .detail-item{
            margin-top:20px;
        }

        #search{
            .btn{
            font-size: $font-size*1.2;
            margin-top: 5px;
            }
            input[type="search"]{
                font-size: $font-size*1.2;
            }
        }
    }


}
