@import "compass/css3";

.import-discover-filters {

    select {
        border: 1px solid #CAD5D6;
        padding: 1rem;
        border-radius: 5px;
    }

    .view-as {
        a img {
            opacity: 0.4;
        }
        a.active img {
            opacity: 1;
        }
    }
}

.impact-discover-projects {
    .row {
        
        img.bg-project {
            position:absolute;
            z-index:1;
            width:100%;
            height:100%;
            filter: grayscale(0%);
            &.eco {
                filter: sepia(100%) saturate(100%) brightness(80%) hue-rotate(80deg);
            }
            &.soc {
                filter: sepia(100%) saturate(100%) brightness(80%) hue-rotate(160deg);
            }
            &.dem {
                filter: sepia(100%) saturate(100%) brightness(80%) hue-rotate(300deg);
            }
        }

        img.footprint {
            padding:2rem;
            position:relative;
            z-index:10;
        }

        h2 {
            color:#FFFFFF;
            width: 250px;
            padding-left:2rem;
            font-size: 2.4rem;
            line-height:1.2;
            position:relative;
            z-index:10;
        }

        .col.sm-8 h2 {
            font-size: 4.5rem;
        }

        h3 {
            color:#FFFFFF;
            width: 250px;
            padding-left:2rem;
            font-size: 2.4rem;
            line-height:1.2;
            position:relative;
            z-index:10;
        }

        p {
            font-size: 1.4rem;
            color:#FFFFFF;
            padding-left:2rem;
            position:relative;
            z-index:10;
        }
    }
}

