@import "compass/css3";

/* matchfunding landing styles */

@font-face {
    font-family: Lovelo;
    src: url(/assets/vendor/fonts/lovelo/lovelo_line_light.otf);
}
@font-face {
    font-family: Lovelo;
    src: url(/assets/vendor/fonts/lovelo/lovelo_line_bold.otf);
    font-weight: bold;
}

body.matchfunding-landing {
	background-color: $background-main-home;

  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }

  .a-unstyled {
    color: #3a3a3a;
  }

  .pronto-loading {
      position: relative;
      &::before {
/*           z-index: 1000;
          width: 30px;
          height: 30px;
          position: absolute;
          content: '';
          top: -10px;
          left: 0;
 */          border-top: 2px solid $color-lilac;
/*           background:url(../img/ring.gif) no-repeat left;
          background-size: contain;
          @include animation-name (loading-bar);
          @include animation-duration (1s);
          @include animation-iteration-count (infinite); */
      }
/*       &.pronto-loading::before {
          // margin: 0 20px;
          left: 15px;
          @include animation-name (loading-bar-padding);

      } */
  }

	.top.navbar-always > a, .top-navbar .navbar-always > a i.icon, .top-navbar .navbar-always > button{
	    color: $primary-color;
	    background-color: transparent;
	 }
	.top-navbar .navbar-always > button img {
	    border-color: lighten($primary-color, 50%);
	 }

	.top-navbar .navbar-always > a i.icon{
	    background-color: $primary-color;
	}

  	.top-navbar{
      	background-color: $color-white;
  		.navbar-brand
  		{
  			margin-top: 5px;
  		}
  		
      	h3{
        	font-size: $font-size*1.3;
        	margin-left:10px;
        	float: left;
        	margin-top: 20px;
      	}

      	div.powered{
      		float: right;
			color: #9d9d9d;
			padding: 18px 10px 20px 50px;
			border-left: 1px solid #e4e4e4;
			img{
				margin-left: 10px;
				vertical-align: text-bottom;
			}
      	}
  	}

    div.material-switch{
        height: 60px;
        label{
          width: 318px;
        }
        label::before{
          height: 60px;
          width: 318px;
          background-color: $color-super-light-grey !important;
          opacity: 1;
          border-radius: 50px;
        }
        label::after{
          height: 54px;
          width: 158px;
          background-color: $background-dark-lilac;
          border-radius: 50px;
        }
        span.pitch{
          color: $color-white;
          position: absolute;
          z-index: 10;
          font-size: $font-size*1.4;
          bottom: -29px;
          left: 52px;
          text-transform: uppercase;

        }
        span.match{
          color: $primary-color;
          position: absolute;
          left: 202px;
          z-index: 10;
          font-size: $font-size*1.4;
          bottom: -29px;
          text-transform: uppercase;
        }
        input[type="checkbox"]:checked + label span.match{
          color: $color-white;
        }
        input[type="checkbox"]:checked + label span.pitch{
          color: $primary-color;
        }
        input[type="checkbox"]:checked + label::after{
          left: 156px;
        }
    }

  	div.section.selector{
  		padding-bottom: 30px;
  		background-color: $color-white;
  		div.text-up{
  			margin-bottom: 10px;
  			color: $color-text-green;
  			font-size: $font-size*0.8;
  			text-transform: uppercase;
  		}
  		div.text-down{
  			color: $color-text-green;
  			font-size: $font-size*0.8;
  			text-transform: uppercase;
  		}
  	}
  	div.section.main-info{
  		background-color: $color-white;
  		padding-top:10px;
  		padding-bottom: 30px;
  		div.text{
  			div.caption{
  				color: $color-white;
				background-color: $background-dark-lilac;
				font-size: 12px;
				padding: 8px 15px;
				text-transform: uppercase;
				font-weight: 700;
				display: inline-block;
  			}
  			h1.title{
  				font-size: $font-size*3;
  				font-weight: bold;
  				margin-top: 10px;
  				line-height: 1;
  			}
  			div.description{
  				color: $color-text-green;
  				font-size: $font-size*0.9;
  				padding-top:8px;
  			}
  		}
  	}

    div.section.matchfunding-module{
      .drop-img-container
      {
        padding-top: 35px;
      }
      h3.subtitle{
        color: $color-text-green;
      }
      .calls-summary{
        padding-top: 10px;
        padding-bottom: 25px;
        td{
          background-color: $color-white;
        }
      }
    }

    div.section.stories{
      background-color: $color-white;
      padding-top: 30px;
      margin-bottom: 0px;
    }

    div.section.map-visualization{
      padding-bottom: 35px;
      background-color: $color-white;
      h2.title{
        font-weight: bold;
        text-align: center;
        padding: 15px 0 25px 0;
        margin-top:0;
      }
    }

    div.stats{
      padding: 40px 0;
      background-color: $background-light-lilac;
      color: $color-white;
      .impact-title{
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        padding-top: 0;
        margin-top: 0;
      }
      .item{
        margin-top: 25px;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
      }
      .description{
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
      }

    }

    div.section.sponsors{
      padding-top: 15px;
      padding-bottom: 45px;
      background-color: $color-white;

      h2.title{
        font-weight: bold;
        text-align: center;
      }

      h3.subtitle{
        text-align: center;
        font-size: $font-size*1.1;
        font-weight: normal;
        margin-top: 10px;
        color: $color-text-green;
      }

      ul.img-list {
        li {
            margin-top:50px;
            margin-left: 15px;
            margin-right: 15px;
        }
      }

      div.action{
          margin-top: 50px;
          text-align: center;
          .btn{
              text-transform: uppercase;
              font-weight: bold;
              font-size: $font-size*1.14;
          }
      }
    }

    div.call-to-action-component{
      background-color: $background-dark-lilac;
    }

    div.section.spheres{
      padding-top: 20px;
      padding-bottom: 30px;
      background-color: $color-white;
      h2.title{
        font-weight: bold;
        text-align: center;
      }
      .detail-item {
        border-radius: 50%;
        width: 75px;
        height: 75px;
        background-color: #FFFFFF;
        box-shadow: 1px 3px 5px -3px #4D4D4D;
        margin-top: 20px;
        img{
          max-width: 57%;
          margin: 0 auto;
          padding-top: 21%;
          /*-webkit-filter: brightness(.55) saturate(3) grayscale(100%);
          filter: brightness(.55) saturate(3) grayscale(100%);*/
        }
      }
      .item-label{
        margin-top: 10px;
        text-transform: uppercase;
        text-align: center;
        color:$color-text-green;
        font-size: $font-size*0.9;
      }
    }

    div.section.stages{
      background-color: $color-white;
      padding-top: 15px;
      padding-bottom: 20px;
       h2.title{
        font-weight: bold;
        text-align: center;
      }
      
    }

    div.section.becas-crowd{
      padding-top: 20px;
      padding-bottom: 30px;

      h2.title{
        font-family: Lovelo;
        font-size: $font-size*3.6;
        font-weight: bold;
        margin-top: 10px;
        line-height: 1;
        padding-top: 60px;
      }
      .description {
        color: $color-text-green;
      }
      .action{
        margin-top: 20px;
        text-transform: uppercase;
        font-weight: bold;
      }
      
    }

    div.section.calls-list-match{
      padding-top: 15px;
      padding-bottom: 20px;
      background-color: $color-white;
      h2.title{
        font-weight: bold;
        text-align: center;
      }
    }

    /* Sticky menu */
    
     div.sticky-menu{
      background-color: $color-white;
      height: 60px;
      .matchfunding-title{
        margin-left: 13px;
        margin-top: 18px;
        font-size: $font-size*1.73;
        font-weight: bold;
      }
      .logo{
          float: left !important;
          border: 1px solid #e4e4e4;
          padding: 20px 8px;
          background-color: #fff;
          z-index: 150;
        img{
            width: 43px;
        }
      }

      .powered{
        color: #CFCFCF;
        margin-top: 22px;
        margin-left: 10px;
        .icon-goteo-logo{
          vertical-align: sub;
          width: 80px;
          height: 26.13px;
          background-color: #959394;
        }
      }

      &.sticky-match{
          background-color: $background-dark-lilac;
          color: $color-white;
          box-shadow: 1px 3px 5px -3px #4D4D4D;
          .powered{
            color: $color-white;
            opacity: 0.6;
          }
          .icon-goteo-logo{
            background-color: $color-white;
            opacity: 0.6;
          }
          /*div.material-switch{     
            label::before{
              background-color: #5C1D4E !important;
            }
            label::after{
              background-color: $color-white;
            }
          }*/
      }

      div.material-switch{
        padding-top: 10px;
        height: 50px;
        label{
          width: 234px;
        }
        label::before{
          height: 49px;
          width: 241px;
          background-color: $color-super-light-grey;
          opacity: 1;
          border-radius: 50px;
        }
        label::after{
          height: 43px;
          width: 129px;
          background-color: $background-dark-lilac;
          border-radius: 50px;
        }
        span.pitch{
          color: $color-white;
          position: absolute;
          z-index: 10;
          font-size: $font-size*1.25;
          bottom: -23px;
          left: 37px;
          text-transform: uppercase;

        }
        span.match{
          color: $primary-color;
          position: absolute;
          left: 143px;
          z-index: 10;
          font-size: $font-size*1.25;
          bottom: -24px;
          text-transform: uppercase;
        }
        input[type="checkbox"]:checked + label span.match{
          color: $color-white;
        }
        input[type="checkbox"]:checked + label span.pitch{
          color: $primary-color;
        }
        input[type="checkbox"]:checked + label::after{
          left: 109px;
        }
      }

    }

    div.section.related-posts{
      padding: 40px 0 50px 0;
      h2.title{
        text-align: center;
        margin-top: 0;
        padding-bottom: 30px;
      }
    }


    @media (max-width: $breakpoint-sm - 1) 
    {

      div.section.selector{
        padding-top: 35px;
      }

      div.section.main-info{
        .description{
          margin-bottom: 20px;
        }
      }

      div.stats{
        .item{
          margin-bottom: 20px !important;
        }
      }

      div.section.becas-crowd{
        padding-top: 20px;
        padding-bottom: 30px;
        h2.title{
          padding-top: 0px;
        }
        .action{
          margin-bottom: 20px;
        }
      }

      div.sticky-selector{
        float: none !important;
        text-align: center;
      }

      div.related-post{
        margin-top: 20px;
      }   

    }

}


