body.project {
    #main {
        background-color: $background-light-grey;
        #main-content {
          background-color: $background-white;

          #project-tabs-menu {
            margin-top: 8rem;
          }
        }

        .container-fluid {
            @media(min-width: $breakpoint-sm) {
                max-width: 750px;
            }
            @media(min-width: $breakpoint-md) {
                max-width: 970px;
            }
            @media(min-width: $breakpoint-lg) {
                max-width: 1170px;
            }

            details {
                summary {
                    h2 {
                      color: $color-dark !important;
                    }
                }

                &[open] summary {
                    h2 {
                      color: $color-dark-green !important ;
                    }
                }

                a {
                    img {
                      margin-top: 22px;
                    }
                }
            }
        }

    }
    &.create {
      background-color: $background-light-grey;
        #main {
            #main-content {
                background-color: $background-light-grey;
                .btn-success{
                  font-weight: bold;
                  font-size: $font-size*1.2;
                  text-transform: uppercase;
                }
                h1.no-apply{
                  margin-bottom:30px;
                  margin-top: 50px;
                }
                p.no-apply{
                  text-align:center;
                  text-transform:uppercase;
                  margin:30px 0
                }
            }
        }
    }

  // Impact Calculator landing
    &.impact-calculator {
      background-color: $background-light-green;
      #main {
        height: 100%;

        #main-content {
          height: 100%;
          background-color: $background-light-green;

          .impact-calculator-container {
            height: 100%;

            .impact-calculator-header {
              color: $color-white;
              margin-bottom: 2rem;

              h1 {
                font-weight: 700;
                font-size: 32px;
                line-height: 37.5px;
              }

              p {
                font-weight: 700;
                font-size: 16px;
                line-height: 18.75px;
              }
            }

            .impact-calculator-body {
              height: 100%;
              background-color: $background-white;
              border-radius: 5rem 5rem 0 0;
              padding: 1rem;
              padding-top: 5rem;

              div.impact-calculator-body-title {
                text-align: center;

                h2 {
                  font-weight: 700;
                  font-size: 24px;
                  line-height: 28px;
                }

                p {
                  color: $color-grey;
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 20px;
                }
              }

              .footprint-details {
                margin-bottom: 2rem;

                .footprint-dropdown {
                  margin: auto;
                  border-radius: 20px;
                  text-align: left;
                  background: rgba(203, 223, 232, 0.4);
                  width: 100%;
                  display: flex;

                  div {
                    margin: auto;
                    margin-left: 2rem;
                    margin-bottom: 1rem;
                    color: #345D6D;

                    h3 {
                      font-weight: 700;
                      font-size: 18px;
                      text-align: center;
                    }

                    p {
                      font-weight: 400;
                      font-size: 12px;
                      line-height: 20px;
                      margin: auto;
                      text-align: center;
                    }
                  }

                  button {
                    border-radius: 100%;
                    width: 36px;
                    height: 36px;
                    background: rgba(52, 93, 109, 0.1);
                    margin: auto 2rem auto auto;
                  }
                }
              }
            }

            div.impact-calculator-save {
              text-align: center;

              button.btn-large.btn-cyan {
                margin: 5rem;
              }
            }
          }
        }
      }

      article.card {
        padding: 15px;
        width: 223px;
        height: 315px;
        opacity: 0.2;
        border: 1px solid #345D6D;
        border-radius: 8px;
        position: relative;
        margin: 1rem;

        &.active {
          opacity: 1;
          color: white;

          i.icon {
            background-color: white  !important;
          }

          input {
            background-color: unset;
          }
        }

        &.footprint-1 {
         background: linear-gradient(324.72deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 98.42%), #FBB80B;
        }

        &.footprint-2 {
          background: linear-gradient(324.72deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 98.42%), #D22F30;
        }

        &.footprint-3 {
          background: linear-gradient(324.72deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 98.42%), #265688;
        }

        i.icon {
          &.icon-medal {
            @include svg-background('../img/impact-calculator/medal.svg');
          }

          &.icon-money-bag {
            @include svg-background('../img/impact-calculator/money_bag.svg');
          }

          &.icon-classroom {
            @include svg-background('../img/impact-calculator/classroom.svg');
          }
        }

        div.info {
          width: 16px;
          height: 16px;
          border-radius: 100%;
          background-color: rgba(0, 0, 0, 0.1);
          position: absolute;
          right: 1rem;
          top: 1rem;
          text-align: center;

          i.fa.info {
            margin: auto;
          }
        }

        .card-input {
          display: inline-block;


          input {
            border-width: 0 0 2px 0;
            width: 165px;

            &:focus {
              outline: none;
            }
          }
        }

        i.icon-money-bag {
          width: 16px;
          height: 23px;
        }

        i.icon-person {
          width: 16px;
          height: 17px;
        }

        i.icon-job {
          width: 34px;
          height: 34px;
        }

        i.icon-classroom {
          width: 58px;
          height: 58px;
        }
      }
      .tooltip {
        background-color: $color-white;
        width: 300px;

        .tooltip-inner {
          background-color: $color-white;
          color: $color-black;
          text-align: left;
        }
      }
  }


  /* Channel module */

    .channel{
      margin-top: 60px;

      &.spacer-20 {
        margin-top: 20px;
      }

      &.spacer-40 {
        margin-top: 40px;
      }

      .channel-label{
        width: 15%;
      }
      .btn{
        margin-left: 5px;
        color: $color-white !important;
        padding: 3px 40px;
        width: 65%;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    background: $color-white;

  @media (max-width: $breakpoint-sm - 1) {
    padding-bottom: 57px;
    .channel{
        margin-top: 10px;
        .channel-label{
          width: 20%;
          font-size: 1.3em;
        }
        .btn{
          margin-left: 5px;
          color: $color-white !important;
          padding: 3px 40px;
          width: 75%;
        }
    }
  }

  @media (max-width: $breakpoint-xs - 1) {
    font-size: 10px !important;
  }

  @media (max-width: $breakpoint-xxs - 1) {
    font-size: 9px !important;
  }


  .side {
    .btn-block {
        text-transform: uppercase;
        font-weight: bold;
        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - 1) {
            max-width: 80%;
        }
        @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg - 1) {
            max-width: 70%;
        }
        @media (min-width: $breakpoint-lg) {
            max-width: 60%;
        }
    }
  }
}
