@import "compass/css3";

/* workshop styles */

@font-face {
    font-family: Lovelo;
    src: url(/assets/vendor/fonts/lovelo/lovelo_line_light.otf);
}
@font-face {
    font-family: Lovelo;
    src: url(/assets/vendor/fonts/lovelo/lovelo_line_bold.otf);
    font-weight: bold;
}

body.workshop {

    background-color: $background-white;

    .a-unstyled {
        color: $color-white;
        text-decoration: none;
        &:link { color: $color-white; text-decoration: none;}
        &:visited { color: $color-white; text-decoration: none;}
        &:hover { color: $color-white; text-decoration: none;}
        &:active { color: $color-white; text-decoration: none;}
        &:focus { color: $color-white; text-decoration: none;}
    }

    img.header-default{
      object-fit: cover;
      width: 100%;
    }

   .social{
      text-align: center;
      vertical-align: middle;
      margin-left: 35px;
    }

    /* Icons social */

    .social [class*="fa fa-"] {
      background-color: $primary-color;
      border-radius: 40px;
      color: $color-white;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      margin: auto 10px;
      width: 40px;
      font-size: 22px;
      text-align: center;
    }
    .social [class*="fa fa-"]:hover{
      background-color: $background-light-green;
      color: $color-white;
      text-align: center;
    }

    h2.tag-title{
      padding-top: 30px;
      text-align: center;
    }

    /* Sticky menu */
    
     div.sticky-menu{
      padding-top: 10px;
      background-color: $background-main-home;
      &.sticky-list{
        padding-top:0 !important;
        ul.filters{
          margin-bottom: 0px;
          padding: 15px 0 15px 0;
          div.foundation-mark{
            display: block;
            top: 20%;
            img.logo{
              width: 40px;
              height: 40px;
            }
            h3{
              font-size: 16.5px;
              margin-left: 10px;
            }
          }
        }
      }
      .social{
        margin-left: 0px;
      }
    }

    div.section.banner-header{
      position: relative;
      div.image{
        img{
          filter: brightness(85%);
        }
      }
      div.info{
        position: absolute;
        width: 100%;
        bottom: 30%;
        color: $color-white;
        .container{
          h1{
            font-size: $font-size*5;
            text-align: left;
            font-weight: bold;
            text-shadow: .5px .5px #3a3a3a;
            text-transform: uppercase;
            font-family: Lovelo;
            margin-bottom: 0;
            line-height: 0.9;
          }
          div.subtitle{
            text-align: left;
            font-size: $font-size*1.2;
            text-shadow: .5px .5px #3a3a3a;
            text-transform: uppercase;
          }
          .type-container{
              margin-top: 10px;
              .type-label{
                  color: $color-white;
                  background-color: #A2AAAB;
                  border: 1px solid #A2AAAB;
                  font-size: 12px;
                  padding: 7px;
                  text-transform: uppercase;
                  font-weight: bold;
              }
              .type{
                  border: 1px solid #A2AAAB;
                  font-size: 12px;
                  padding: 7px;
                  text-transform: uppercase;
                  font-weight: bold;
                  color: $primary-color;
                  background-color: $color-white;
              }
          }
        }
      }
    }

    div.main-call-to-action{
      background-color: $background-dark-lilac;
      .call-action{
        padding: 10px 0;
        display: flex;
        .date{
          background-color: $color-white;
          border-radius: 4px;
          color: $background-dark-lilac;
          margin-right: 8%;
          padding: 10px;
          .left{
            font-size: $font-size*3.2;
            display: inline-block;
            line-height:0.8;
            font-weight: bold;
            margin: 0 15px;
          }
          .right{
            display: inline-block;
            .month{
              font-size: $font-size*1.5;
              line-height: 0.8;
              margin-bottom: 5px;
              font-weight: bold;
              text-transform: uppercase;

            }
            .year{
              font-size: $font-size;
              line-height: 0.8;
            }
          }

        }
        .col-location{
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          font-size: $font-size*1.3;
          font-weight: bold;
          .fa-map-marker{
            font-size: $font-size*2;
            margin-right: 8px;
          }
        }
        .col-button .btn-white{
          text-transform: uppercase;
          color: $background-dark-lilac;
          font-weight: bold;
        }
      }

    }

    div.intro-text
    {
      text-align: center;
      font-size: $font-size*1.25;
      p{
        padding: 25px 10%;
        .fa-quote-left{
          vertical-align: super;
        }
        .fa-quote-right{
          vertical-align: sub;
        }
      }
    }

    div.main-info{
      background-color: $background-main-home;
      padding: 40px 0;
      font-size: $font-size*1.05;
      ul.sponsors{
        li.sponsor-container{
          text-align: center;
          padding-bottom: 20px;
          width: 60%;
          margin: 0 auto;
          &:last-child
          {
            border-bottom: 6px $background-grey dotted;
            padding-bottom: 30px;
          }
        }
      }

      .spheres{
        .detail-item {
          border-radius: 50%;
          width: 60px;
          height: 60px;
          background-color: #FFFFFF;
          box-shadow: 1px 3px 5px -3px #4D4D4D;
          margin-top: 20px;
          img{
            max-width: 55%;
            margin: 0 auto;
            padding-top: 21%;
            /*-webkit-filter: brightness(.55) saturate(3) grayscale(100%);
            filter: brightness(.55) saturate(3) grayscale(100%);*/
          }
        }
        .item-label{
          margin-top: 10px;
          text-transform: uppercase;
          text-align: center;
          color:$color-text-green;
          font-size: $font-size*0.83;
        }
      }
      div.schedule{
        text-align: center;
        display: block;
        padding-bottom: 30px;
        border-bottom: 6px #555555 dotted;
        width: 60%;
        margin: 0 auto 30px auto;
        font-size: $font-size*1.4;
      }

      div.file-icon-label{
        text-align: center;
      }
      div.terms{
        margin-top: 30px;
      }
      div.file-icon{
        text-align: center;
        display: block;
        padding-bottom:40px;
        border-bottom: 6px $background-grey dotted;
        width: 60%;
        margin: 0 auto;
        .fa-file{
          color: $background-grey;
          font-size: $font-size*3.2;
          opacity: 0.6;
          margin-top: 10px;
        }
      }
      div.share-label{
        padding-top:30px;
        text-align: center;
        font-size: $font-size*0.9;
      }
      ul.share-icons{
          text-align: center;
          margin-top: 15px;
      }
    }

    div.how-to-get{
      font-size: $font-size*1.06;
      h2{
        width: 80%;
        padding: 13px 0 7px;
        font-size: $font-size*1.5;
      }
      .venue-address{
        width: 80%;
        padding-bottom: 28px;
        border-bottom: 6px $background-light-lilac dotted;
      }
    }

    .extra-call-to-action{
      background-color: $background-light-green;

      .call-action{
        display: flex;
        .col-time{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-transform: uppercase;
            font-size: $font-size*1.3;
            font-weight: bold;
            .fa-clock-o{
              font-size: $font-size*2;
              margin-right: 8px;
            }
        }
        .col-button .btn-white{
          text-transform: uppercase;
          color: $background-light-green;
          font-weight: bold;
        }
      }
    }

    .partner{
      padding: 30px 0;
      img.no-title{
        margin-top: 20px;
        max-height: 56px;
        padding-left: 22px;
      }
      .title{
        margin-bottom: 10px;
      }
      .disclaimer{
        font-size: $font-size*0.8;
      }
    }
    

    .workshops-container{
      background-color: $background-main-home;
      padding: 15px 0 40px 0;
      div.action{
          text-align: center;
          .btn{
              text-transform: uppercase;
              font-weight: bold;
              font-size: $font-size*1.14;
          }
      }
    }

    .section.stories{
      padding-top: 30px;
      margin-bottom: 0;
    }

    div.section.related-posts{
      padding: 40px 0 50px 0;
      h2.title{
        text-align: center;
        margin-top: 0;
        padding-bottom: 30px;
      }
      .a-unstyled{
        color: #3a3a3a;
      }
    }



  // Tablets customization

    @media (max-width: $breakpoint-md + 1) {
      

    }

    @media (max-width: $breakpoint-sm - 1) {

      div.section.banner-header{
        div.info{
          .container{
            h1{
              font-size: $font-size*3;
            }
          }
        }
      }

      div.main-call-to-action{
        .call-action{
            padding: 20px 0;
            display:block;
            .date{
                margin-right:0;
            }
            .col-location{
                margin: 25px 0 15px;
            }

        }
      }

      div.main-info{
          .file-icon-label{
              margin-top: 30px;
          }
      }

      div.how-to-get{
        .description{
          margin-bottom:30px;
        }
      }

      div.extra-call-to-action{
        .call-action{
            padding: 20px 0;
            display:block;
            .col-time{
              text-align: center;
              margin-bottom: 20px;
            }
        }
      }

      div.sticky-menu, .filters {
            bottom: 0;
            top: auto;
            z-index: 1000;
            overflow-y: scroll;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
            background-color: $background-yellow;
            margin-bottom: 0px;
        }
        div.sticky-menu{
          padding: 15px 0 0px 0 !important;
        }

      }

      .partner{
        padding: 20px 0;
        img.no-title{
          max-height: 100%;
          margin-top: 20px;
          padding-left: 0;
        }
        .title{
          margin-top: 20px;
          margin-bottom: 10px;
        }
      }


}
