div.widget.user-social .title {
    display: none;
}

div.widget.user-social ul {
    list-style: none;
    overflow: visible;
    margin: 0;
    padding: 0;
}

div.widget.user-social li {
    display: block;
    padding-left: 30px;
    float: left;    
    min-height: 2em;
    line-height: 2em;
    background: no-repeat left center;
    min-width: 20%;
}

div.widget.user-social li a {
    text-decoration: none;
}

div.widget.user-social li.facebook {
    background-image: url('/view/css/social/facebook.png');
}

div.widget.user-social li.google {
    background-image: url('/view/css/social/google.png');
}

div.widget.user-social li.twitter {
    background-image: url('/view/css/social/twitter.png');    
}

div.widget.user-social li.identica {
    background-image: url('/view/css/social/identica.png');
}

div.widget.user-social li.linkedin {
    background-image: url('/view/css/social/linkedin.png');
}
