.announcement {
    background-color:  $background-dark-lilac;
    color: $color-white;

    h1 {
        text-wrap: pretty;
    }

    p {
        text-wrap: balance;
    }

    .container {
        margin-top: 1em;
        margin-bottom: 1em;

        .row {
            display: flex;

            @media (max-width: $breakpoint-sm) {
                display: block;
            }    
        }
        
        .cta {
            margin: auto;
        }

        .grid-donation {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1em
        }
    }
}