/* generic call to action */
@import "compass/css3";

.call-to-action-component{
  background-color: $background-light-lilac;
  .call-action{
    background: none !important;
    color: $color-white;
    padding: 30px 0;
    .row{
        display: flex;
    }
    .row .col-button{
        display: flex;
        flex-direction: column;
    }
    .title{
        text-transform: uppercase;
    }
    .description{
        font-weight: bold;
        font-size: $font-size*1.6;
    }
    .col-button{
        display: flex;
        flex-direction: column;
        justify-content: center;
      .btn-white{
        color: $color-grey;
        padding: 13px 0px;
        white-space: normal;
      }
    }
  }

  &.double{
        .call-action{
            padding:0;
            display: flex;
            margin-left:0;
            margin-right:0;
        }
        .row .col{
            padding-top:30px;
            padding-bottom: 30px;
            flex-flow: column;
            &:first-child{
                padding-left: $col-percentage;
            }
            &:nth-child(2){
                padding-right: 2%;
            }
            &:nth-child(3){
                padding-left: 2%;
            }
            &.col-left{
                background-color: #D9B1D4;
                .description{
                    color: $background-light-lilac;
                }
            }
            .description{
                font-size:$font-size*1.4;
                line-height: 1.2;
                padding-top: 10px;
            }
             &.col-right{
                .title{
                    color: #D9B1D4;
                }
            }

        }
    }
}



@media (max-width: $breakpoint-sm - 1) {
    .call-to-action-component{

        .call-action{
            .row
            {
                display: block;
            }
            .col-button .btn-white{
                margin: 15px 0;
            }
        }

        &.double{
            .call-action{
                padding:0;
                display: block;
            }
            .row .col{
                padding-top:30px;
                padding-bottom: 30px;
                &:first-child{
                    padding-left: 15px;
                }
                &:nth-child(2){
                    padding-right: 15px;
                }
                &:nth-child(3){
                    padding-left: 15px;
                }
                &.col-button{
                    padding-top:0px;
                }
            }
        }
    }
}

