@import "compass/css3";

/* Autoforms */
.pull-right-form {
    float: right;
    margin-top: -44px;
}
.sortable-ghost {
  opacity: .3;
}
.sortable-drag {
  // TODO: it seems that
  // firefox is scaling the draggable clone
  // This should solve it
  -moz-transform:scale(.5);
}

// Google maps autocomplete fix for modals
.pac-container {
  z-index: 1051 !important;
}

.autoform, .form {

  .form-group {
    margin-bottom: 20px;

    .form-control.loading {
      background-position: right;
      background-size: 24px;
      min-height: auto;
      background-image: url(../img/ring.gif);
    }

    .input-wrap {
      background: $background-light-body;
      border-radius: 5px;
      padding: 12px;
      .form-control,
      .form-control-static,
      .input-group > .input-group-addon,
      .bootstrap-tagsinput {
        padding: 6px 12px;
        color: $secondary-color;
        @include box-shadow(none);
        // border-color: $background-white;
        border-color: darken($background-white, 5%);
        background-color: $background-white;
        &[disabled],&.disabled {
            background-color: darken($background-white, 3%);
        }
      }
      .bootstrap-tagsinput {
        width: 100%;
      }
      .form-control:focus, .CodeMirror-focused, .summernote.focused .note-editor {
        border-color: $color-cyan;
        outline: 0;
        @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6));
      }
      >.datepicker,>.datepicker-year {
        max-width: 180px;
        .bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
          background-color: $color-cyan;
        }
      }
      .editor-toolbar,.CodeMirror {
        border: none;
        color: $secondary-color;
      }
      .editor-toolbar:before {
        margin:0;
        content: none;
      }
    }
    &.has-success {
      .form-control, .CodeMirror {
        border: 1px solid darken($color-green, 10%);
      }
    }
    &.has-error {
        .help-block {
            color: darken($color-red, 10%);
        }
        .form-control, .CodeMirror {
            border: 1px solid darken($color-red, 10%);
        }
        .form-control:focus, .CodeMirror-focused, .summernote.focused .note-editor {
          border-color: darken($color-red, 10%);
          outline: 0;
          @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(200, 0, 0, .6));
        }
    }

    label {
        /* FontAwesome style */
        // /*
        > input[type="checkbox"] {
            display:none;
            + span {
                cursor: pointer;
            }
            + span::before {
                content: '\f096';
                font-family: FontAwesome;
                font-weight: normal;
                font-size: 17px;
                margin-right: 6px;
                width: 12px;
                display: inline-block;
                vertical-align: middle;
                height: 19px;
                line-height: 1;
            }
            &:checked + span::before {
                content: '\f046';
            }
        }
        > input[type="radio"] {
            display:none;
            + span {
                cursor: pointer;
            }
            + span::before {
                content: '\f10c';
                font-family: FontAwesome;
                font-weight: normal;
                font-size: 17px;
                margin-right: 6px;
                width: 12px;
                display: inline-block;
                vertical-align: middle;
                height: 19px;
                line-height: 1;
            }
            &:checked + span::before {
                content: '\f05d';
            }
        }
        //
        /* https://webdesign.tutsplus.com/articles/quick-tip-easy-css3-checkboxes-and-radio-buttons--webdesign-8953 */
        /*
        > input[type="checkbox"] {
            display:none;
            + span {
                cursor: pointer;
            }
            + span::before {
                content: '';
                display: inline-block;
                width:19px;
                height:19px;
                margin-right: 4px;
                // margin:-2px 10px 0 0;
                vertical-align: top;
                background:url(../img/icons/check_radio_sheet.png) left top no-repeat;
            }
            &:checked + span::before {
                background:url(../img/icons/check_radio_sheet.png) -19px top no-repeat;
            }
        }
        > input[type="radio"] {
            display:none;
            + span {
                cursor: pointer;
            }
            + span::before {
                content: '';
                display: inline-block;
                width:19px;
                height:19px;
                margin-right: 4px;
                // margin:-2px 10px 0 0;
                vertical-align: top;
                background:url(../img/icons/check_radio_sheet.png) -38px top no-repeat;
            }
            &:checked + span::before {
                background:url(../img/icons/check_radio_sheet.png) -57px top no-repeat;
            }
        }
        */
    }
  }

  .modal-map {
    .map {
      height: 450px;
    }
    .input-block {
      .form-group {
        display: inline-block;
        width: 100%;
      }
      .form-group-radius {
        display: none;
      }
      &.show-radius {
        .form-group-search {
          width: 80%;
          width: calc(100% - 115px);
          margin-right: 10px;
        }
        .form-group-radius {
          display: inline-block;
          width: 100px;
          .form-control {
            display: inline-block;
            width: 60px;
          }
        }
      }
    }

  }
  .location_desc {
    font-style: italic;
    margin-left: 10px;
    margin-right: 10px;
  }
  .help-text {
    display: block;
    margin: 10px 5px 0 5px;
    color: lighten($color-grey, 10%);
    font-size: $font-size - 2;
    font-style: italic;
    &::before {
        font-family: FontAwesome;
        content: "\f05a";
        margin-right: 5px;
        font-style: normal;
    }
    &::after {
        display: block;
        content: '';
        clear: both;
        line-height:0;
    }
    &.info {
        text-align: right;
        &::before {
            content:none;
        }
    }
  }

  .material-switch {
    display: table-cell;
    > label {
      cursor: pointer;
    }
    & + label {
      text-transform: uppercase;
      font-weight: 500;
      display: table-cell;
    }
    > input[disabled] + label {
        opacity: 0.7;
    }
  }

  .media-container {
    .video-holder {
      display: none;
      position: relative;
      max-width: 300px;
      margin-bottom:10px;
    }
    .video-button {
        display: none;
    }
    .embed-responsive {
        display: none;
    }
    &.loading {
      background: none;
      .video-holder {
        background:url(../img/ring.gif) no-repeat center;
        display: block;
        padding-bottom: 60px;
        .cover-image {
          display:none;
        }

      }
    }
    &.loaded {
      .video-holder {
        display: block;
      }
      .video-button {
        display: block;
      }
      .embed-responsive {
        display: none;
      }
      .cover-image {
        display:block;
      }
    }
    &.playing {
      .video-holder {
        display: block;
      }
      .video-button {
        display: none;
      }
      .embed-responsive {
        display: block;
      }
      .cover-image {
        display:none;
      }
    }

  }

  // With this class, help text are hidden are shown on focus
  &.hide-help {
    .help-text .fa-clipboard {
        cursor: pointer;
    }
    .help-text[data-desc] {
      height: $font-size + 4;
      overflow: hidden;
      white-space: pre-line;
      &::before {
        font-family: $primary-font;
        content: attr(data-desc);
        font-weight: bold;
      }
    }
    .form-control:focus, .CodeMirror-focused, .CodeMirror-focused ~ .editor-statusbar, .summernote.focused .note-editor {
      + .help-text {
          height: auto;
      }
    }
  }

  // Exit fullscreen button
  .editor-toolbar {
    &.fullscreen {
      a.exit-fullscreen {
        display: inline-block;
        pointer-events: auto !important;
      }
    }
    a.exit-fullscreen {
      display: none;
      background-color: $color-cyan !important;
      color: $color-white !important;
      width: auto;
      padding: 0 5px;
      &::after {
          content: attr(title);
          font-family: $primary-font;
          margin-left: 5px;
      }
    }
  }
}

.material-switch {
    display:inline-block;

    > input[type="checkbox"] {
        display: none !important;
    }

    > label {
        // cursor: pointer;
        height: 0px;
        position: relative;
        width: 55px;
        display: inline-block;
    }

    > label::before {
        background: rgb(0, 0, 0);
        //@include box-shadow(inset 0px 0px 10px rgba(0, 0, 0, 0.5));
        border-radius: 15px;
        content: '';
        height: 30px;
        margin-top: -15px;
        position:absolute;
        left:0;
        top:0;
        opacity: 0.3;
        @include transition(all 0.4s ease-in-out);
        width: 52px;
    }
    > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        //@include box-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
        content: '';
        height: 24px;
        left: 4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        @include transition(all 0.3s ease-in-out);
        width: 24px;
    }
    > input[type="checkbox"]:checked + label::before {
        background: inherit;
        opacity: 1;
    }
    > input[type="checkbox"]:checked + label::after {
        // background: inherit;
        left: 24px;
    }

    + .control-label {
        margin-left: 10px;
    }
}



/* image sortable list*/

.image-zone {
  position: relative;
  width: 100%;
  background: $background-light-body;
  padding: 5px;
  border-radius: 5px;
  &::after {
    display: block;
    content: '';
    clear: both;
  }
  &.file {
    .image-list-sortable > li {
        background-image: none;
    }
  }
  .dragndrop {
    width: 150px;
    height: 150px;
    position: relative;
    display: block;
    float: left;
    margin: 5px;
  }
  .dropzone {
    border: 2px dashed $secondary-color;
    border-radius: 5px;
    cursor: pointer;
    background: #EBF4F3;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 150px;
    width: 100%;
    color: $secondary-color;
    line-height:$font-size;
    overflow: hidden;
    i {
        color: $color-cyan;
    }
    .dz-preview {
      &.dz-image-preview {
        background: none;
      }
      margin: -10px;
    }
  }
  .image-list-sortable {
    min-height: 160px;
    display: block;
    border: 5px solid $background-light-body;
    margin: 0;
    line-height: 0;
    float: left;

    // min-width: 150px;
    &.over {
      // background-color: $background-pink;
      // border-color:$background-pink;
      border-color:$color-cyan;
    }
    &.choose {
        width: 100%;
        // float:
    }
    > li {
      position: relative;
      line-height: 1em;
      // padding: 5px 0 0 5px;
      padding: 0;
      margin: 0 0 5px 5px;
      background: no-repeat darken($background-white, 5%) url(/assets/img/ring.gif) center;
      &:last-child {
        margin-right: 0;
      }
      .image {
        width: 150px;
        height: 150px;
        cursor: move;
        // background-color: $color-cyan;
        background-position: 0 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
    }
    .options {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 10px;
      text-align: right;
      /* background: rgba(0,0,0,0.5); */
    }
  }

}

.input-wrap .image-zone {
    padding:0;
    .image-list-sortable {
        border:0;
        min-height: 150px;
    }
}


