@import "compass/css3";

/* main slider component */

div.section.main-slider{
    position: relative;

    .slider-main{
         visibility:hidden;
         opacity:0;
         transition: opacity 1s;
    }

    .slider-main.slick-initialized{
        visibility:visible;
        opacity:1;
    }

    .slider-main .item{
        display:none ;
    }

    .slider-main .item:first-child{
        display:block; visibility:hidden;
    }

    .slider-main.slick-initialized .item{
        display:block;visibility:visible!important;
    }

    .slider.slider-main{
        opacity:1;
        .slick-slide img {
            display: block;
            width: 100%;
        }
        .custom-left-arrow{
            top: 34%;
            position: absolute;
            font-size: $font-size*5;
            left: 0.7%;
            color: $color-white;
            cursor: pointer;
            z-index: 1000;
        }
        .custom-right-arrow{
            top: 34%;
            position: absolute;
            font-size: $font-size*5;
            right: 0.7%;
            color: $color-white;
            cursor: pointer;
        }
    }

     nav{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 100;
        margin: 20px 30px 20px 0;
        li{
            margin-left: 20px;
            text-transform: uppercase;
        }
        li a
        {
            font-weight: bold;
            color: $color-white;

        }
        .btn{
            font-weight: bold;
            border: none;
            padding: 12px;
        }
    }

    div.main-info{
        position: absolute;
        bottom: 20%;
        z-index: 150;
        color: $color-white;
        width: 100%;
        span.title{
            border: 1.7px solid rgba(255, 255, 255, .5);
            @include background-clip(padding-box);
            font-size: $font-size;
            padding: 7px;
            text-transform: uppercase;
            font-weight: 600;
            text-shadow: 0.4px 0.4px #3A3A3A;
        }
        div.description{
            margin: 20px 0;
            font-size:2.5*$font-size;
            font-weight: bold;
            text-shadow: 0.5px 0.5px #3A3A3A;
            line-height: 1.1;
        }
        .btn{
            text-transform: uppercase;
        }
        img{
            filter: brightness(85%) contrast(80%);
        }
    }

    .slick-slider{
        margin-bottom: 0;
    }

    .slick-slide img{
        filter: brightness(85%);
    }

}

// Tablets customization
@media (max-width: $breakpoint-md + 1) {
    div.section.main-slider{
        div.main-info{
            margin-left: 15%;
            span.title{
                font-size: $font-size*0.8;
            }
            div.description{
                font-size: $font-size*1.4;
            }
             .btn-white{
                font-size: $font-size*0.8 !important;
            }
        }
    }
}
@media (max-width: $breakpoint-sm - 1) {
    div.section.main-slider{
        div.main-info{
            margin-left: 20%;
            bottom: 18%;
            span.title{
                font-size: $font-size*0.8 !important;
            }
            div.description{
                font-size: $font-size*1.1 !important;
                margin-bottom: 10px;
            }
            .btn-white{
                font-size: $font-size*0.7 !important;
            }
        }
    }
}