@import "compass/css3";

/* stories slider component */


// Hide while loading

.slider-stories{
     visibility:hidden;
     opacity:0;
     transition: opacity 1s;
}

.slider-stories.slick-initialized{
    visibility:visible;
    opacity:1;
}

.slider-stories .item{
    display:none ;
}

.slider-stories .item:first-child{
    display:block; visibility:hidden;
}

.slider-stories.slick-initialized .item{
    display:block;visibility:visible!important;
}

.slider.slider-stories{
    opacity:1;
    .slick-slide img {
        display: block;
        width: 100%;
    }
}

.slider-stories{
    background-color: $background-white;
    color:$primary-color;
    .info-container{
        margin-left:20px;
        max-width: 70%;
    }

    .type-container{
        margin-top: 60px;
        .type-label{
            color: $color-white;
            background-color: #A2AAAB;
            border: 1px solid #A2AAAB;
            font-size: 12px;
            padding: 7px;
            text-transform: uppercase;
            font-weight: bold;
        }
        .type{
            border: 1px solid #A2AAAB;
            font-size: 12px;
            padding: 7px;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    .description
    {
        font-size: 21px;
        margin: 35px 0 10px 0;
        font-weight: bold;
        .quote{
            width: 12%;
        }
        .text{
            width: 88%;
        }
    }
    .author{
        padding-top: 10px;
        font-size: 12px;
        font-weight: bold;
        color:$color-light-grey;
        clear: both;
        margin-left: 10%;
    }
    .custom-left-arrow{
        top: 45%;
        font-size: $font-size*4;
        left: 50%;
        color: $color-light-grey;
        position: absolute;
        cursor: pointer;
        z-index: 1000;
    }
    .custom-right-arrow{
        top: 45%;
        font-size: $font-size*4;
        right: 1.5%;
        color: $color-light-grey;
        position: absolute;
        cursor: pointer;
        z-index: 1000;
    }
    .slick-dots{
        right: 4%;
        width: 50%;
        li.slick-active button::before{
            color: $primary-color !important;
        }

        li button::before{
            color: $color-light-grey !important;
            opacity: 1;
            font-size: 11px;
        }

    }

    .slick-prev{
         left:50%;
         z-index: 100;
    }
    .slick-next{
        right: 2%;
        z-index: 100;
    }

    .slick-prev:before {
        font-size: 25px;
        color:$color-light-grey;
    }
    .slick-next:before {
        font-size: 25px;
        color:$color-light-grey;
    }
}



// Tablets customization
@media (max-width: $breakpoint-md + 1) {
   
}
@media (max-width: $breakpoint-sm - 1) {
    .slider-stories .info-container{
            max-width: 80%;
            margin-left: 10%;
            margin-bottom: 50px;
        }

    .slider-stories{
        .slick-dots{
            left:0 !important;
        }
        .slick-prev{
            left:15px !important;
            top:80% !important;
        }
        .slick-next{
            right: 15px !important;
            top:80% !important;
        }
    }

    .slider-stories .info-container{
            max-width: 80%;
            margin-left: 10%;
            margin-bottom: 50px;
        }

    .slider-stories{
        .slick-dots{
            left:0 !important;
        }
        .slick-prev{
            left:15px !important;
            top:80% !important;
        }
        .slick-next{
            right: 15px !important;
            top:80% !important;
        }
    }

    .slider-stories .custom-left-arrow{
        top:60%;
        left:3%;
    }

   .slider-stories .custom-right-arrow{
        top:60%;
    }
    .slider-stories .slick-dots{
        width: 100%;
    }

}