@import "compass/css3";

/* workshops component */

div.workshops{
    padding-bottom: 40px;
    h2.title{
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
    }
    .custom-left-arrow{
        top: 25%;
        font-size: $font-size*4;
        left: -3%;
        color: $color-light-grey;
        position: absolute;
        cursor: pointer;
        z-index: 1000;
    }
    .custom-right-arrow{
        top: 25%;
        font-size: $font-size*4;
        right: 1.5%;
        color: $color-light-grey;
        position: absolute;
        cursor: pointer;
        z-index: 1000;
    }
    .workshop-item{
        text-align: center;
        .date{
            background-color: $background-dark-lilac;
            border-radius: 10px;
            text-align: center;
            width: 130px;
            margin: 0 auto;
            a{
                padding: 20px;
                color: $color-white;
                display: block;
            }
            .day{
                font-weight:bold;
                font-size: $font-size*3.2;
                line-height:0.9;
            }
            .month{
                text-transform: uppercase;
                font-size: $font-size*1.2;
                margin-top: 5px;

            }
            .year{
                font-size: $font-size*1.2;
                line-height: 1;
            }
        }
        .title{
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 15px;
            .a-unstyled{
                color: #3a3a3a !important;
            }
        }
        .subtitle{
            margin-top: 10px;
            font-weight: lighter;
        }
    }
}

// Tablets customization
@media (max-width: $breakpoint-md + 1) {
    div.workshops{
        
    }  
}

@media (max-width: $breakpoint-sm - 1) {
   div.workshops{
        
    }
}