body.project-edit div#main.overview div.superform li.element.media,
body.project-edit div#main.updates div.superform li.element.media {
    position: relative;
}

body.project-edit div#main.overview div.superform li.element.media > div.contents,
body.project-edit div#main.updates div.superform li.element.media > div.contents {
    margin-right: 270px;
}

body.project-edit div#main.overview div.superform li.element.media > div.contents iframe,
body.project-edit div#main.updates div.superform li.element.media > div.contents iframe {
    width: 380px !important;
    height: 220px !important;
}

body.project-edit div#main.overview div.superform li.element.media textarea {    
    min-height: 170px;
    max-height: 170px;
    height: 170px;
}

body.project-edit div#main.overview div.superform li.element.media > div.children * {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body.project-edit div#main.overview div.superform li.element.media > div.children {
    position: absolute;
    right: 16px; /* 1em + 2px */
    bottom: 26px; /* 2em of 13px */
    width: 250px;
    height: 170px;
    padding: .4em;
    font-size: 14px;
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
    z-index: 45;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    
}

body.project-edit div#main.overview div.superform li.element.media-preview > div {
    background-color: white;
}

body.project-edit div#main.overview div.superform li.element.media-preview .title {
    display: none;
}