
/**
 * Rewards
 */
 
body.project-edit div#main.rewards div.superform li.element.reward-new > .title {
    display: none;
}

/* Viendo */

body.project-edit div#main.rewards div.superform li.element.reward div.title {
    font-size: 14px;
    text-transform: uppercase;
    width: 70%;
    float: left;
}

body.project-edit div#main.rewards div.superform li.element.reward div.reward {
    padding-left: 55px;
    background: none no-repeat 10px center;
    min-height: 32px;
}

body.project-edit div#main.rewards div.superform li.element.reward div.file {
    background-image: url('../../icon/m/file.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.money {
    background-image: url('../../icon/m/money.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.code {
    background-image: url('../../icon/m/code.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.service {
    background-image: url('../../icon/m/service.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.manual {
    background-image: url('../../icon/m/manual.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.product {
    background-image: url('../../icon/m/product.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.design {
    background-image: url('../../icon/m/design.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.other {
    background-image: url('../../icon/m/other.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.description {
    float: left;
    width: 70%;
    margin: .5em 0;
}

body.project-edit div#main.rewards div.superform li.element.reward div.license {
    padding-left: 110px !important;
    background: none no-repeat 10px center;
    min-height: 32px;
    line-height: 32px;
}

body.project-edit div#main.rewards div.superform li.element.reward input.edit,
body.project-edit div#main.rewards div.superform li.element.reward input.remove {
    float: right;
    clear: right;
    width: 7em;
}

body.project-edit div#main.rewards div.superform li.element.reward input.edit {
    margin-top: -1em;
}

body.project-edit div#main.rewards div.superform li.element.reward input.remove {
    margin-bottom: 1em;
    margin-top: 0;
}

/* Editando */

body.project-edit div#main.rewards div.superform li.element.editsocial_reward > .children  ol,
body.project-edit div#main.rewards div.superform li.element.editindividual_reward > .children  ol {
    padding: 0 !important;
    margin: 0 !important;
}

body.project-edit div#main.rewards div.superform li.element.editsocial_reward li.buttons div.contents,
body.project-edit div#main.rewards div.superform li.element.editindividual_reward li.buttons ol,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward li.buttons div.contents,
body.project-edit div#main.rewards div.superform li.element.editindividual_reward li.buttons ol {
    margin: 0 !important;
    padding: 0 !important;
}

body.project-edit div#main.rewards div.superform li.element.editsocial_reward li.buttons li,
body.project-edit div#main.rewards div.superform li.element.editindividual_reward li.buttons li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

body.project-edit div#main.rewards div.superform li.element.editsocial_reward li.buttons input,
body.project-edit div#main.rewards div.superform li.element.editindividual_reward li.buttons input {
    width: auto;
    float: left;
    margin: 0 10px 0 0;
}


body.project-edit div#main.rewards div.superform li.element.editsocial_reward div.children li.element.reward-description textarea,
body.project-edit div#main.rewards div.superform li.element.editindividual_reward div.children li.element.reward-description textarea {
    height: 4em;
    min-height: 4em;
}

body.project-edit div#main.rewards div.superform li.element.editsocial_reward div.children li.element.reward-type li > label,
body.project-edit div#main.rewards div.superform li.element.editindividual_reward div.children li.element.reward-type li > label {
    padding-left: 55px;
    background-position: 10px center;
    background-repeat: no-repeat;
    min-height: 32px;
    line-height: 32px;
}

body.project-edit div#main.rewards div.superform li.element.editsocial_reward div.children li.element.reward-type li.reward_file > label,
body.project-edit div#main.rewards div.superform li.element.editindividual_reward div.children li.element.reward-type li.reward_file > label {
    background-image: url('../../icon/m/file.png');
}

body.project-edit div#main.rewards div.superform li.element.editsocial_reward div.children li.element.reward-type li.reward_money > label,
body.project-edit div#main.rewards div.superform li.element.editindividual_reward div.children li.element.reward-type li.reward_money > label {
    background-image: url('../../icon/m/money.png');
}

body.project-edit div#main.rewards div.superform li.element.editsocial_reward div.children li.element.reward-type li.reward_code > label,
body.project-edit div#main.rewards div.superform li.element.editindividual_reward div.children li.element.reward-type li.reward_code > label {
    background-image: url('../../icon/m/code.png');
}

body.project-edit div#main.rewards div.superform li.element.editsocial_reward div.children li.element.reward-type li.reward_service > label,
body.project-edit div#main.rewards div.superform li.element.editindividual_reward div.children li.element.reward-type li.reward_service > label {
    background-image: url('../../icon/m/service.png');
}

body.project-edit div#main.rewards div.superform li.element.editsocial_reward div.children li.element.reward-type li.reward_manual > label,
body.project-edit div#main.rewards div.superform li.element.editindividual_reward div.children li.element.reward-type li.reward_manual > label {
    background-image: url('../../icon/m/manual.png');
}

body.project-edit div#main.rewards div.superform li.element.editsocial_reward div.children li.element.reward-type li.reward_product > label,
body.project-edit div#main.rewards div.superform li.element.editindividual_reward div.children li.element.reward-type li.reward_product > label {
    background-image: url('../../icon/m/product.png');
}

body.project-edit div#main.rewards div.superform li.element.editsocial_reward div.children li.element.reward-type li.reward_design > label,
body.project-edit div#main.rewards div.superform li.element.editindividual_reward div.children li.element.reward-type li.reward_design > label {
    background-image: url('../../icon/m/design.png');
}

body.project-edit div#main.rewards div.superform li.element.editsocial_reward div.children li.element.reward-type li.reward_other > label,
body.project-edit div#main.rewards div.superform li.element.editindividual_reward div.children li.element.reward-type li.reward_other > label {
    background-image: url('../../icon/m/other.png');
}

/* Licencias */
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license ul {
    margin-left: 18px;
}

body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li > label {
    padding-left: 110px !important;
    background: none no-repeat 10px center;
    min-height: 32px;
    line-height: 32px;
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_agpl ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_agpl > label {
    background-image: url('/view/css/license/agpl.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_apache ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_apache > label {
    background-image: url('/view/css/license/apache.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_balloon ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_balloon > label {
    background-image: url('/view/css/license/balloon.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_bsd ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_bsd > label {
    background-image: url('/view/css/license/bsd.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_cc0 ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_cc0 > label {
    background-image: url('/view/css/license/cc0.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_ccby ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_ccby > label {
    background-image: url('/view/css/license/ccby.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_ccbync ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_ccbync > label {
    background-image: url('/view/css/license/ccbync.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_ccbyncnd ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_ccbyncnd > label {
    background-image: url('/view/css/license/ccbyncnd.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_ccbyncsa ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_ccbyncsa > label {
    background-image: url('/view/css/license/ccbyncsa.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_ccbynd ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_ccbynd > label {
    background-image: url('/view/css/license/ccbynd.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_ccbysa ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_ccbysa > label {
    background-image: url('/view/css/license/ccbysa.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_fal ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_fal > label {
    background-image: url('/view/css/license/fal.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_fdl ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_fdl > label {
    background-image: url('/view/css/license/fdl.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_freebsd ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_freebsd > label {
    background-image: url('/view/css/license/freebsd.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_gpl ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_gpl > label {
    background-image: url('/view/css/license/gpl.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_lgpl ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_lgpl > label {
    background-image: url('/view/css/license/lgpl.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_mit ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_mit > label {
    background-image: url('/view/css/license/mit.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_mpl ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_mpl > label {
    background-image: url('/view/css/license/mpl.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_odbl ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_odbl > label {
    background-image: url('/view/css/license/odbl.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_odcby ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_odcby > label {
    background-image: url('/view/css/license/odcby.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_oshw ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_oshw > label {
    background-image: url('/view/css/license/oshw.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_pd ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_pd > label {
    background-image: url('/view/css/license/pd.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_php ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_php > label {
    background-image: url('/view/css/license/php.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_tapr ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_tapr > label {
    background-image: url('/view/css/license/tapr.png');
}

body.project-edit div#main.rewards div.superform li.element.reward div.license_xoln ,
body.project-edit div#main.rewards div.superform li.element.editsocial_reward .social_reward-type .license li.license_xoln > label {
    background-image: url('/view/css/license/xoln.png');
}/* Fin licencias */

body.project-edit div#main.rewards div.superform li.element.editindividual_reward div.children li.element.reward-amount > div.contents > input {
    width: 3em;
    max-width: 3em;
    min-width: 3em;
    float: left;
    padding-right: 2em;
    background-image: url('/view/css/euro/s.png');    
    background-repeat: no-repeat;
    background-position: 3.7em center;
    font-weight: bold;
}

body.project-edit div#main.rewards div.superform li.element.editindividual_reward div.children li.element.reward-units > div.contents > input {
    width: 4.6em;
    max-width: 4.6em;
    min-width: 4.6em;
}
