
/**
 * Costs 
 */
 
body.project-edit div#main.supports div.superform li.element.support div.children li.element .title {
    padding: .3em 0;
    position: absolute;
    left: 0;
    top: 1em;
}

body.project-edit div#main.supports div.superform li.element.support div.children li.element .contents {    
    margin-left: 25%;
    position: relative;
    margin-top: 0;
}

body.project-edit div#main.supports div.superform li.element.support li.element.support-remove {
    text-align: right;
    padding-top: 0;
}


body.project-edit div#main.supports div.superform li.element.support div.children li.element.support-type li > label {
    padding-left: 55px;        
    background: none no-repeat 10px center;
    min-height: 32px;
    line-height: 32px;
}

body.project-edit div#main.supports div.superform li.element.support div.children li.element.support-type li.support_task > label {
    background-image: url('../../icon/m/task.png');
}

body.project-edit div#main.supports div.superform li.element.support div.children li.element.support-type li.support_lend > label {
    background-image: url('../../icon/m/lend.png');
}
