AddDefaultCharset UTF-8
Options +FollowSymLinks
ServerSignature Off

<Files .*>
    Order Deny,Allow
    Deny From All
</Files>

<IfModule mod_php5.c>
  php_value  magic_quotes_runtime   "0"
  php_value  magic_quotes_gpc       "0"
  php_value  register_globals       "Off"
  php_value  register_long_arrays   "Off"
  php_value  session.auto_start     "0"
  php_value  display_startup_errors "On"
</IfModule>

<IfModule mod_rewrite.c>
  # TODO: prohibir el acceso directo a index.php
  RewriteEngine On
  RewriteBase /

  RewriteCond %{HTTP_HOST} ^([0-9\.]*) [NC]
  RewriteCond %{HTTP_HOST} ^(.*).ovh.net [NC]
  RewriteCond %{HTTP_HOST} ^([alf\.]*)goteo.org [NC]
  RewriteRule ^(.*)$ http://www.goteo.org/$1 [R=301,L]

  #RewriteCond %{HTTPS} !=on
  #RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  #RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

  RewriteCond %{REQUEST_URI} !=/server-status
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule .* index.php?%{QUERY_STRING}
</IfModule>

# Cache para recursos estaticos
<IfModule mod_expires.c>
          ExpiresActive on

          ExpiresByType image/jpg "access plus 60 days"
          ExpiresByType image/png "access plus 60 days"
          ExpiresByType image/gif "access plus 60 days"
          ExpiresByType image/jpeg "access plus 60 days"

          ExpiresByType text/css "access plus 1 week"
          ExpiresByType text/javascript "access plus 1 week"
</IfModule>
