input.grey[type="submit"],
input.grey[type="reset"],
button.grey,
a.button.grey {
    background: #b51000 url('/view/css/button/grey.png') repeat-x top;
    color: white;    
} 

input.grey[type="submit"]:active,
input.grey[type="reset"]:active,
button.grey:active,
a.button.grey:active {
    background: #e44000 url('/view/css/button/grey-active.png') repeat-x top;
} 

input.grey[type="submit"]:hover,
input.grey[type="reset"]:hover,
button.grey:hover,
a.button.grey:hover {
    background: #e44000 url('/view/css/button/grey-active.png') repeat-x top;
}


.rounded-corners{  -moz-border-radius: 5px; /* Firefox */  -webkit-border-radius: 5px; /* Safari, Chrome */  border-radius: 5px; /* CSS3 */}
.rounded-corners-bottom{
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;}


a.file{background-image:url('/view/css/icon/m/file.png')}
a.money{background-image:url('/view/css/icon/m/money.png')}
a.code{background-image:url('/view/css/icon/m/code.png')}
a.service{background-image:url('/view/css/icon/m/service.png')}
a.manual{background-image:url('/view/css/icon/m/manual.png')}
a.product{background-image:url('/view/css/icon/m/product.png')}
a.design{background-image:url('/view/css/icon/m/design.png')}
a.thanks{background-image:url('/view/css/icon/m/thanks.png')}
a.other{background-image:url('/view/css/icon/m/other.png')}

div#node-main div#side span.euro{ text-indent:-9999px;overflow:hidden}

div#side div.line{clear:both}
div#side div.half{width:68px;margin-right:6px;float:left;padding:13px 10px;font-size:10px;overflow:hidden;}
div#side div.half.last{margin-right:0}

