/* configuración de colores del nodo */
body.node {
    background-color: #E6F0ED !important;
}

div#node-header span.blue {
    color: #27AD7A !important;
}

body.node.home > div.widget > div.title-line {
    border-color: #27AD7A !important;
}

div#node-header div.logos div.node-home > a {
    background: url('/nodesys/andalucia/view/css/goteo-logo.png') no-repeat left top;
}

div#node-header div.logos div.node-home > a:hover {
    background: url('/nodesys/andalucia/view/css/goteo-logo.png') no-repeat right top;
}

body.project-show div.project-menu ul li.show a {
    background-image: url('active_menu.png') !important;
}

body.project-show div.project-menu ul li a {
  background-image: url('regular_menu.png') !important;
}

body.node div.invest-message {
    background-image: url("/nodesys/andalucia/view/css/message_beak.png") !important;
}

/*
* beaks
*/
div.widget .title{
	background-image: url('arrowH2-section.gif') !important;
}
#glossary-content h3.title {
	background-image: url('arrowH2-section.gif') !important;
}

/* Esquinas del banderolo largo */
div.widget.project-support div.tagmark.green {
    background-image:url('project/long_tagmark_green.png') !important;
}

div.widget.project-support div.tagmark.red {
    background-image:url('project/long_tagmark_red.png') !important;
}

div.widget.project-support div.tagmark.violet {
    background-image:url('project/long_tagmark_violet.png') !important;
}

div.widget.project-support div.tagmark.grey {
    background-image:url('project/long_tagmark_grey.png') !important;
}
