/* bigpc (min-width:1400px) */
header nav{margin-bottom:30px;}
h2{font-size:5rem;margin-top:40px;}
h1{font-size:3rem;margin-top:10px;}
header img.logo-goteo{width: 200px;}
#encabezado,#pie,article.spread p{font-size:1.6rem;margin:30px auto;}
#prod-description{font-size:1.4rem;}
#proj-name span,#proj-name a{font-size:0.9em;}
section{margin:0 30px;}
article.activable{max-width:20%;margin-right:55px;}
article.activable img.item{max-width:360px;}
article.header{width:45%;}
article.header img.item{width:50%;}
article.header.prod{padding-top: 50px;vertical-align: top;}
div.caja{height:80px;min-width:100px;}
div.caja p.precio{line-height:60px;font-size:2em;padding:0 20px;}
div.formfields{width:440px;margin-right:30px;}
div#fields-address,div#fields-investor,div#fields-friend{float:left;}
div#field-message,div#anonm{clear:both;width:80%;}