/* Minimobile (max-width:340px) */
header,header nav{width:100%;}
header nav{margin-bottom:3px;}
header img.logo-goteo,header a.logo,footer a.logo{display:none;}
h1{margin-top:0 !important;}
footer section.logo2{display:inline-block;}
section{margin:0 5px;}
article.activable{margin:0;width:98%;}
article.activable img.item{max-width: 150px;}
article.header.prod{width:98%;}
article.header img.item{max-width: 150px;}
div.caja{height:50px;min-width:50px;}
div.caja p.precio{line-height:42px;font-size:1.3em;padding:0 15px;}
ul.share li.facebook{margin:0;}
footer{width:100%;}