/* pc  (min-width:1024px) and (max-width:1400px) */
header nav{margin-bottom:20px;}
h2{font-size:4rem;margin-top:30px;}
h1{font-size:2.5rem;margin-top:5px;}
#encabezado,#pie,article.spread p{font-size:1.4rem;margin:25px auto;}
#prod-description{font-size:1.2rem;}
#proj-name span,#proj-name a{font-size:0.8em;}
article.activable{max-width:28%;margin-right:40px;}
article.activable img.item{max-width:255px;}
article.header{width:45%;}
article.header.prod{padding-top: 40px;vertical-align: top;}
article.header img.item{width:50%;}
div.caja{height:70px;min-width:90px;}
div.caja p.precio{line-height:55px;font-size:1.6em;padding:0 20px;}
div.formfields{width:400px;margin-right:20px;}
div#fields-address,div#fields-investor,div#fields-friend{float:left;}
div#field-message,div#anonm{clear: both;width: 80%;}