/* configuración de colores del nodo */
body.node {
    background-color: #F0F4F9 !important;
}

div#node-header span.blue {
    color: #1F81BB !important;
}

body.node.home > div.widget > div.title-line {
    border-color: #1F81BB !important;
}

div#node-header div.logos div.node-home > a {
    background: url('/nodesys/testnode/view/css/goteo-logo.png') no-repeat left top;
}

div#node-header div.logos div.node-home > a:hover {
    background: url('/nodesys/testnode/view/css/goteo-logo.png') no-repeat right top;
}

