/*Reglas módulo posts de home */

body.home div#main div.learn {    
    margin-bottom: 16px;
    position: relative;
}

/* Estilos para entradas de blog en portada,
 Se añaden reglas para usarlos en la portada de nodo
 Los que no sean identicos en la portada de nodo no se les pone la regla y se definen en /view/css/node/home.css
*/
body.node.home div#node-news ul.slderpag,
body.channel.home div#channel-news ul.slderpag,
body.home div#main div.learn ul.slderpag {
    margin: 8px 0 0 0;
	list-style:none;
	padding:0px;
	float:left;
	height:auto;
}

body.node.home div#node-news ul.slderpag li,
body.channel.home div#channel-news ul.slderpag li,
body.home div#main div.learn ul.slderpag li {
    cursor:pointer;
    display: block;
    float: left;
    overflow: hidden;
	margin: 0px 4px 5px 4px;
}

body.node.home div#node-news ul.slderpag li a,
body.channel.home div#channel-news ul.slderpag li a,
body.home div#main div.learn ul.slderpag li a {
    width: 12px;
    height: 6px;
    margin-top: 2px;
    background-color: #cdcdce;
    color: #cdcdce;
	display:block;
}

body.node.home div#node-news ul.slderpag li a:hover,
body.channel.home div#channel-news ul.slderpag li a:hover,
body.home div#main div.learn ul.slderpag li a:hover {
    background-color: #20b3b2;
    color: #20b3b2;
}

body.node.home div#node-news ul.slderpag li.current a,
body.channel.home div#channel-news ul.slderpag li.current a,
body.home div#main div.learn ul.slderpag li.current a {
    background-color: #808184 !important;
    color: #808184 !important;
}

body.node.home div#node-news a.next,
body.node.home div#node-news a.prev,
body.channel.home div#channel-news a.next,
body.channel.home div#channel-news a.prev,
body.home div#main div.learn a.next,
body.home div#main div.learn a.prev {
    width: 16px;
    height: 16px;
	line-height: 2000px;
	overflow: hidden;
	float:left;
	margin: 9px 0 0 0;
	cursor:pointer;
/*	display: inline-block; */
}

body.node.home div#node-news a.prev,
body.channel.home div#channel-news a.prev,
body.home div#main div.learn a.prev {
	background: url('/view/css/small_arrowslider-sprt.png') scroll no-repeat 0 0;
}

body.node.home div#node-news a.prev:hover,
body.channel.home div#channel-news a.prev:hover,
body.home div#main div.learn a.prev:hover {
	background: url('/view/css/small_arrowslider-sprt.png') scroll no-repeat 0 -32px;
}

body.node.home div#node-news a.next,
body.channel.home div#channel-news a.next,
body.home div#main div.learn a.next{
	background: url('/view/css/small_arrowslider-sprt.png') scroll no-repeat 0 -16px;
}

body.node.home div#node-news a.next:hover,
body.channel.home div#channel-news a.next:hover,
body.home div#main div.learn a.next:hover {
	background: url('/view/css/small_arrowslider-sprt.png') scroll no-repeat 0 -48px;
}

body.home div#main div.learn div.slder_container,
body.home div#main div.learn  div.slder_container div.slder_slide {
    width:900px;
	height:290px;
	display:block;
}

body.node.home div#node-news  div.slder_container div.slder_slide . div.post,
body.channel.home div#channel-news  div.slder_container div.slder_slide . div.post,
body.home div#main div.learn  div.slder_container div.slder_slide . div.post {
    position: relative;
    min-height: 305px;
    padding-left: 520px;
    display: none;
}

body.home div#main div.learn div.slder_container div.slder_slide div.post div.read_more {
    bottom: 10px;
    right: 20px;
    position: absolute;
}

body.node.home div#node-news div.slder_container div.slder_slide div.post h3,
body.node.home div#node-news div.slder_container div.slder_slide div.post div.description,
body.channel.home div#channel-news div.slder_container div.slder_slide div.post h3,
body.channel.home div#channel-news div.slder_container div.slder_slide div.post div.description,
body.home div#main div.learn div.slder_container div.slder_slide div.post h3,
body.home div#main div.learn div.slder_container div.slder_slide div.post div.description {
	float: left;
    margin: 0 0 10px 20px;
    width: 380px;
	line-height: 18px;
	text-transform:none;
}

body.node.home div#node-news div.slder_container div.slder_slide div.post h3 a,
body.channel.home div#node-news div.slder_container div.slder_slide div.post h3 a,
body.home div#main div.learn div.slder_container div.slder_slide div.post h3 a {
    font-size: 14px;
    text-decoration: none;
    color: #20B2B3;
}

body.node.home div#node-news div.slder_container div.slder_slide div.post h3 a:hover,
body.channel.home div#channel-news div.slder_container div.slder_slide div.post h3 a:hover,
body.home div#main div.learn div.slder_container div.slder_slide div.post h3 a:hover {
    text-decoration: underline;
}


body.home div#main div.learn div.slder_container div.slder_slide div.post div.embed,
body.home div#main div.learn div.slder_container div.slder_slide div.post div.image {
	float:left;
    width: 500px;
    height: 285px;
}

body.node.home div#node-news div.slder_container div.slder_slide div.post div.author,
body.channel.home div#channel-news div.slder_container div.slder_slide div.post div.author,
body.home div#main div.learn div.slder_container div.slder_slide div.post div.author {
	float: left;
    margin: -5px 0 0 20px;
    width: 380px;
	line-height: 12px;
	text-transform:none;
}

body.node.home div#node-news div.slder_container div.slder_slide div.post div.author a,
body.channel.home div#channel-news div.slder_container div.slder_slide div.post div.author a,
body.home div#main div.learn div.slder_container div.slder_slide div.post div.author a {
    font-size: 11px;
    text-decoration: none;
    color: #20B2B3;
}

body.node.home div#node-news div.slder_container div.slder_slide div.post div.author a:hover,
body.channel.home div#channel-news div.slder_container div.slder_slide div.post div.author a:hover,
body.home div#main div.learn div.slder_container div.slder_slide div.post div.author a:hover {
    text-decoration: underline;
}


/*Nueva clase description para optimizar SEO */

body.node.home div#node-news div.slder_container div.slder_slide div.post h3,
body.node.home div#node-news div.slder_container div.slder_slide div.post div.post_text,
body.channel.home div#channel-news div.slder_container div.slder_slide div.post h3,
body.channel.home div#channel-news div.slder_container div.slder_slide div.post div.post_text,
body.home div#main div.learn div.slder_container div.slder_slide div.post h3,
body.home div#main div.learn div.slder_container div.slder_slide div.post div.post_text {
    float: left;
    margin: 0 0 10px 20px;
    width: 380px;
    line-height: 18px;
    text-transform:none;
}
/* Hasta aqui las reglas para compartir estilos para blog en portada del nodo*/

