/*
 * Custom CSS Goteo
 *
 *
 */



 .main-color-background {
  background-color: #B5DADC;
 }

 body{
 	background-color: #E7E7E7 !important;
 	font-family: "Liberation Sans",Helvetica,"Helvetica Neue",Arial,Geneva,sans-serif !important;
 	color:#58595B;
 }

 /* For the message alerts */

 .custom-close{
 	font-size:30px !important;
 	opacity: 0.9 !important;
 	color: #FFF !important;
 }

 .alert{
 	font-size: 16px !important;
 	color: #FFF;
 }

 .alert-danger {
    background-color: #B32928;
	
    border-color: #B32928 !important;   
}

 .alert-success{
 	background-color: #19B4B2;
 	border-color: #19B4B2 !important;  
 }







/*Navbar */

.navbar{
	margin-bottom: 0;
}
 .navbar-element{
 	color:#333;
 	margin-top: 7px;
 }

.navbar-default .navbar-nav > li > a {
    color:#58595B;
    font-size: 1.1em;
}
 

 .user-container{
 	margin-top:15px;
 }

 .navbar-brand{
 	padding: 0 !important;
 } 
 .navbar-brand img.logo{
 	height: 45px;
 }

 .language-dropbox{
 	min-width: 100px;
 }

.avatar-link{
	padding-top:5px !important;
	padding-bottom: 5px !important;
}

.avatar-arrow{
	margin-top: 7px;
}


 .avatar-radius{
 	border-radius: 5px;
 }

 .margin-top-7{
 	margin-top:7.5%;
 }

 .footer{
	background-color: #58595B;
	width:100%;
 }

 .footer a{
 	color:#FFF;
 }

 .footer-navbar{
 	min-height: 30px;
 	margin: 0;
 }

 .footer ul{
 	margin:10px 0;
 }

 .label-img{
 	vertical-align: top;
 }

.standard-margin-top{
	margin-top:3%;
}

.panel-form{
	margin: 0px auto;
	max-width: 375px;
}

.modal{
	top:15%;
}

.reminder{
	padding: 2.3% 3% 3%;
	color: #58595B;
	margin-bottom: 4%;
	border-top: 3px solid #E7E7E7;
	border-bottom: 3px solid #E7E7E7;
}

.reminder .level-1{
	font-size:18px;
}

.reminder .level-2{
	font-size:15px;
	color:#B2B0B1
}

.reminder .amount-reminder{
	color: #96238F;
	font-size: 20px;
	font-weight: bold;
	margin-left: 5px;
}

.invest-container{
	max-width:800px;
	margin: 0 auto;
}

.label-method{
	padding-top: 10px;
	background-color: #E7E7E7;
	border-radius:10px;
	font-weight: normal;
	color: #58595B;
	height: auto;
	width:100% !important;
}

label.label-method:hover {

    cursor: pointer;
    cursor: hand;
    background-color:#2cb2b2 ;
    font-weight: bold;
    color:#FFF !important;
}

label.method-choosen{
	cursor: pointer;
    cursor: hand;
    background-color:#2cb2b2 ;
    font-weight: bold;
    color:#FFF !important;
}

label.label-disabled{
	pointer-events: none;
	opacity: 0.5;

}

.check-method:checked + label {
  color: red;
  font-style: normal;
}

.method-text{

}

.pool-info{
	margin-left: 15px;
	background-color: #FFF;
	font-size: 12px;
	padding: 13px 13px 13px 0px;
	border-radius: 7px;
}

.confirm-checkbox{
	margin-top:4px;
}

.pay-method{
	text-align:center;
	padding-right: 7px;
	padding-left: 7px;
}

.invest-button{
	margin-top:20px;
}

.img-method{
	display: block;
	max-width: 100%;
	height: auto;
	padding: 4% 10% 10%;
}

.method-caption{
	background-color: #FFF;
	border-radius: 10px;
}

.method-conditions{
	margin-top: 1.6%;
}

.make-sure{
	max-width:600px;
	margin: 0 auto;
}

.share{
	max-width:650px;
	margin: 0 auto;
}

h4.embed-code{
	background: url("/view/css/social/embed.png") no-repeat scroll 0% 0% transparent;
	min-height: 20px;
	text-transform: uppercase;
	padding: 3px 0px 0px 25px;
	font-size:15px;
}

textarea.widget-code{
	width:250px; 
	height:130px;
}


.margin-bottom-4{
	margin-bottom: 4%;
}

.text-decoration-none{
	text-decoration:none !important;
}

.reward{
	padding-right: 7px;
	padding-left: 7px;
}

.label-reward {
    padding: 2%;
    background-color: #E7E7E7;
    border-radius: 10px;
    font-weight: normal;
    color: #58595B;
    width: 100%;
}

label.label-reward:hover {

    cursor: pointer;
    cursor: hand;
    background-color:#2cb2b2 ;
    color:#FFF !important;
}

label.reward-choosen{
	background-color:#2cb2b2 ;
    color:#FFF !important;
}
.amount-box {
    display:none;
}
.reward-choosen .amount-box {
    display:block;
}

.reward-amount{
	color: #96238F;
	font-size:1.8em;
	margin-left: 10%;
	vertical-align: middle;
}

.reward-icon{
	padding:10%;
}

.margin-left-2{
	margin-left: 2%;
}

.input-amount

{
	font-size: 1.4em;
	text-align: center;
}

.container-input-amount{
	padding-top: 3.5px;
	margin-top:2.5px;
}

.display-none{
	display: none;
}

#amount-container{
	background-color:#FFF;
	margin-top: 10px;
	padding: 2% 0;
}

.reward-button{
	margin-top: 2.5px;
}

.limit-reward{
	color:#2CB2B2;
}

label.reward-choosen .limit-reward, label.label-reward:hover .limit-reward,
label.reward-choosen .limit-reward-number, label.reward-choosen .reward-amount,
label.label-reward:hover .reward-amount{
	color:#58595b;

}

hr.share{
	margin:8%;
}

hr.make-sure{
	margin:8%;
}

.padding-bottom-6{
	padding-bottom: 6%;
}

.padding-bottom-2{
	padding-bottom: 2%;
}

.uppercase{
	text-transform: uppercase;
}

/* Steps bar */

.bs-wizard {
	margin-top: 40px;
	max-width: 1030px;
	margin: 0 auto;
}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; }
.bs-wizard > .active .bs-wizard-stepnum{
	color:#20B3B2 !important;
	font-weight: bold;
}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #b2b0b1; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #B5DADA; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #2FB6B5; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #B5DADA;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

/* End steps bar */

/* Forms checkboxs */

.no-margin-checkbox{
	margin-top: 0px !important;
}

.label-checkbox{
	font-size:0.9em;
	margin:0;
}

/* Project info bar */

div.jumbotron{
	margin-bottom: 40px;
}

div.jumbotron.project-info{
	background: none repeat scroll 0% 0% #FAF8F8;
	color: #58595B; 
	padding-top:20px; 
	padding-bottom:20px;
}

div.jumbotron .project-name{
	padding-top: 0; 
	margin-top: 0;
	font-weight: bold;
	font-size: 2em;
	text-transform: uppercase;
	margin-bottom: 5px;
}

div.jumbotron .project-subtitle{
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	margin-bottom: 5px;
}

div.jumbotron .project-owner{
	font-size: 12px !important;
}

div.jumbotron .project-owner a{

	color: #20B3B2 !important;
	font-weight: 400;
	font-size: 12px !important;
	text-decoration: none;

}
div.jumbotron .project-tags{

	margin-left: 18px;
	font-size: 12px;

}

div.jumbotron .project-tags a{
	text-decoration: none;
	font-size: 12px;
	color: #58595B;
	}

div.jumbotron .project-tags:before {
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    float: left;
    margin-right: 6px;
    background: url("/view/css/tags.png") no-repeat scroll 0px 0px / 13px 13px transparent;
}



@media(min-width:768px){

	.row-form{
	 	padding-top:40px;
	 	padding-bottom: 60px;
	 }

	 .footer{
		position: fixed;
		bottom:0;
	}
	  .no-padding{
		padding:0;
	}
	/*.dropdown:hover .dropdown-menu {
	        display: block;
	    }*/

}

@media(max-width:767px){

	.sm-display-none{
		display: none;
	}

	.margin-2{
		margin:2%;
	}

	.label-method:hover{
		font-weight: normal !important;
	}

	label.method-choosen{
		font-weight: normal !important
	}

}

@media(max-width:767px){

	.sm-display-none{
		display: none;
	}

	.margin-2{
		margin:2%;
	}

	.label-method:hover{
		font-weight: normal !important;
	}

}

@media (min-width: 480px) and (max-width: 600px) {

	.label-method{
		font-size: 0.75em !important;
	}

}





