/*
 * Custom CSS Goteo
 *
 *
 */

/* GENERAL STYLES */

.spacer {
    margin-top: 40px;
}

.spacer-20{
    margin-top:20px;
}

.spacer-5{
    margin-top:5px;
}

.spacer-10{
    margin-top:10px !important;
}

.cursor-pointer{
    cursor: pointer;
}

.text-left-important{
	text-align: left !important;
}

.align-center-margin{
	margin: 0 auto;
}

 .main-color-background {
  background-color: #32BDB8;
 }

 .main-color-background.navbar-default .navbar-nav > li > a{
 	color:#FFF !important;
 }

 .main-color-background.navbar-default{
 	border:none;
 }

 .main-color-background.navbar{
 	border-radius: 0px;
 }

 .main-color-background.navbar-default .navbar-nav > .open > a{
 	color:#4D4D4D !important;
 }

 .main-color-background .navbar-toggle.general{
    padding: 5px !important;
    border:none !important;

 }

 .main-color-background .navbar-toggle.general:hover, .navbar-toggle.general:focus{
    background-color: transparent !important;
 }

 .main-color-background .navbar-toggle.general .icon-bar{
    background-color: #FFF !important;
 }

div.tooltip-inner {
    max-width: 100% !important;
}

 a.expand-link{
 	height:100%;
 	width: 100%;
 	position: absolute;
 	top: 0;
 	left: 0;
 	cursor: pointer;
 }

 body{
 	/*background-color: #E7E7E7 !important;*/
 	background-color:#E8ECEC  !important;
 	font-family: 'Roboto', sans-serif !important;
 	color:#3a3a3a !important;
 	margin-bottom: 0;
 }

 .panel-heading {
    cursor: pointer;
}

 .clear-both{
 	clear:both !important;
 }

 .no-margin{
 	margin:0 !important;
 }

 .no-padding{
 	padding: 0 !important;
 }

 .text-bold{
 	font-weight: bold;
 }

 .text-font-normal{
 	font-weight: normal;
 }


 /* For the message alerts */

 .custom-close{
 	font-size:30px !important;
 	opacity: 0.9 !important;
 	color: #FFF !important;
 }

 .alert{
 	font-size: 14px !important;
 	color: #FFF;
 }

 .alert-danger {
    background-color: #B32928;

    border-color: #B32928 !important;
}

 .alert-success{
 	background-color: #19B4B2;
 	border-color: #19B4B2 !important;
 }

 /* Custom buttons */

.btn-success{
    background-color: #25A083 !important;
    border-color: #25A083 !important;
}


button.pink{
	background-color: #CD5EB3;
	font-size:1.2em;
	color:#FFF;
	font-weight: bold;
}

button.custom-green{
	background-color: #14AE84;
	font-size:1.2em;
	color:#FFF;
	font-weight: bold;
}

button.pink:hover, button.pink:focus, button.custom-green:hover{
	color:#FFF !important;
}

/* DIV impersonator */
.user-shadowing-bar {
    font-weight: 700;
    background: #D9534F;
    color:#fff;
    white-space: nowrap;
    text-align: center;
    vertical-align: baseline;
    padding: 0.3em 0.6em 0.3em;
}
.user-shadowing-bar a{
    color: #fff;
}

/*Navbar */

.navbar{
	margin-bottom: 0;
}
 .navbar-element{
 	color:#333;
 	margin-top: 7px;
 }

.navbar-default .navbar-nav > li > a {
    color:#58595B;
    font-size: 1.1em;
}


 .user-container{
 	margin-top:15px;
 }

 .main-color-background .navbar-brand{
 	padding: 0 !important;
 }
 .main-color-background .navbar-brand img.logo{
 	height: 45px;
 	margin-left: 10px;
 }

 .language-dropbox{
 	min-width: 100px;
 }

.avatar-link{
	padding-top:5px !important;
	padding-bottom: 5px !important;
}

.avatar-arrow{
	margin-top: 7px;
}


 .avatar-radius{
 	border-radius: 5px;
 }

 .margin-top-7{
 	margin-top:7.5%;
 }

 .footer{
	background-color: #58595B;
	width:100%;
 }

 .footer a{
 	color:#FFF;
 }

 .footer-navbar{
 	min-height: 30px;
 	margin: 0;
 }

 .footer ul{
 	margin:10px 0;
 }

 .label-img{
 	vertical-align: top;
 }

.standard-margin-top{
	margin-top:3%;
}

.panel-form{
	margin: 0px auto;
	max-width: 375px;
}

.modal{
	top:15%;
}

.reminder{
	padding: 1em;
	color: #58595B;
	margin-bottom: 2em;
	border-top: 3px solid #E7E7E7;
	border-bottom: 3px solid #E7E7E7;
}

.reminder .level-1{
	font-size:18px;
}

.reminder .level-2{
	font-size:15px;
	color:#B2B0B1
}

.reminder .amount-reminder{
    color: #96238F;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}

.reminder .level-2 a,.reminder .level-1 a {
    color: #96238F;
}

.invest-container{
	max-width:800px;
	margin: 0 auto;
}

.invest-container div.pool-conditions{
	margin-bottom: 40px;
	color: #B3B2B2;
}

.invest-container div.pool-conditions a{
	color: #B3B2B2;
	text-decoration: underline;
	font-weight: bold;
}

.label-method{
	padding-top: 10px;
	background-color: #E7E7E7;
	border-radius:10px;
	font-weight: normal;
	color: #58595B;
	height: auto;
	width:100% !important;
}

label.label-method:hover {

    cursor: pointer;
    cursor: hand;
    background-color:#2cb2b2 ;
    font-weight: bold;
    color:#FFF !important;
}

label.method-choosen{
	cursor: pointer;
    cursor: hand;
    background-color:#2cb2b2 ;
    font-weight: bold;
    color:#FFF !important;
}

label.label-disabled{
	pointer-events: none;
	opacity: 0.5;

}

.check-method:checked + label {
  color: red;
  font-style: normal;
}

.method-text{

}

.pool-info{
	margin-left: 15px;
	background-color: #FFF;
	font-size: 12px;
	padding: 13px 13px 13px 0px;
	border-radius: 7px;
}

.confirm-checkbox{
	margin-top:4px;
}

.pay-method{
	text-align:center;
	padding-right: 7px;
	padding-left: 7px;
}

.invest-button{
	margin-top:20px;
}

.img-method{
	display: block;
	max-width: 100%;
	height: auto;
	padding: 4% 10% 10%;
}

.method-caption{
	background-color: #FFF;
	border-radius: 10px;
}

.method-conditions{
	margin-top: 1.6%;
}

.make-sure{
	max-width:600px;
	margin: 0 auto;
}

.share{
	max-width:650px;
	margin: 0 auto;
}

h4.embed-code{
	background: url("/view/css/social/embed.png") no-repeat scroll 0% 0% transparent;
	min-height: 20px;
	text-transform: uppercase;
	padding: 3px 0px 0px 25px;
	font-size:15px;
}

textarea.widget-code{
	width:250px;
	height:130px;
}


.margin-bottom-4{
	margin-bottom: 4%;
}

.text-decoration-none{
	text-decoration:none !important;
}

.reward{
	padding-right: 7px;
	padding-left: 7px;
}

.label-reward {
    padding: 2%;
    background-color: #E7E7E7;
    border-radius: 10px;
    font-weight: normal;
    color: #58595B;
    width: 100%;
}

label.label-reward:hover {

    cursor: pointer;
    cursor: hand;
    background-color:#2cb2b2 ;
    color:#FFF !important;
}

label.reward-choosen{
	background-color:#2cb2b2 ;
    color:#FFF !important;
}
.amount-box {
    display:none;
}
.reward-choosen .amount-box {
    display:block;
}

.reward-amount{
	color: #96238F;
	font-size:1.8em;
	margin-left: 10%;
	vertical-align: middle;
}

.reward-icon{
	padding:10%;
}

.margin-left-2{
	margin-left: 2%;
}

.input-amount

{
	font-size: 1.3em;
	text-align: center;
}

.container-input-amount{
	padding-top: 3.5px;
	margin-top:2.5px;
}

.display-none{
	display: none;
}

.display-none-important{
    display: none !important;
}

#amount-container{
	background-color:#FFF;
	margin-top: 10px;
	padding: 2% 0;
}

.reward-button{
	margin-top: 2.5px;
}

.limit-reward{
	color:#2CB2B2;
}

label.reward-choosen .limit-reward, label.label-reward:hover .limit-reward,
label.reward-choosen .limit-reward-number, label.reward-choosen .reward-amount,
label.label-reward:hover .reward-amount{
	color:#58595b;

}

hr.share{
	margin:8%;
}

hr.make-sure{
	margin:8%;
}

.padding-bottom-6{
	padding-bottom: 6%;
}

.padding-bottom-2{
	padding-bottom: 2%;
}

.uppercase{
	text-transform: uppercase;
}

/* Steps bar */

.bs-wizard {
	margin-top: 40px;
	max-width: 1030px;
	margin: 0 auto;
}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; }
.bs-wizard > .active .bs-wizard-stepnum{
	color:#20B3B2 !important;
	font-weight: bold;
}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #b2b0b1; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #B5DADA; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #2FB6B5; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #B5DADA;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

/* End steps bar */

/* Forms checkboxs */

.no-margin-checkbox{
	margin-top: 0px !important;
}

.label-checkbox{
	font-size:0.9em;
	margin:0;
}

/* Project info bar */

div.jumbotron{
	margin-bottom: 40px;
}

div.jumbotron.project-info{
	background: none repeat scroll 0% 0% #FAF8F8;
	padding-top:20px;
	padding-bottom:20px;
}

div.jumbotron .project-name{
	padding-top: 0;
	margin-top: 0;
	font-weight: bold;
	font-size: 2em;
	text-transform: uppercase;
	margin-bottom: 5px;
}

div.jumbotron .project-name a{
	color: #58595B !important;
}

div.jumbotron .project-name a:hover{
	text-decoration: none;
}


div.jumbotron .project-subtitle{
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	margin-bottom: 5px;
}

div.jumbotron .project-owner{
	font-size: 12px !important;
}

div.jumbotron .project-owner a{

	color: #20B3B2 !important;
	font-weight: 400;
	font-size: 12px !important;
	text-decoration: none;

}
div.jumbotron .project-tags{

	margin-left: 18px;
	font-size: 12px;

}

div.jumbotron .project-tags a{
	text-decoration: none;
	font-size: 12px;
	color: #58595B;
	}

div.jumbotron .project-tags:before {
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    float: left;
    margin-right: 6px;
    background: url("/view/css/tags.png") no-repeat scroll 0px 0px / 13px 13px transparent;
}


/* Create project form */

div.create-form{
    /*background-color:#FFF;*/
    margin-top:50px;
    padding-bottom:30px;
    margin-bottom: 50px;
    font-size: 18px;
}

div.create-form h1{
    font-size: 36px;
    font-weight: 700;
    color:#149290;
    margin-top:60px;
}

form.create-project-form div.form-group{
    opacity: 0.3;
    padding-top: 70px;
}

form.create-project-form div.form-group.active{
    opacity: 1;
}

form.create-project-form div#calculated-msg{
    display: none;
}


form.create-project-form label.category{
    margin-top: 30px;
    cursor: pointer;
    font-weight: normal;
}

form.create-project-form .datepicker{
    border-radius: 10px;
    padding: 15px 5px;
    margin-top: 15px;
    background-color: #FFF;
}



form.create-project-form .bootstrap-datetimepicker-widget table td.active{
    background-color: #CD5EB3 !important;
}

form.create-project-form .bootstrap-datetimepicker-widget table td:hover{
    /*background-color: #FFF;*/
}

form.create-project-form .bootstrap-datetimepicker-widget .picker-switch{
    text-transform: uppercase;;
}

form.create-project-form .bootstrap-datetimepicker-widget .glyphicon{
    color:#149290;
}


form.create-project-form table thead tr:first-child th:hover{
    background:#FFF !important;
}

form.create-project-form .bootstrap-datetimepicker-widget table td span.active{
    background-color: #CD5EB3 !important;
}


form.create-project-form input {
  outline: 0 !important;
  border-width: 0 0 2px 0 !important;
  border-color: #CD5EB3 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  font-size: 20px;
  background-color: transparent !important;
}

form.create-project-form input.minimum{
    display:inline;
}

form.create-project-form button.pink{
    font-size: 1em;
    margin-top: 25px;
}

form.create-project-form select{
    display: block;
}

form.create-project-form .alert{
    margin-top:30px;
    display: none;
}

form.create-project-form .alert strong{
    font-size: 24px;
}

form.create-project-form input:focus {
  border-color: #CD5EB3 !important;
}

form.create-project-form div.investors{
    font-size:25px;
    display: inline;
    margin-left:20px;
    display: none;
    margin-top: 25px;
}

form.create-project-form label.terms{
    font-size: 14px;
    font-weight: normal;
}

form.create-project-form button#create-continue{
    font-size: 18px;
}


@media(min-width: 992px){
    .clear-both-md{
        clear:both !important;
    }
}

@media(min-width:768px){

	.row-form{
	 	padding-top:40px;
	 	padding-bottom: 60px;
	 }
	  .no-padding{
		padding:0;
	}
}

@media(min-height:850px){

/*.footer{
		position: fixed;
		bottom:0;
	}*/

}

@media(max-width:767px){

	.clear-both-xs{
        clear:both !important;
    }

	.sm-display-none{
		display: none;
	}

	.margin-2{
		margin:2%;
	}

	.label-method:hover{
		font-weight: normal !important;
	}

	label.method-choosen{
		font-weight: normal !important
	}

	input.big-checkbox{
		-webkit-transform: scale(1.3,1.3);
		-moz-transform: scale(1.3,1.3);
		-o-transform: scale(1.3,1.3);


	}

	div.story{
		margin-top:30px;
	}

	div.jumbotron.calculator-header h2 {
		font-size: 3em !important;
	}


	div.jumbotron.calculator-header h3.slogan-2 {
		font-size:2em !important;
	}

	div.user-pool-info div.pool-conditions{
		margin-bottom:5px;
	}

	div.padding-sm{
		padding:0 15px !important;
	}
}

@media (min-width: 480px) and (max-width: 600px) {

	.label-method{
		font-size: 0.75em !important;
	}

}

@media (max-width: 968px) {

	div.story{
		margin-top:30px;
		max-width: 360px;
	}

}

@media (min-width: 480px) and (max-width: 600px) {

	.label-method{
		font-size: 0.75em !important;
	}

	div.jumbotron.calculator-header h2 {
		font-size: 3em !important;
	}


	div.jumbotron.calculator-header h3.slogan-2 {
		font-size:2em !important;
	}

}

@media (max-width: 480px) {

	div.jumbotron.calculator-header div.banner{
		background-image: url('/assets/img/calculator/header_banner_xs.jpg') !important;
		height: 308px !important;
	}

	div.jumbotron.calculator-header h2 {
		font-size: 2.3em !important;
	}


	div.jumbotron.calculator-header h3.slogan-2 {
		font-size:1.3em !important;
	}

}

/* Pool style */


/* Channels */

div.jumbotron.channels
{
	margin-top:20px;
	text-align:center;
}


div.channels-container{
	background-color:#FFF;
	margin-bottom: 40px;
}

div.row.channels{
	padding: 2%;
}

div.channel{

}

div.channel .name{
	max-width: 60%;
    height: auto;
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(32, 179, 178, 0.85);
    color:#FFF;
    font-size: 1em;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: bold;
}

div.channel .projects{
	height: auto;
    position: absolute;
    bottom:5px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.85);
    font-size: 1em;
    padding: 5px 10px;
    text-transform: uppercase;
    color:#20B2B3;

}

div.channel .projects .eye{
 	height: 11px;
    margin-right: 5px;
}

div.channel a.channel-link{
	position: relative;
	display: table;
	margin: 0px auto;
}

@media(max-width: 769px) {

	div.channel{
		margin-bottom: 30px;
		margin-top:20px;
	}


}




/* Relief calculator landing */

div.jumbotron.general {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

div.jumbotron.calculator-header {
	color:#FFF;
	background-color: #DAE0E8;
	padding:0;
	margin:0;
}

div.jumbotron.calculator-header div.banner{
	background-image: url('/assets/img/calculator/header_banner.jpg');
	height: 353px;
}

div.jumbotron.calculator-header h2 {
	font-weight: bold;
	font-size: 4.8em;
	padding-top: 20px;
	padding-left: 25px;
}

div.jumbotron.calculator-header h3.slogan-1 {
	font-size:1.5em;
	padding: 0 !important;
	line-height: 1.4;
}

div.jumbotron.calculator-header h3.slogan-2 {
	font-size:2em;
	padding: 0 !important;
	padding-left: 25px !important;
	line-height: 1.4;;
}

div.jumbotron.calculator-header h3.slogan-2 span.line{
	background-color: #54C1BE;
	padding:0 5px;
}



div.row.pool-main{
	background-color:#FFF;
	text-align: center;
}

div.row.pool-main h1{
	color: #218587;
	font-size:2.5em;
	font-weight: bold;
	margin-bottom: 20px;
}

div.row.pool-main h2{
	color: #b3b2b2;
	font-size:1.5em;
	margin-top:0 !important;
	margin-bottom: 20px !important;
}

div.calculator{
	color: #218587;
	margin-top: 20px;
}

div.calculator h2{
	font-size:2em;
}

div.calculator div.invest-title{
	font-size: 2em;
	font-weight: bold;
	padding: 0 !important;
}

div.calculator div.amount{
}

div.calculator input.invest-amount{
	height: 40px !important;
	font-size: 1.75em;
	color: #218587;
	text-align: center;
}

span.input-group-addon.symbol{
color: #7B7B7B;
font-size:1.7em;
}

div.calculator div.row.select-amount{
	margin-top: 20px;
	margin-bottom: 30px;
}

div.calculator div.type{
}

div.calculator select.type{
	height: 40px !important;
	font-size: 1.4em;
	color: #218587;
	text-align: center;
	padding: 0 12px;
}

div.calculator option:not(:checked) {
    background-color: #218587;
    color:#FFF;
}

div.calculator option:hover {
    background-color: #000;
    color:#FFF;
}

div.calculator div.button-calculate{
}


div.calculator button.calculate{
	background-color: #14AE84;
	font-size:1.2em;
	color:#FFF;
	font-weight: bold;
}

div.calculator button.donor, div.stories button.donor, div.stories button.donor{
	background-color: #CD5EB3;
	font-size:1.2em;
	color:#FFF;
	font-weight: bold;
}

div.calculator div.show-taxes-calculate{
	background-color:#FFF;
	margin-top:20px;
	margin-bottom: 50px;
	border-radius: 10px;
}

div.calculator div.show-taxes-calculate h2{
	color:#7b7b7b;
	font-size:2.3em;
	font-weight: bold;
	padding-top: 30px;
	margin-top: 0;
}

div.calculator div.relief-amount{
	color:#7b7b7b;
	font-size:4em;
	font-weight: bold;
}

div.calculator div.show-taxes-calculate hr{
	width: 90%;
}

div.calculator div.show-taxes-calculate hr.down{
	margin-bottom: 10px !important;
}

div.calculator div.show-taxes-calculate div.legal-regions{
	padding: 0 4.1%;
}

div.calculator div.show-taxes-calculate .more-info{
	padding-bottom: 10px;
	color:#BB4CAD;
	font-weight: bold;
	font-size: 1.1em;
	cursor: pointer;
}

div.container-more-info{
	text-align: left;
	clear: both;
	padding: 0;
	margin-bottom: 50px;
	color:#75787F;
}

div.container-more-info p{
	font-size: 0.8em;
}

div.container-more-info hr{
	border-color:#B3B2B2;
}

div.stories{
	background-color:#FFF;
	margin-bottom:50px
}

h4.stories-title{
	color:#B3B2B2;
	font-size: 22px;
	margin-top: 25px;
	font-weight: bold;
}

div.story h2{
	color:#218587;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 5px;
}

div.stories div.row.stories{
	margin-bottom: 25px;
}

div.story div.review{
	color:#B3B2B2;
	padding: 15px 0;
}

div.story div.author{
	color:#7B7B7B;
	font-weight: bold;
}

div.story div.author a{
	color:#7B7B7B;
	font-weight: bold;
}

div.show-taxes-calculate h3{
	color: #B3B2B2;
	font-size: 2em;
	font-weight: bold;
	margin-top: 5px;
}

div.show-taxes-calculate div.explain{
	font-size: 1.2em;
	margin-bottom: 15px;
}

div.show-taxes-calculate div.container-donor-button-reminder{
	margin-bottom: 25px;
}

div.container-donor-button-projects{
	margin-bottom: 25px;
}

div.container.target
{
	margin-bottom: 50px;
	font-family: "Roboto",sans-serif;
}

div.container.target div.title
{
	font-size: 2em;
	color:#218587;
	font-weight: bold;
}

div.container.target div.description
{
	padding-top: 15px;
	font-size: 1.2em;
	color:#75787F;
}


/* Dashboard  */

/* Menu dashboard */

nav.dashboard-navbar-nav{
	background-color: #FAF8F8;
}

ul.dashboard-navbar{
	float: none;
	padding-top: 15px;
}

ul.dashboard-navbar >  li{
	margin-right: 1px;
}

ul.dashboard-navbar > li.active > a, ul.dashboard-navbar li a:hover{

	background-color: #1DB3B2 !important;
	color: #FFF;

}

ul.dashboard-navbar li a{
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color:#20B3B2;
	text-transform: uppercase;
}

ul.dashboard-navbar > li > a{
	background-color:#C7ECEC;
}

nav.dashboard-navbar-nav div.user-info{
	margin-top:20px !important;
}

nav.dashboard-navbar-nav div.user-info .panel-title{
	margin-left:10px;
	font-size:1.5em;
	text-transform:uppercase;
	font-weight:bold;
}

div.row.user-pool{
	margin-top:50px;
	margin-bottom: 50px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

div.row.user-pool div.img-pool{
	max-width:293px;
}

div.row.user-pool div.user-pool-info{
	background-color: #FFF;
	border-radius: 10px;
	padding:2%;
	font-family: 'Roboto', sans-serif;
}

div.row.user-pool div.user-pool-info h2{
	font-size:2.2em;
	color:#51C3C0;
	font-weight: bold;
	float:none;
}

div.row.user-pool div.user-pool-info h2 span.pool-amount{
	color:#BB4CAD;
}

div.row.general-dashboard, div.container.general-dashboard{
	background-color: #FFF;
	padding: 2% 5%;
	border-radius: 7px;
	margin-bottom: 40px;
}
.general-dashboard div.row.more-projects-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

div.row.user-pool div.user-pool-info div.extra-info{
	margin-left: 2px;
	margin-top: 5%;
}

div.row.user-pool div.user-pool-info div.extra-info .donor{
	background-color: #CD5EB3;
	font-size:1.2em;
	color:#FFF;
	font-weight: bold;
	width: 100%;
}

div.row.user-pool div.user-pool-info div.extra-info .chargue{
	background-color: #14AE84;
	font-size:1.2em;
	color:#FFF;
	font-weight: bold;
	width: 100%;
}

div.user-pool-info div.pool-conditions{
	margin-bottom:40px;
	color:#B3B2B2;
}

div.user-pool-info div.pool-conditions a{
	color:#B3B2B2;
	text-decoration: underline;
	font-weight: bold;
}


/* Social Commitment */

table.social-commitment .glyphicon-ok{
    color: #00C65B;
}

table.social-commitment .glyphicon-remove{
    color: #FF4848;
}

table.social-commitment td:not(:first-child){
    vertical-align: middle;
    text-align: center;
}

table.social-commitment  th{
    text-align: center;
}

/* Shared materials */

div.new-material-success{
	margin-top: 20px;
}





/*Project widget */
.project-widget {
    position: relative;
}

.project-widget a.img-link{
	position: relative;
	display: block;
}

.project-widget a.img-link div.call-mark{
	width: 11%;
	position: absolute;
	top: 0;
	left: 4%;
	padding: 12px 4px 9px 4px;
	background-color: #FFF;
}


.project-widget .img-project
{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
    width: 100%;
}

.project-widget .content
{
	padding: 5%;
	border:1px solid #D9D9DE;
	border-top:0px;
	color: #B3B2B2;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 240px;
	overflow: hidden;
	position: relative;
	padding-bottom: 20px;
	background-color: #FFF;
}

.project-widget .content.called{
	height: 270px;
}

.project-widget .title a
{
	font-size:18px;
	color:#58595B;
	font-weight:bold;
	margin-top: 10px;
}

.project-widget .title a:hover{
	text-decoration: none;
}


.project-widget .author
{
	font-size: 12px;
}

.project-widget .description{
	font-size: 13px;
	max-height: 100px;
	overflow: hidden;
	margin-top: 10px;
}

.project-widget div.call-amount{
	font-size: 13px;
	color:#58595B;
	margin-top: 15px;
}

.project-widget ul.amounts{
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	bottom:0px;
	position: absolute;
	color: #58595B;
	font-size: 13px;
	width: 91.8%;
	border-top: 1px solid #C5C5C5;
}

.project-widget ul li{
	padding: 10px;
}

.project-widget ul li:not(:last-child){
	border-right: 1px solid #C5C5C5;
}

.project-widget ul li .amount{
	font-weight: bold;
}

.project-widget ul li .data-label{
	color:#979797 !important;
}

.project-widget .project-widget-admin {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.8);
    display:none;
}
.project-widget:hover .project-widget-admin {
    display:block;
}

.project-widget-admin-panel {
    padding:20px;
 }
.project-widget-admin-panel .btn-group {
    margin:10px 0;
    display: block;
    float:none;
}

.projects-container .interests{
	background-color: #DAE0E8;
	margin:40px 1px;
	padding: 3%;
	border-radius: 10px;
}

.media-project {
    padding: 10px;
    margin-bottom: 10px;
    // background: #f0f0f0;
    // // border-bottom: 1px solid #D9D9DE;
    // color: #B3B2B2;
    // border-radius: 5px;
    // overflow: hidden;
    // padding-bottom: 20px;
}

@media (max-width: 480px) {

	.project-widget{
		margin-bottom: 40px;
	}

	.project-widget .content
	{
		height: auto;
	}

	.project-widget ul.amounts{
		position: static;
		margin-top: 30px;
		width: 100%;
	}

	.projects-container .interests{
		font-size: 0.8em;
		padding-top: 8%;
		padding-bottom: 8%;
	}

}

.footable-toggle {
    cursor: pointer;
}
