 /* Costs chart */

  div.chart-costs {
    font-size: 20px;
    padding: 20px;
  }
  div.chart-costs path {
    stroke: #fff;
    fill-rule: evenodd;
    cursor: pointer
  }
  div.chart-costs text {
    font-size: 75%;
    cursor: pointer;
  }
  div.chart-costs image {
    cursor: pointer;
  }


@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);

div.chart-amount svg {
  font-size: 80% !important;
}

div.chart-amount .axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

div.chart-amount .axis text {
  fill: #000;
}

div.chart-amount .axis .tick line {
  stroke: rgba(0, 0, 0, 0.1);
}

div.chart-amount .area {
  stroke-width: 1;
}

div.chart-amount .area.outer,
div.chart-amount .legend .outer {
  fill: rgba(230, 230, 255, 0.8);
  stroke: rgba(216, 216, 255, 0.8);
}

div.chart-amount .area.inner,
div.chart-amount .legend .inner {
  fill: rgba(127, 127, 255, 0.8);
  stroke: rgba(96, 96, 255, 0.8);
}

div.chart-amount .median-line,
div.chart-amount .legend .median-line {
  fill: none;
  stroke: #149290;
  stroke-width: 3;
}

div.chart-amount .ideal-line,
div.chart-amount .legend .ideal-line {
  fill: none;
  stroke: #149290;
  stroke-width: 3;
}

div.chart-amount .legend .legend-bg {
  fill: rgba(0, 0, 0, 0.5);
  stroke: rgba(0, 0, 0, 0.5);
}

div.chart-amount .marker.client .marker-bg,
div.chart-amount .marker.client path {
  fill: rgba(255, 127, 0, 0.8);
  stroke: rgba(255, 127, 0, 0.8);
  stroke-width: 3;
}

div.chart-amount .marker.server .marker-bg,
div.chart-amount .marker.server path {
  fill: rgba(0, 153, 51, 0.8);
  stroke: rgba(0, 153, 51, 0.8);
  stroke-width: 3;
}

div.chart-amount .marker path {
  fill: none;
}

div.chart-amount .legend text,
div.chart-amount .marker text {
  fill: #fff;
  font-weight: bold;
}

div.chart-amount .marker text {
  text-anchor: middle;
}

div.chart-amount .marker.ronda .marker-bg, .marker.ronda path {
    fill: rgba(196, 96, 188, 0.8);
    stroke: rgba(196, 96, 188, 0.8);
    stroke-width: 3; 
}