/*
 * CSS Goteo Project
 *
 *
 */

 .normalize-padding{
 	padding-left: 2.5% !important;
 	padding-right: 2.5% !important;
 }

 a:hover{
	text-decoration: none;
}

.anchor-mark{
	padding-top: 75px;
	margin-top: -75px;
}

/* Carousel customization */

.carousel-indicators li{
	background-color: #A4A5A6;
}

.carousel-indicators .active{
	background-color: #C054BA;
}

.carousel-inner > .item > img{
	margin:0 auto !important;
}

/* End carousel customization */

 div.container-fluid.main-info{
 	background-color:#FFFFFF;
 }

 div.container-fluid.main-info div.header{
 	margin-top:35px;
 	margin-bottom: 40px;
 }

 h1.project-title{
 	font-size: 36px;
 	font-weight: bold;
 }

 div.project-by a{
 	text-decoration: underline;
 	color:#949494;
 	font-size: 16px;
 	font-weight: bold;

 }

 div.project-by a:hover{
	color:#149290
}

 /* Sticky menu */

 div.sticky-menu{
 	top:0;
 	background-color: #FFFFFF;
 	width: 100%;
 }

div.sticky-menu div.container div.row{
 	margin-left: 20px;
 }

 div.sticky-menu div.container a div.sticky-item{
 	text-align: center;
 	padding:15px;
 	font-size: 16px;
 	font-weight: bold;
 	color:#3A3A3A !important;
 	height: 59px;
 }

div.sticky-menu div.container a div.sticky-item.current{
  	background-color: #E8ECEC;
}

div.sticky-menu div.container div.sticky-button{
	padding: 12px 0;
}

div.sticky-menu div.container div.favourite{
	padding-top: 17px;
	margin-left: 25px;
	margin-right: 0 !important;
}

div.sticky-menu div.favourite.active span.heart-icon {
    color: #149290 !important;
}

 span.label-sticky-item{
 	text-align: center;
 }

 /* Video cover cutomization */
 div.video_button{
 	position: absolute;
	top: 38%;
	left: 45%;
	cursor: pointer;
	width: 15%;
 }

 div#video_holder img{
 	margin: 0 auto;
 }

 button.pink.custom{
 	padding:18px;
 	margin-top:25px;
 	border-radius:10px;
 }

 /* Thermometer */

 div.thermometer-container{
 	position: relative;
 }

 div.thermometer{
 	width:15px; 
 	height:290px;
 }

 div.thermometer div.extra{
 	height: 15%;
 }

div.thermometer div.extra div.left{
 	background-color:#d5d5d5;
 	height:100%; 
}

div.thermometer div.extra div.done{
 	background-color:#149290;
}

div.thermometer div.extra .top-border-radius{
	border-top-left-radius: 10px;
 	border-top-right-radius: 10px;
}

div.thermometer div.optimum{
	height: 55%; 
	margin-top:2px;
}

div.thermometer div.optimum div.left{
	background-color:#d5d5d5; 
	height:100%;
}


div.thermometer div.optimum div.done{
	background-color:#149290; 
}

div.thermometer div.minimum{
	height: 30%;  
	margin-top:2px;
}

div.thermometer div.minimum div.left{
	background-color:#d5d5d5; 
}

div.thermometer div.minimum div.done{
	background-color:#149290; 
}

div.thermometer div.minimum .bottom-border-radius{
	border-bottom-left-radius: 10px; 
	border-bottom-right-radius: 10px; 
}

div.thermometer-container div.labels{
	margin-left: 5px;
	font-weight: bold;
}

div.labels span.text{
	margin-left: 5px;
}

div.thermometer-container div.labels div.minimum-label{
	bottom:26%;
	position: absolute;
	font-size: 14px;
}

div.thermometer-container div.labels div.optimum-label{
	bottom:82%;
	position: absolute;
	font-size: 14px;
}

div.thermometer-container div.labels div.percentage{
	bottom:55%;
	position: absolute;
	color: #FFFFFF;
	background-image: url('/assets/img/project/percentage-container.png');
	height: 45px;
	width: 48px;
	padding-top: 14px;
	padding-left: 3px;
	text-align: center;
}

div.thermometer-container div.labels div.percentage span.figure{
	padding: 10px 10px;
}


/* Thermometer info */

div.thermometer-info{
	font-weight:bold;
}

div.thermometer-info div.round{
	font-size: 14px; 
	font-weight:bold;
}

div.thermometer-info div.time-left{
	text-transform:uppercase; 
	font-size:20px; 
	font-weight:bold;
}

div.thermometer-info div.time-status{
	border-bottom: 1px solid #d5d5d5; 
	padding-bottom:10px;
	width: 75%;
}

div.thermometer-info div.status{
	color:#149290; 
	font-size:18px; 
	font-weight: bold; 
	width: 75% !important;
}

div.thermometer-info div.reached-label{
	padding-top:10px; 
	color:#149290; 
	font-size:14px; 
	font-weight:bold;
}

div.thermometer-info div.reached{
	font-size:48px; 
	color:#149290; 
	font-weight:bold; 
	font-size: 48px; 
	line-height: 1.1;
}

div.thermometer-info div.optimum-label{
	font-size:14px; 
	margin-top:10px;
}

div.thermometer-info div.optimum{
	font-size: 24px;
}

div.thermometer-info div.minimum-label{
	font-size:14px; 
	margin-top:10px;
}

div.thermometer-info div.minimum{
	font-size:24px;
}

div.meter-investors{
	font-weight:bold; 
	font-size:13px; 
	text-transform:uppercase;
	float: left;
	margin-left: 15px;
}

div.favourite{
	color: #bcbcbc; 
	font-size:13px; 
	font-weight:bold;
	cursor: pointer;
	float: right;
	margin-right: 20.5%;
}

div.favourite:hover{
	color:#808080;
}

div.favourite span.heart-icon{
	font-size: 16px;
	top:3px;
}

div.favourite.active span.heart-icon{
	color:#149290;
}

/* Extra main info */

img.tags{
	margin-right: 7px;
}

.tag{
	color: #4D4D4D !important;
	font-weight: bold;
	font-size: 14px;
	text-decoration: underline;
	text-decoration-color: #a6a6a6;
}

div.location-container{
	margin-top: 5px;
	margin-right: 10px;
}

img.location{
	margin-right: 14px;
}

div.project-langs{
	clear: both;
	padding-top: 25px;
}

div.project-langs span.icon-globe{
	font-size: 18px;
	margin-right: 14px;
	color: rgb(77, 77, 77) !important;
}

button.grey {
    background-color: #E8ECEC;
    font-size: 14px;
    color: #4D4D4D !important;
    border-radius:10px;
    white-space: normal;
}

button.dark-grey {
    background-color: #BCBCBC;
    font-size: 14px;
    color: #FFFFFF !important;
    border-radius:10px;
}

button.green {
    background-color: #25A083;
    font-size: 13px;
    color: #FFFFFF !important;
    border-radius:5px;
    text-transform: uppercase;
    font-weight: bold;
}

button.side-pink {
    background-color: #C460BC;
    font-size: 13px;
    color: #FFFFFF !important;
    border-radius:5px;
    text-transform: uppercase;
    font-weight: bold;
}

button.message-grey {
    background-color: #D5D5D5;
    font-size: 13px;
    color: #FFFFFF !important;
    border-radius:5px;
    text-transform: uppercase;
    font-weight: bold;
}

.row.share-project{
	margin-top: 15px;
}

/* Call module */

div.call-info{
	font-size:13px; 
	background-color: #E8ECEC; 
	border-radius: 5px; 
	padding: 17px 3%; 
	font-weight: bold; 
	text-transform: uppercase; 
	margin:0;
	margin-top: 55px !important;
	color:#3A3A3A !important;
}

div.call-info div.label-call{
	line-height: 1.1;
	text-align: center;
	margin-top: 5px;
}

div.call-info .header-text{
	line-height: 1.3;
}

div.call-info .call-name{
	color:#149290;
}

/* Menu */

div.project-menu{
	font-size:16px;
	font-weight: bold;
	margin-left: 0px;
	margin-right: 0px;
}

span.red-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #FF4848;
    color: #FFF;
    font-size: 14px;
}

div.project-menu  div.item{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 59px;
	color:#4D4D4D !important;
}

div.project-menu  div.item.current{
	background-color: #E8ECEC;
}

div.project-menu span.label-item{
	margin-left: 5px;
} 

/* End menu */


div.container.section{
	padding-top: 30px;
}

h2.green-title{
	font-size: 18px;
	color:#149290;
	font-weight: bold;
	text-transform: uppercase;
}

h2.grey-title{
	font-size: 18px;
	color:#4D4D4D;
	font-weight: bold;
	text-transform: uppercase;
}

.panel-title h2.green-title span.icon{
	font-size:22px;
}

.collapsed h2.green-title{
	color:#4D4D4D !important;
}

h2.accordion-title{
	padding: 20px 0;
	cursor: pointer;
}

h2.pink-title{
	font-size: 22px;
	color: #C054BA;
	font-weight: bold;
}

div.about-description{
	font-size: 24px;
	color: #4D4D4D;
	font-weight: bold;
}

/* Panels */

div.widget{
	background-color: #F4F6F6;
	border: 1px solid #BCBCBC;
	margin-top: 20px !important;
	padding: 0 2.5%;
	border-radius: 10px !important;
}

div.widget .panel-heading{
	padding: 20px 0 ;
	border: none !important;
}

div.widget div.panel-body{
	border: none !important;
	padding: 0;
}



div.general-text{
	font-size: 15px;
}

div.small-subtitle{
	font-size: 13px;
	color: #4d4d4d !important;
	font-weight: bold;
	text-transform: uppercase;
}

div.btn-up{
	margin:30px 0;
}

/* Needs */

table.needs{
	font-size: 13px;
}

table.needs.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #EFE5F0;
}

table.needs thead{
	text-transform: uppercase;
}

table.needs thead span.type{
	font-size: 16px;
	margin-left: 5px;
}

table.needs span.required{
	color:#C054BA;
}

/* Adjust the left padding */

table.needs thead th:first-child{
	padding-left: 2.5%;
}

/* Adjust the right padding */

table.needs thead th:last-child{
	padding-right: 2.5%;
}

div.row.legend{
	background-color: #E9EAEA;
	padding:15px 2.5%;
	margin-bottom: 20px !important;
}

div.row.legend div.title{
	margin-left: 7px;
	font-size: 13px;
}


div.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

div.circle.required{
	background-color: #EFE5F0;  
	border:1px solid #C158BB;  
}

div.circle.extra{
	background-color: #FFFFFF;
	border: 1px solid #3A3A3A;
	margin-left: 10px;
}


/* Side */

div.widget.rewards{

}

div.side-widget{
	background-color: #FFFFFF;
	padding: 5%;
	border-radius: 10px;
	margin-bottom: 5px;
	font-size: 13px;
}

div.collaborations{
	margin-top: 15px;
}

div.side-widget .amount{
	font-size:16px;
	font-weight: bold;
}

div.side-widget .investors{
	text-transform: uppercase;
	color:#C054BA;
	font-weight: bold;
	padding: 15px 0;
}

/* Social rewards */
ul.social-rewards{
	padding-bottom: 20px;
}

li.social-reward:not(:last-child){
	border-bottom: 1px solid #BCBCBC;
	padding-bottom: 20px;
}

li.social-reward h3.title{
	font-size:13px;
	font-weight: bold;
}

li.social-reward div.description{
	font-size:13px;
}

li.social-reward div.license-img{
    padding-top: 5px;
}


/* Updates */

div.row.new{
	display: flex;
}

div.row.new .date{
	position: relative;
}

div.row.new div.date div.month{
	background-color: #FFFFFF;
	color: #FF4848;
	font-size: 14px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
	font-weight: bold; 
	text-transform: uppercase;
}

div.row.new div.date div.day{
	background-color: #FFFFFF;
	margin-top: 3px;
	font-size:56px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
}

div.row.new div.date div.extra{
	border-left: 1px solid #C3C6C7;
	margin-left: 50%;
	position: absolute;
	bottom: -40px;
	left: 0px;
	top: 133px;
}

div.row.new div.date div.repeat{
	background-color: #149290; 
	border-radius: 50%; 
	width: 30px; 
	height: 30px; 
	opacity: 0.4; 
	margin: 20px auto 0px;
	
}

div.row.new div.date div.extra-top{
	border-left: 1px solid #C3C6C7;
	margin-left: 50%;
	position: absolute;
	height: 20px;
	left: 0px;
	top: 0px;
}

div.row.new div.date div.extra-bottom{
	border-left: 1px solid #C3C6C7;
	margin-left: 50%;
	position: absolute;
	bottom: -59px;
	left: 0px;
	top: 49px;
}


div.row.new div.content{
	padding: 0 3.5%;
}

div.row.new div.content h2{
	margin-top: 0;
	font-size: 24px;
	color:#4D4D4D;
	font-weight: bold;
}

div.row.new div.content h2:hover{
	color:#149290;
}

div.row.new div.content div.description{
	font-size: 13px;
}

div.row.new div.content div.description img{
	max-width: 100% !important;
	height: auto;
}

div.row.new div.content div.description span.read-more{
	color:#149290;
}

div.row.new div.content div.comments{
	color:#4D4D4D;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
	text-transform: lowercase;
}

div.row.new div.milestone-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 75px;
	margin-top: -75px;
}

div.row.new div.milestone-content div.inside{
	background-color: #149290;
	color:#FFFFFF;
	font-size: 18px;
	font-weight: bold;
	padding: 20px 3%;
	position: relative;
}

div.row.new div.milestone-content div.inside a{
	color:#FFF !important;
	
}

div.row.new div.milestone-content div.inside span.pointer{
	top: 30%;
	position: absolute;
	left: -8px;
}

div.row.new div.milestone-content div.inside img.emoji{
	float: left;
	margin-right: 20px;
	max-width: 20%;
}

div.row.new div.milestone-content div.inside .facebook-icon{
	position: absolute;
	right: 35px;
	bottom: 10px;
	opacity: 0.5;
	cursor: pointer;
}

div.row.new div.milestone-content div.inside .twitter-icon{
	position: absolute;
	right: 10px;
	bottom: 8px;
	opacity: 0.5;
	cursor: pointer;
}

div.row.new div.milestone-content div.inside .facebook-icon:hover,
div.row.new div.milestone-content div.inside .twitter-icon:hover{
	opacity: 1;
} 

/* Post entry */

div.widget.post{
	padding-bottom: 20px;
}

div.widget.post div.date{
	font-size: 12px;
	color: rgb(188, 188, 188) !important;
	line-height: 0.5;
	padding-bottom: 5px;
}

.embed-legend{
	font-size: 12px;
	color: #BCBCBC;
	margin-top: 10px;
}

div.widget.post div.row.child:nth-of-type(odd) {
    background: #DDECEC;
}

/* Backers */

div.invest{
	padding: 15px 2.5%;;
	font-size: 13px;
	font-weight: bold;
}

div.invest div.row.info{
}

div.invest div.row.info div.personal{
	margin-left: 10px;
}

div.invest div.row.info div.drop{
	text-align: center;
	margin-left: 10px;
	font-size: 18px;
	color: #D5D5D5 !important;
	font-weight: bold;
	line-height: 1;
}

div.message img.avatar, div.invest div.row.info img.avatar{
	border-radius: 50%;
	max-width: 45px;
	max-height: 45px;
}

div.invest div.row.info h3.name{
	margin-top: 0;
	font-size:16px;
	font-weight: bold;
}

div.invest div.row.info h3.name a{
	color: #3A3A3A !important;
}

div.invest div.row.info div.worth{
	text-transform: uppercase;
}

div.invest div.row.info div.amount{
	font-size: 30px;
	line-height: 0.8;
}

div.invest div.row.chart{
	padding: 15px 0px 20px 0px;
	border-bottom: 1px solid #BCBCBC;
}

div.invest div.row.chart div.green{
	background-color:#149290;
	margin-right: 0.5%;
	height: 15px;
	float: left;
	border-radius: 10px;
}

div.invest div.row.chart div.grey{
	background-color: #D5D5D5;
	height: 15px;
	float: left;
	border-radius: 10px;
}

div.invest div.msg{
	margin-top: 30px;
}

div.invest div.row.chart .full-bar{
	width: 100%;
}

/* Related projects */

aside.related-projects{
 	background-color:#FFFFFF;
 	padding-bottom: 40px;
}

/* Collaborations widget */

div.row.message{
 	font-size: 15px;
 	padding: 20px 0;
}

div.row.message div.user-name a{
 	font-weight: bold;
 	color: #3A3A3A !important;
} 

div.row.message div.msg-content{
 	clear: both;
 	padding-top: 5px;
}

div.row.message div.time-ago{
 	font-size: 13px;
 	color:#999999;
}

div.row.button-msg{
 	margin:0 0 20px 0;
}

div.row.message a.delete{
 	font-size: 13px;
 	color:#999999;
 	text-transform: uppercase;
}

div.row.button-msg div.box{
	padding-top: 10px;
	display: none;
}

div.row.button-msg div.join-button{
	width:25px;
	height: 25px;
	border-left: 1px solid #D5D5D5;
	border-bottom: 1px solid #D5D5D5;
	float: left;
	margin-left: 20px;
}

div.row.button-msg div.box div.text-area{
	margin-left: 55px;
}

div.row.button-msg textarea{
	width: 100%;
	height: 110px;
}

div.child{
 	background-color: #EBEDED;
 	padding-top: 15px !important;
 	padding-bottom: 20px;
}

div.child.no-owner div.msg-content{
	margin-left: 55px;
} 

div.child.owner{
 	background-color: #DDECEC;
 	padding:30px 0 20px 75px !important;
 	padding-right: 2.5% !important;

}

div.row.message.child.no-owner div.user-name{
  	padding-top: 10px;
  	margin-left: 10px
}




/* Responsive fixes */

@media (min-width: 768px) and (max-width: 992px) {
	h1.project-title{
		font-size: 32px !important;
	}

	div.project-by a {
		font-size: 16px !important;
	}

	div.thermometer-info div.round{
		font-size: 12px !important;
	}

	div.thermometer-info div.time-left {
		font-size: 16px !important;
	}

	div.thermometer-info div.status {
		font-size: 16px !important;
		padding-bottom: 5px !important;
		width: 100% !important;
	}

	div.thermometer-info div.reached-label{
		font-size: 12px !important;
		padding-top: 5px !important;
	}

	div.thermometer-info div.reached {
		font-size: 30px !important;
		line-height: 0.9 !important;
	}

	div.thermometer-info div.optimum-label{
		font-size: 12px !important;
		margin-top: 5px !important;
	}

	div.thermometer-info div.optimum{	
		line-height: 0.9;
	}

	div.thermometer-info div.minimum-label{
		font-size: 12px !important;
		margin-top: 5px !important;
	}

	div.thermometer-info div.minimum{	
		line-height: 0.9;
	}

	div.thermometer{
		height: 210px;
	}

	div.thermometer-container {
    	padding-bottom: 4%;
	}

	div.meter-investors{
		font-size: 10px;
    	padding-right: 0;
	}

	div.favourite span.heart-icon{
		font-size: 12px;
	}

	div.favourite{
		padding-right: 0;
    	padding-left: 5px;
    	font-size: 10px;
    	margin-right: 5%;
	}

	div.sticky-menu div.container a div.sticky-item{
		font-size: 14px !important;
	}

	button.pink.custom{
		font-size: 14px !important;
	}

	div.call-info{
		margin-top: 40px !important;
	}

}

@media(max-width:767px){

	.navbar{
		font-size:14px !important; 
	}

	div.sticky-menu{
 		bottom:0;
 		top:auto;
 	}


	div.section-content{
		padding: 0;
	}

	div.container-fluid.main-info div.header{
		margin-top:20px;
		margin-bottom: 35px;
	}

	h1.project-title{
		font-size: 2.28em;
	}

	div.project-by a{
		font-size: 1.29em;
	}

	div#tags-location{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	div#tags{
		order:2;
	}

	div#location{
		order:1;
	}

	div.tags-location div.location{
		text-align: center;
		margin-top:0px !important;
	}

	div.tags-location div.tags{
		text-align: center;
		margin-top:15px;
	}

	div.share-project-container{
		text-align:center;
		margin:20px 0;
		font-size: 1.29em;
	}

	div.row.share-project{
		max-width: 400px;
		margin: 15px auto;
	}

	.tag{
		font-size: 1.29em !important;
	}

	div.responsive-meter div.round-left-time{
		font-size: 1.57em;
		font-weight: bold;
		text-align: center;
	}

	div.responsive-meter div.round-left-time span.round{
		padding-right: 15px;
		margin-right: 15px;
		border-right: 2px solid #D5D5D5;
	}

	div.responsive-meter div.status{
		font-size: 2.29em;
		color:#149290;
		font-weight: bold;
		text-align: center;
		border-bottom: 1px solid #D5D5D5;
		padding-bottom: 15px;
		margin-bottom: 15px;
	}

	div.responsive-meter div.row.meter-numbers{
		font-weight: bold;
		text-align: center;
	}

	div.responsive-meter div.row.meter-numbers div.item{
		margin-right: 20px;
		display: inline-block;
	}

	div.reached-container{
		color:#149290;
	}

	div.responsive-meter div.row.meter-numbers .meter-label{
		font-size: 1.43em;
	}

	div.responsive-meter div.row.meter-numbers .reached{
		font-size: 3.43em;
		line-height: 1;
	}

	div.responsive-meter div.row.meter-numbers .opt-min{
		font-size: 2em;
		line-height: 1;

	}

	/* Investors section */

	div.meter-investors{
		font-size:1.43em !important;
		text-align: center !important;
		margin:25px 0 !important;
		float: none !important;
	}

	div.invest div.row.info, div.invest div.row.chart{
		margin-right: 0;
		margin-left: 0;
	}

	/* Buttons meter */

	button.pink.custom{
		font-size: 1.43em !important;
		margin-bottom: 25px;
		margin-top: 0px;
	}

	button.favourite{
	    background-color: #FFF;
	    border: 1px solid #BCBCBC !important;
	    color: #BCBCBC !important;
	    padding:18px;
	 	margin-bottom:25px;
	 	border-radius:10px;
	    font-size: 1.43em !important;
	}

	button.favourite.active{
	    background-color: #BCBCBC;
	    border: 1px solid #BCBCBC !important;
	    color: #FFFFFF !important;
	    padding:18px;
	 	border-radius:10px;
	}

	span.heart-icon{
		font-size:1.2em !important;
	}

	div.favourite{
		float: none;
		margin-right: 0;
	}

	div.favourite.active span.heart-icon{
		color:#FFFFFF;
	}

	button.grey{
		white-space:inherit;
	}

	div.widget.rewards{
		margin-top: 0 !important;
	}

	div.rewards-collapsed{
		text-align: center;
		border-radius: 5px !important;
		border: 1px solid #BCBCBC !important;
		border-radius: 10px !important;
		background-color: rgb(255, 255, 255);
	}

	/* Call module */

	div.call-info{
		font-size: 1em !important;
		margin: 0 -15px 30px -15px !important;
	}

	div.call-info-container{
		padding:0 !important;
	}

	div.header-text, div.call-name{
		font-size: 1.43em !important;
	}

	div.widget.rewards h2.green-title{
		font-size: 1.29em !important;
	}

	div.project-menu{
		font-size: 1.14em !important;
	}

	/* Updates */

	div.row.new div.date div.month{
		font-size:1.14em !important;
	}

	div.row.new div.date div.day{
		font-size: 4em !important;
	}

	div.row.new div.date div.extra{
		top:136px !important;
	}

	
	div.row.new div.content h2{
		font-size: 2em !important;
	}

	div.row.new div.content div.description{
		font-size: 1.29em !important;
	}

	div.row.new div.milestone-content div.inside{
		font-size: 1.29em !important;
	}

	div.row.new div.content div.comments{
		font-size: 1.29em !important;
	}

	/* Home */

	h2.green-title{
		font-size: 1.29em !important;
	}

	div.about-description{
		font-size: 2em !important;
	}

	h2.grey-title{
		font-size: 1.43em !important;
	}

	div.general-text{
		font-size: 1.29em !important;
	}

	h2.pink-title{
		font-size: 2em;
	}
	

}


@media(max-width:479px){
	body.project{
		font-size:10px !important;
	}

	div.label-call{
		width: 100%;
	}

	div.row.new div.date div.extra{
		top: 107px !important;
	}

	div.general-text{
		font-size: 1.5em !important;
	}

	h2.green-title{
		font-size: 1.5em !important;
	}
}

@media(max-width:384px){
	body.project{
		font-size:9px !important;
	}

	div.row.new div.date div.extra{
		top: 99px !important;
	}

	div.sticky-menu div.container div.sticky-button{
		margin-left: 0 !important;
	}

	div.project-menu  div.item{
		min-height: 59px;
	}



}








