div.widget.apikey h3.beak{
	background-color: #CCE7E8 !important;
	padding: 20px 0px 30px 20px;
	background-image: url("/view/css/project/view/invest/header_beak.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left bottom;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	font-size: 1em !important;
	text-transform: uppercase !important;
}

div.widget.apikey .user-key{
	background-color:#F5E9F4;
	padding:20px;
	color:#96238F;
	font-weight: bold;
}

div.widget.apikey .user-key .content{
	font-size:14px; 
	margin-left: 20px;
}

div.widget.apikey .user-key .user{
	margin-left: 40px;
}

div.widget.apikey .element-box{
	background-color: #E5C8E3;
	width: 350px;
	margin-bottom: 5px;
	border-radius: 5px;
	padding: 10px;
}

div.widget.apikey .button-key{
	margin-top: 5px;
}

div.widget.apikey .docu-link{
	margin-top: 10px;
}

div.widget.apikey .docu-link a{
	text-decoration: none;
	font-weight: normal;
}
