@import "compass/css3";

.d3-chart {
  &.auto-enlarge {
    cursor: pointer;
    max-width: 300px;
    transition: all 0.5s ease;
  }
  font-size:16px;

  text {
  }
  .legend rect {
      fill:white;
      opacity:0.4;
  }

  path.slice {
      transition: fill-opacity .4s ease;
  }

  .slice-label {
      text-shadow: 1px 1px 2px #666;
      cursor: pointer;
  }
}

.d3-chart-wide {
  width: 100%;

  .d3-chart {
    &.auto-enlarge {
      max-width: 100%;
      font-size: 10px;
      transition: all 0.5s ease;
    }
  }
}

