@import "compass/css3";

.d3-chart {
  &.auto-enlarge {
    cursor: pointer;
    max-width: 300px;
    transition: all 0.5s ease;
  }
  font-size:16px;

  div.tooltip {
/*       position: absolute;
      text-align: center;
      width: 60px;
      height: 28px;
      padding: 2px;
      font: 12px sans-serif;
      background: lightsteelblue;
      border: 0px;
      border-radius: 8px;
      pointer-events: none;
 */  }

  text {
  }
  .legend rect {
      fill:white;
      opacity:0.4;
  }

  path.slice {
      transition: fill-opacity .4s ease;
  }

  .slice-label {
      text-shadow: 1px 1px 2px #666;
      cursor: pointer;
  }
}

.d3-chart-wide {
  width: 100%;

  .d3-chart {
    &.auto-enlarge {
      max-width: 100%;
      font-size: 10px;
      transition: all 0.5s ease;
    }
  }
}

