@import "compass/css3";
/* GENERAL STYLES */


// Remove firefox inner dotted on focus buttons
a:focus {outline:none;}
a::-moz-focus-inner {border:0;}

// AnimatedCSS default velocity
.animated {
    @include animation-duration(.5s);
}
blockquote {
    font-size: inherit;
}
.spacer {
    margin-top: 40px;
}

.spacer-20{
    margin-top:20px;
}

.spacer-5{
    margin-top:5px;
}

.spacer-10{
    margin-top:10px !important;
}
.spacer-bottom {
    margin-bottom: 40px;
}

.spacer-bottom-20{
    margin-bottom:20px;
}

.spacer-bottom-5{
    margin-bottom:5px;
}

.spacer-bottom-10{
    margin-bottom:10px !important;
}

.cursor-pointer{
    cursor: pointer;
}

.text-left-important{
    text-align: left !important;
}

.align-center-margin{
    margin: 0 auto;
}

.panel-heading {
    cursor: pointer;
}

.clear-both{
    clear:both !important;
}

.no-margin{
    margin:0 !important;
}

.no-padding{
    padding: 0 !important;
}

.margin-left-2{
    margin-left: 2%;
}

.margin-top-7{
    margin-top:7.5%;
}

.padding-bottom-6{
    padding-bottom: 6%;
}

.padding-bottom-2{
    padding-bottom: 2%;
}

.text-bold{
    font-weight: bold;
}

.text-font-normal{
    font-weight: normal;
}


.label-img{
    vertical-align: top;
}

.standard-margin-top{
    margin-top:3%;
}

.panel-form{
    margin: 0px auto;
    max-width: 375px;
}

.modal{
    top:15%;
}

i.visible-xs {
    @media(max-width: $breakpoint-sm - 1 ) {
        display:inline-block !important;
    }
}

.footable-toggle {
  cursor: pointer;
}


div.tooltip-inner {
    max-width: 100% !important;
}

a.expand-link{
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}


.uppercase{
    text-transform: uppercase;
}

