@import "compass/css3";
/* GENERAL STYLES */


// Remove firefox inner dotted on focus buttons
a:focus {outline:none;}
a::-moz-focus-inner {border:0;}

// AnimatedCSS default velocity
.animated {
    @include animation-duration(.5s);
}
blockquote {
    font-size: inherit;
}

@keyframes loading-bar {
    from {width: 0%;}
    to {width: 100%;}
}

@keyframes loading-bar-padding {
    from {width: 0%;}
    to {width: calc(100% - 30px);}
}

.loading-container, .pronto-loading {
    position: relative;
    &::before {
        z-index: 1000;
        width: 30px;
        height: 30px;
        position: absolute;
        content: '';
        top: -10px;
        left: 0;
        border-top: 2px solid $color-cyan;
        background:url(../img/ring.gif) no-repeat left;
        background-size: contain;
        @include animation-name (loading-bar);
        @include animation-duration (1s);
        @include animation-iteration-count (infinite);
    }
    &.pronto-loading::before {
        // margin: 0 20px;
        left: 15px;
        @include animation-name (loading-bar-padding);

    }
}

.spacer {
    margin-top: 40px;
}

.spacer-20 {
    margin-top:20px;
}

.padding-20 {
    padding-top:20px;
}

.spacer-5 {
    margin-top:5px;
}

.spacer-10 {
    margin-top:10px !important;
}
.spacer-bottom {
    margin-bottom: 40px;
}

.spacer-bottom-20 {
    margin-bottom:20px;
}

.spacer-bottom-5 {
    margin-bottom:5px;
}

.spacer-bottom-10 {
    margin-bottom:10px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.text-left-important {
    text-align: left !important;
}

.align-center-margin {
    margin: 0 auto;
}

.panel-heading {
    cursor: pointer;
}

.clear-both{
    clear:both !important;
}

.no-margin {
    margin:0 !important;
}

.no-padding {
    padding: 0 !important;
}

.margin-left-2 {
    margin-left: 2%;
}

.margin-top-7 {
    margin-top:7.5%;
}

.padding-bottom-6 {
    padding-bottom: 6%;
}

.padding-bottom-2 {
    padding-bottom: 2%;
}

.text-bold {
    font-weight: bold;
}

.text-font-normal {
    font-weight: normal;
}


.label-img {
    vertical-align: top;
}

.standard-margin-top {
    margin-top:3%;
}

.panel-form {
    margin: 0px auto;
    max-width: 375px;
}
.panel-form-wide {
    margin: 0px auto;
    max-width: 750px;
}

// .modal{
//     top:15%;
// }

i.visible-xs {
    @media(max-width: $breakpoint-sm - 1 ) {
        display:inline-block !important;
    }
}

.footable-toggle {
  cursor: pointer;
}


div.tooltip-inner {
    max-width: 100% !important;
}

a.expand-link{
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.uppercase {
    text-transform: uppercase;
}


ul.project-filters {
  margin:20px 0;
  li{
    font-weight: bold;
    padding: 5px 15px;
    cursor: pointer;
    color: $primary-color;
    a {
      color: $primary-color;
    }
    &.active{
      background-color: $background-light-green;
      border-radius: 5px;
      color: $color-white !important;
      cursor: none;
      a {
        color: $color-white !important;
      }
    }
    &.matchfunding, &.matchfunding a {
      color: $color-lilac;
    }
  }
}
