# Goteo settings file
---

# Internal secret for hashes
secret: --a-very-secret-string---

# local environment: local, beta, real
env: local # set to real to send emails
debug: true # whether to show trace for errors or not
            # This is always true for local or beta env

# Default system language
lang: es

# url
url:
    main: //0.0.0.0:8081

plugins:
    goteo-dev:
        active: true # plugin should be active=true to be loaded
        #liveport: 35729 # Local development only livereload port (optional)

# Payment methods, must be registered as classes implementing Goteo\Payment\Method\PaymentMethodInterface
payments:
    # Paypal
    paypal:
        active: true
        testMode:  true # set to false to real checkouts
        username: paypal@example.com
        password: paypal-password
        signature: PAYPAL-Signature
        appId: PAYPAL-APP-ID

    pool:
        active: true

    # A stupid payment method defined in the plugin goteo-dev
    # Useful for development and testing
    dummy:
        active: true

    # Additional custom payment methods should be added here

# Database stuff
db:
    driver:   mysql     # Database driver (mysql)
    host:     127.0.0.1 # Database host
    port:     3306      # Database port
    charset:  utf8mb4     # Database charset
    database: goteo     # Database schema (database name)
    username: goteo      # Database user for the goteo database
    password: goteo     # Password for the goteo database
    # for testing only
    port_env: '%env(DATABASE_PORT)%'
    array_env:
        - '%env(DATABASE_PORT)%'

# HTML Metas
meta:
    title:       "Development Goteo"       # Html default <title>

# Mail transport
mail:
    # receiving emails
    mail:         info@localhost     # Main
    contact:      info@localhost     # consulting head
    manager:      manager@localhost  # accounts manager
    fail:         dev@localhost      # dev head
    log:          sitelog@localhost  # Loggin mail

# This will be used for geolocating users, projects, and mail tracking
geolocation:
    google_maps_key: # Google Maps Key
                     # Ge one here: https://developers.google.com/maps/documentation/javascript/get-api-key

# Social Login Services
# Fill an uncomment the needed one's
oauth:
    # Credentials app Facebook
    facebook:
       active: false
       id:     000000000000000                  #
       secret: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa #

    # Credentials app Twitter
    twitter:
       active: false
       id:      aaaaaaaaaaaaaaaaaaaaaa                     #
       secret:  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa #

    # Credentials app Linkedin
    linkedin:
       active: false
       id:     aaaaaaaaaaaa     #
       secret: aaaaaaaaaaaaaaaa #

    # Credentials Google
    google:
       active: false
       id: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
       secret: aaaaaaaaaaaaaaaaaa


# Optional analytics ID's
# Example:
# google: UA-0000000-01
analytics:
    google:
