body.user-login div#main > div {    
    display: table-cell;    
}

body.user-login div#main > div > * {
    padding: 20px;
    background-color: white;
}

body.user-login div#main > div h2 {
    margin: 0 0 2em;
    font-size: 16px;
    font-weight: bold;    
}


body.user-login div#main div.external-login {
    width: 100%;
}

body.user-login div#main div.external-login  {
    padding: 0 20px;
}

body.user-login div#main > div form > div {
    padding: 0 0 1em;
}

body.user-login div#main > div form > div label {
    line-height: 2em;
    display: block;
    font-size: 14px;
    font-weight: bold;
}

body.user-login div#main > div form > div input {
    display: block;
    background-color: #DFF2F3;
    width: 15em;
}

body.user-login div#main form input[type="submit"] {
    margin-bottom: 0;
}

body.user-login div#main div.register form > div input {
    width: 18em;
}

body.user-login div#main div.register form > div em {
    color: red;
}

body.user-login div#main div.register label.conditions {
    font-size: 11px;
}

body.user-login div#main div.register label.conditions a:hover {
    color: #20B3B2;
}