@import url('activity/summary.css');
@import url('profile/profile.css');
@import url('projects/rewards.css');

body.dashboard div#main {
    overflow: visible;
}

body.dashboard div#main div.widget {
    margin-bottom: 20px;
}

body.dashboard div#sub-header {
    padding-bottom: 4em;
    margin-bottom: 0;
    
}

body.dashboard div#sub-header div.dashboard-header{
    min-height: 100px;
}

body.dashboard div#sub-header img{
    float: left;
    margin-right: 20px;
}

body.dashboard div#dashboard-menu {
    display: block;
    max-width: 940px;
    font-size: 13px;
    margin: -2.6em auto 0;    
/*    background-color: #78d1d1; */
}

body.dashboard div#dashboard-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

body.dashboard div#dashboard-menu ul li {

    display: inline-block;
}

body.dashboard div#dashboard-menu ul li,
body.dashboard div#dashboard-menu ul li a {
    text-decoration: none;
}

body.dashboard div#dashboard-menu ul li a {
    padding: .6em 1em;
    height: 1.4em;
    line-height: 1.4em;
    text-transform: uppercase;
    display: inline-block;
}

body.dashboard div#dashboard-menu ul li.section ul {
    display: none;
}

body.dashboard div#dashboard-menu ul li.section.current ul {
    display: block;
}

body.dashboard div#dashboard-menu ul li.section.active,
body.dashboard div#dashboard-menu ul li.section.current {
    margin-bottom: 2.6em;
}

body.dashboard div#dashboard-menu ul li.section.current ul {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2.6em;
    right: 0;
    z-index: 0;
}

body.dashboard div#dashboard-menu ul li.section.active ul {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2.6em;
    right: 0;
    z-index: 9;
}

body.dashboard div#dashboard-menu ul li.section a.section {
    background-color: #c7ecec;
    color: #20b3b2;
    min-width: 80px !important;
}

body.dashboard div#dashboard-menu ul li.section.active a.section {
    color: #ffffff;
    background-color: #79d1d1;
}

body.dashboard div#dashboard-menu ul li.section.current a.section {
    color: #ffffff;
}

body.dashboard div#dashboard-menu ul li.section.current a.section,
body.dashboard div#dashboard-menu ul li.section.current ul,
body.dashboard div#dashboard-menu ul li.section.active a.section,
body.dashboard div#dashboard-menu ul li.section.active ul {
    background-color: #1db3b2;
}

body.dashboard div#dashboard-menu li.option a {
    color: #c7ecec !important;
}

body.dashboard div#dashboard-menu li.option.current a, 
body.dashboard div#dashboard-menu li.option.active a {
    color: #ffffff !important;
    background-color: #79d1d1 !important;
}

body.dashboard div#dashboard-menu li.section.current a {
    color: #ffffff;
    background-color: #1db3b2;
}


/* El superform con el fondo blanco */
body.dashboard div.superform {
    background-color: #ffffff !important;
    padding-top: 1px !important;
    padding-left: 20px !important;
    border: none !important;
}

/* Seccion proyectos */
body.dashboard div#project-selector {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
}

body.dashboard div#project-selector label{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-right: 5px;
}

body.dashboard div#project-selector select{
    width: 770px;
    text-transform: uppercase;
    font-size: 14px;
}

/* status */
body.dashboard div#main div.status {
    float: left;
    color: #bcbdbd;
    border: none !important;
    padding: 0px !important;
    margin-right: 20px;
}

body.dashboard div#main div.status #project-status {
    background-color: #ffffff;
    padding: 20px 100px 62px 30px !important;
}

/* Lista entradas */
body.dashboard div#main div.post {
    margin: 20px;
    border-bottom: 1px dashed #B7C2C5;
}

body.dashboard div#main div.post strong {
    font-weight: bold;
    font-size: 14px;
}

body.dashboard div#main div.post span {
    font-weight: normal;
    font-size: 10px;
}
