/* ==========================================================================
   Estilos comunes a todas las páginas
   ========================================================================== */
* {
    font-family: "Liberation Sans",Helvetica,"Helvetica Neue",Arial,Geneva,sans-serif;
}
html {
    height: 100%;
    margin: 0;
    overflow: auto;
}
html, body {
    background-color: #E7E7E7;
    padding: 0;
}          

header img {
    background: url("/view/bazar/img/carrito.png") no-repeat scroll left top;
    padding: 20px 0 0 20px;
}        

h1 {
  text-transform: uppercase;
  color: #96238F;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 0;
}

h2 {
  text-transform: uppercase;
  text-decoration: underline;
  color: #20B2B3;
  text-align: center;
  font-size: 2rem;
}

h3 {
  text-transform: uppercase;
  color: #58595B;
  text-align: center;
  font-size: 2rem;
  margin: 0;
}
/* el tamaño de tipografia de estos elementos se modifica en los breakpoints */

/* footer */
footer {
  margin-top: 20px;
}

footer.img,
footer.a {
  float: left;
}


ul.share {
  display: block;
  list-style: none outside none;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

ul.share li {
    display: inline;
    float: left;
    text-align: center;
    width: 280px;          
}

ul.share li a {
    color: #FFFFFF;
    font-size: 14px;
    height: 33px;
    text-decoration: none;
}

ul.share li.twitter a {
    background: url("/view/css/project/widget/btn_spread.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 9px 21px 8px 60px;
}        

ul.share li.facebook {
    margin-left: 20px;
}

ul.share li.facebook a {
    background: url("/view/css/project/widget/btn_spread.png") no-repeat scroll 0 -33px rgba(0, 0, 0, 0);
    padding: 9px 14px 8px 45px;
}


/*
* 
*/
#caja{
  background:url('view/bazar/img/caja.png') no-repeat top center;
  background-size:100% 100%;
  display:inline-block;
  height:50px;
}
#caja p.precio {
  display:inline;
  height:50px;
  line-height:42px;
  margin-left:12px;
  margin-right:15px;
}

/* Formulario */
form{
  margin-top:30px;
}
form div#campo1{
  width:45%;
  float:left;
  margin-left:50px;
}
form div#campo1 input, form div#campo1 label{
  float:left;
  margin-left:20px;
  width:350px;
  
}
form div#campo1 p{
  width:150px;
  float:left;
  margin-top:0px;
  font-size:80%;
  height:20px;
}
form div#campo2{
  width:45%;
  float:right;
}
form div#campo2 input, form div#campo2 label{
  float:left;
  margin-left:20px;
  width:350px;
  
}
form div#campo2 p{
  
  width:150px;
  float:left;
  margin-top:0px;
  font-size:80%;
  height:20px;
}
form div#campo3{
  width:45%;
  float:left;
  margin-left:50px;
}
form div#campo3 input, form div#campo3 label, form div#campo3 textarea{
  float:left;
  margin-left:20px;
  width:350px;
  
}
form div#campo3 p{
  
  width:150px;
  float:left;
  margin-top:0px;
  font-size:80%;
  height:20px;
}

form div#campo4{
  clear:both;
}