/* Banners */
div#banners-social div#call-banners{width: 0.7078%; height:197px; margin: 0; border:#000 1px transparent !important /*no tocar o el contenido se alinea de forma extraña dentro del carrousel*/; position: relative; float: left;}
div#banners-social div#call-banners div.call-banners-container{width:545px;height:197px;margin:0 auto;}
div.call-banners-container div.call-banner{width:545px;height:197px;}
div.call-banners-container div.call-banner > div.title{width: 352px;padding-top: 66px; margin-left: 172px;line-height:22px;font-size:18px;font-weight: bold; color:#20B2B3}
div.call-banners-container div.call-banner > div.short-desc{margin-top: 25px; margin-left: 50px; line-height:30px;font-size:20px;color:#1f81bb; max-width: 450px;}
div.call-banners-container div.call-banner.active > div.title{}
div.call-banners-container div.call-banner a.expand {padding: 0;position: absolute;width: 545px;height: 197px;z-index: 99;}


/* paginación de los banners*/
div#call-banners-controler{position: absolute;width: 100%; bottom: 5px;z-index:100;overflow:auto;height:auto;text-align:center}
ul.bannerspage{list-style:none; z-index:100;  padding:0;  margin:0; display:inline-block}
ul.bannerspage li{ cursor:pointer;  display:block;  float:left;  overflow:hidden; margin:0px 4px 5px 4px}
ul.bannerspage li a{display:block;width:13px;height:13px;margin-top:2px; background-color:#d9cfd2;color:#d9cfd2;
-webkit-border-radius: 100px;-moz-border-radius: 100px;border-radius: 100px;}
ul.bannerspage li a:hover{ background-color:#808184;  color:#808184}
ul.bannerspage li.current a{ background-color:#1f81bb !important;  color:#1f81bb !important}
