 body { 
                  
                  background-repeat:no-repeat;
                  background-position: center center;
                  /* background-attachment: fixed; removed for Android */
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;
                  background-size: cover;
      }