// Google Fonts
// <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
// <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css">

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Open+Sans+Condensed:300);

// Bootstrap breakpoints
$breakpoint-xxs: 385px;
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

// Goteo main font
$primary-font: 'Roboto', sans-serif;
$font-size: 15px;

$primary-color: #3A3A3A;
// $secondary-color: #667475;
$secondary-color: #537880; // TODO: confirm this color
$title-color: #2D2B2C; // TODO: confirm this color

$background-light-cream: #FAF8F8;
// $background-light: #E7E7E7;
$background-light: #E5F3F4;
$background-light-body: #F0F9F8;
$background-light-grey: #E8ECEC;
// $background-grey: #58595B;
$background-grey: #555555;
$background-white: #FFFFFF;
// $background-light-green: #32BDB8; // header alternate?
$background-light-green: #19B4B2;
$background-green: #25A083;
$background-dark-green: #14AE84;
$background-pink: #CD5EB3;
$background-red: #B32928;
$background-black: #111111;
$background-light-black: #333333;
$background-white: #FFFFFF;
$background-green-donor: #CFEBEB;
$background-green-owner: #E3F3F4;
$background-yellow: #FCFDD2;
$background-dark-yellow: #FFEC61;
$background-light-yellow: #EFE1A8;

$background-blue: #DDF2F2;
$background-sidebar-header: #2C2C2C;
$background-sidebar: #3B3B3B;
$background-sidebar-active: #727272;
$background-sidebar-footer: #2C2C2C;
$background-lighter-lilac: #F2E6F1;
$background-light-lilac: #B262A8;
$background-dark-lilac: #A65387;

$background-active-green: #1BAFAC;
$background-active-dark-green: #189D9A;

$background-main-home: #f8f8f8;

$color-white: #FFFFFF;
$color-black: #000000;
$color-pink: #CD5EB3;
$color-lilac: #A63C98;
$color-orange: #FF6400;
$color-red: #FF3936;
$color-green: #14AE84;
$color-light-green: #19B4B2;
$color-aux-green: #99BABE;
$color-light-grey: #BCBCBC;
$color-date-grey: #ABABAB;
$color-grey: #58595B;
$color-dark: #4D4D4D;
$color-cyan: #2BBBB7;
$color-grey-cyan: #C1D9DB;
$color-light-black: #2C2C2C;

$dashboard-sidebar-width: 240px;
// $dashboard-sidebar-width: 20%;
$home-sidebar-width: 400px;

$dashboard-main-width: 80%;

@import 'misc/mixins';
