/*
 * Custom CSS Goteo
 *
 *
 */
@import 'variables';



@import 'components/custom_animations';
@import 'components/icons';
@import 'components/buttons';
@import 'components/call_to_action';
@import 'components/file_types';
@import 'components/circle';
@import 'components/alerts';
@import 'components/widgets';
@import 'components/widgets_call';
@import 'components/forms';
@import 'components/slider';
@import 'components/lists';
@import 'components/material_tables';
@import 'components/foundation';
@import 'components/main_slider';
@import 'components/stories';
@import 'components/values';
@import 'components/workshops_slider';
@import 'components/dataset';
@import 'components/announcement';

@import 'misc/misc';
@import 'misc/charts';
// This will disappear some day, cows may fly...
@import 'misc/unordered';
@import 'misc/responsive_utils';


@import 'layouts/layout';
@import 'layouts/header';
@import 'layouts/search';
@import 'layouts/footer';
@import 'layouts/sidebar';
@import 'layouts/home';
@import 'layouts/discover';
@import 'layouts/project';
@import 'layouts/channel';
@import 'layouts/channel_call';
@import 'layouts/channels';
@import 'layouts/dashboard';
@import 'layouts/admin';
@import 'layouts/blog';
@import 'layouts/matchfunding_landing';
@import 'layouts/user';
@import 'layouts/workshop';
@import 'layouts/invest';
@import 'layouts/map';
@import 'layouts/questionnaire';
@import 'layouts/impact_discover';

