@import 'variables';

$color-bg-primary: var(--color-bg-primary) !default;
$color-bg-secondary: var(--color-bg-secondary) !default;
$color-bg-secondary-rgb: var(--color-bg-secondary-rgb);
$color-button: var(--color-button) !default;
$color-button-text: var(--color-button-text) !default;
$color-footer-font: var(--color-footer-font) !default;
$color-font: var(--color-font) !default;

$color-bg-transparent: rgba(253, 64, 34, 0.1);

$font-weight-bold: 700;
$font-weight-light: 400;

$title-max-width: 15em;
$body-max-width: 40em;

$animation-duration: 300ms;
$animation-easing: ease-in-out;

@keyframes breathe-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.025);
  }

  100% {
    transform: scale(1);
  }
}

body.donate {
  font-family: "Karla", sans-serif;
  background-color: $color-bg-secondary !important;

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-bold;
  }

  .btn {
    background-color: $color-button;
    color: $color-button-text;
    font-size: 32px;
    border-radius: 0;

    &:focus,
    &:hover {
      transition: all $animation-duration $animation-easing;
      transform: translateX(10px);
    }
  }

  .donate-header {
    background-color: $color-bg-primary;
    width: 100vw;
    height: 70vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center bottom;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color-bg-secondary-rgb;
      }
    }

    .main-info h1 {
      font-weight: $font-weight-bold;
      font-size: 5vh;
      font-family: "gt_cinetypebold", sans-serif;
      text-shadow: none;
      max-width: $title-max-width;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-bg-transparent;
    }
  }

  .donate-methods {
    background-color: $color-bg-primary;
    color: $color-font;
    font-size: 32px;
    font-weight: unset;
    animation: breathe-in-out 3000ms ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

    .pool-box {
      form {
        div.form-group {
          div.input-group {
            @media (max-width: $breakpoint-sm) {
              margin: auto;
              width: 50%;
            }

            div.input-group-addon {
              border: none;
              border-radius: 0;
              color: $color-button-text;
              background-color: $color-button;
              font-size: 32px;
              font-weight: bold;
            }

            #reward-pool {
              border-radius: 0;
              width: 15rem;
              border: none;
              background: $color-bg-secondary;
              color: $color-footer-font;
            }
          }
        }

        button.btn {
          height: 46px;
          border-radius: 0;
          font-size: 1em;
          font-weight: bold;
          text-transform: none;
          margin: 1px 0 0px 10px;

          i {
            display: none;
          }
        }
      }
    }

    p.prologue {
      color: $color-font;

      a {
        color: white;
        text-decoration: underline;
      }
    }
  }

  .donor-text-description {
    max-width: $body-max-width;

    h2 {
      color: $color-bg-primary;
    }
  }

  footer.footer {
    background-color: $color-bg-secondary;
    color: $color-footer-font;
    font-family: Karla;

    a {
      color: $color-footer-font;
    }
  }

  .social [class*="fa fa-"] {
    background-color: $color-button;

    &:hover {
      background-color: $color-bg-primary;
    }
  }

  .hint {
    background: $color-button;
    color: $color-button-text;
    padding: 1em;

    @media (max-width: $breakpoint-sm) {
      .hint.text-right {
        background: $color-bg-primary;
        color: $color-button-text;
        padding: 1em;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1em;
      }
    }
  }
}
