/*
 * Custom CSS Goteo
 *
 *
 */
@import 'variables';
$breakpoint-sm: $dashboard-sidebar-width + 940;


@mixin wrapper-props() {
    @media(min-width: $breakpoint-sm) {
        margin-left: $dashboard-sidebar-width;
        min-width: $dashboard-sidebar-width;
        // #main {
        //     margin:0 20px;
        // }
    }
}

@import 'layouts/layout';
@import 'layouts/sidebar';
@import 'components/widgets';
@import 'components/icons';

body {
    display: block;
    height: auto;
    #wrapper {
        transition: margin-left .5s;
        margin-left: 0;
    }

    &.has-sidebar {
        #sidebar-menu {
            width: 0;
            position: fixed;
            height: 100%;
            z-index: 1001;
        }

        #wrapper {
            @include wrapper-props();
        }

        @media(min-width: $breakpoint-sm) {
            #sidebar-menu {
              width: $dashboard-sidebar-width;
              background-color: rgba(0,0,0,0.2);
              .sidebar-wrap {
                // height: 100%;
                width: 100%;
              }
            }
            #sidebar-menu-toggle {
                display: none;
            }
        }
    }

    &.sidebar-opened {
        #sidebar-menu {
            width: $dashboard-sidebar-width;
        }
        #wrapper {
            @include wrapper-props();
        }
        #sidebar-menu-toggle {
          left: $dashboard-sidebar-width;
          &.affix-top {
              position: fixed;
              top: 70px;
          }

          &.affix {
              position: fixed;
              top: 70px;
          }

          i {
            &.fa-angle-double-right {
              display: none;
            }
            &.fa-angle-double-left {
              display: block;
            }
          }
        }
    }
}

.top-navbar {
    display:none;
}

#sidebar-menu {
    .sidebar-header {
      min-height: 58px;
    }

    li >a {
        font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 1em;
        letter-spacing: 0.01em;
        color: #212121;
        text-rendering: optimizeLegibility;
        text-decoration: none;
    }

    @media(min-width: $breakpoint-sm) {
       button.toggle-sidebar {
            display: none;
        }
    }

    .nav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        & >li {
            position: relative;
            display: block;
        }
        & >li {
            >a {
                position: relative;
                display: block;
                padding: 10px 15px 10px 30px;
            }
            &.nopadding > a {
                padding-left:5px;
            }
            .fa.fa-2x {
                width: 30px;
                font-size: 1.1em;
            }
        }
    }
}

#sidebar-menu-toggle {
  top: 64px;
}
.project-widget {
    * {
        font-family: $primary-font;
        font-size: $font-size;
    }
    a.img-link .status-mark {
        width: 99%;
    }
    .title a {
        font-size: 18px;
        text-decoration: none;
    }
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-danger {
    background-color: #d9534f;
}
