@import 'variables';
@import "compass/css3";

.admin-typeahead {
  .form-group {
    label {
      font-weight: normal;
      margin: 0 10px 0 0;
      input[type="checkbox"] {
        vertical-align: middle;
        margin: 0 0 3px 0;
      }
    }
  }
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}
.tt-hint {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: $font-size;
    line-height: 1.428571429;
    color: #999;
    vertical-align: middle;
    background-color: $color-white;
    border: 1px solid #cccccc;
    border-radius: 4px;
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
    @include transition(border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s);
}
.tt-menu {
    min-width: 200px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: $color-white;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    @include box-shadow(0 6px 12px rgba(0, 0, 0, 0.175));
    background-clip: padding-box;

}
.tt-suggestion {
    display: block;
    padding: 3px 20px;
    cursor: pointer;
}
.tt-suggestion:hover {
    color: $color-white;
    background-color: $color-cyan;
}
.tt-suggestion.tt-is-under-cursor a {
    color: $color-white;
}
.tt-suggestion p {
    margin: 0;
}
