
@import url('widget/summary.css');
@import url('widget/media.css');
@import url('widget/share.css');
@import url('widget/message.css');
@import url('widget/support.css');
@import url('widget/needs.css');
@import url('widget/collaborations.css');
@import url('widget/supporters.css');
@import url('widget/rewards.css');
@import url('widget/messages.css');
@import url('widget/updates.css');
@import url('widget/invest.css');
@import url('widget/schedule.css');
@import url('../user/widget/user.css');
@import url('../worth/legend.css');


body.project-show div#main {
    margin-top: 0;
    margin-bottom: 0;
}

/**
 * Menu
*/

body.project-show div#sub-header {
	height:120px;
    padding-bottom: 0;
	background:#faf8f8;
}

body.project-show div#sub-header div.project-header{
    min-height: 75px;
	position:relative;
	top:10px;
}

body.project-show div#sub-header div.project-header img{
    float: left;
	margin: 6px 20px 0 20px;
}

body.project-show div#sub-header div.project-header h2{
	font-size:2em;
}

body.project-show div#sub-header div.project-by {
    color: #20B3B2;
    font-size: 12px;
    margin: 0 0 .5em;
}

body.project-show div#sub-header div.project-by a {
    font-weight: normal;
    color: #20B3B2;
    font-size: 12px;
    text-decoration: none;
}

body.project-show div#sub-header div.project-by a:hover {
    color: #58595B;
}

body.project-show div#sub-header div.categories {
	position: absolute;
    right: 10px;
    text-align: right;
    top: -15px;
}

body.project-show div#sub-header div.categories h3 {
    font-weight: normal;
    color: #20B3B2;   
    margin: 0;
}

body.project-show div#sub-header div.categories * {
    font-size: 12px;
}

body.project-show div#sub-header div.categories a {
    color: #58595B;
    text-decoration: none;
}

body.project-show div#sub-header div.categories a:hover {
    color: #20B3B2;
}

body.project-show div#sub-header {
}

body.project-show div.project-menu div.sub-menu{
    max-width: 940px;
    margin: 0;
}

body.project-show div.project-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
    height: 28px;
}

body.project-show div.project-menu ul li {
    display: inline-block;
    margin-right: 1px;    
	height:30px;
}

body.project-show div.project-menu ul li span.digits{
	display:inline-block;
	width:30px;
	text-align:center;
}

body.project-show div.project-menu ul li a {
    display: inline-block;
/*    padding: .6em 2em .2em .6em; */
    padding: 8px 8px 1px 8px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    height: 28px;
    background-image: url('/view/css/project/view/menu/regular_menu.png');
    background-position: left top !important;
    background-repeat: repeat-x;
	font-size:11px;	
}

body.project-show div.project-menu ul li.active a {
    background-image: url('/view/css/project/view/menu/hover_menu.png');
}

body.project-show div.project-menu ul li.show a {
    background-image: url('/view/css/project/view/menu/active_menu.png') !important;
    background-repeat: no-repeat !important;
}

body.project-show div.project-menu ul li.messages a {
    background-color: #00b05b;
}

body.project-show div.project-menu ul li.home a {
    background-color: #1fb0b0;
	padding-right:45px;
} 

body.project-show div.project-menu ul li.needs a {
    background-color: #e13028;
	padding-right:35px;
} 

body.project-show div.project-menu ul li.supporters a {
    background-color: #313b96;
}

body.project-show div.project-menu ul li.updates a {
    background-color: #c8babc;
}

body.project-show div#main div.widget {
    margin-bottom: 20px;
}

body.project-show div#main div.widget.project-support {
    min-height: 340px;
}

body.project-show div#main > div.side > div.widget {
    width: 260px;
    float: right;
    clear: right;
}

body.project-show div#main > div.center > div.widget {
    max-width: 580px;
    margin-right: 20px;
    clear: left;
}

body.project-show div#main > div.side > div.widget .title {
    background: none !important;
}