body{
	overflow:hidden !important;
}

div#footer ul {
	margin:0;padding:0;
}

div#footer {
	width:100%;
	margin:0;
	padding: 0 0 10px 0;

    position: relative;
    background-color: #faf8f8;
    z-index: 0;
    /*max-width: 940px;*/
    bottom: 0;
    overflow: hidden;
    clear: both;
    color: #1f1d1e;
    font-size: 12px;
    text-decoration: none;
}

div#sub-footer{
	width:100%;
    margin: 0;
	height:30px;
    font-size: 12px;
    overflow: hidden;
    background-color: #58595B;
	float:none !important;
	color:#fff;
}

div#footer .w940,
div#sub-footer .w940 {
	width:940px;
	margin:0 auto;
}

/*generics*/
div#footer a,div#subfooter a{
	text-decoration:none;
}

div#subfooter a:hover{
	color:#1db3b2;
}

/*hijos de footer */
div#footer div.block{
	float:left;
	width: 155px;
	height: 142px;
	padding-left:15px;
	border-left:#ebe9ea 2px solid;
}


/*hijos de div.block*/
div#footer div.block h6{
	font-size:11px;
	color:#59595C;
}

div#node-main div#side div.sponsors ul,
div#channel-main div#side div.sponsors ul
div#footer div.block ul{
	list-style:none;
	margin-top:15px;
	height:115px;
	overflow:auto;
}
div#node-main div#side div.sponsors ul.paginacion,
div#channel-main div#side div.sponsors ul.paginacion,
div#footer div.block ul.paginacion {
	margin: 8px 0 0 0;
	list-style:none;
	padding:0px;
	float:left;
	height:auto;
}

/* Solo footer, para el salto de linea cada 7 */
div#footer div.block ul.paginacion {
    max-width: 126px;
}

/* Solo portada de nodo, para el salto de linea cada 8 */
div#node-main div#side div.sponsors ul.paginacion,
div#channel-main div#side div.sponsors ul.paginacion {
    max-width: 144px;
}


div#node-main div#side div.sponsors ul.paginacion li,
div#channel-main div#side div.sponsors ul.paginacion li,
div#footer div.block ul.paginacion li {
	cursor:pointer;
    display: block;
    float: left;
    overflow: hidden;
	margin: 0px 4px 5px 4px;
}

div#node-main div#side div.sponsors ul.paginacion li a,
div#channel-main div#side div.sponsors ul.paginacion li a,
div#footer div.block ul.paginacion li a {
    width: 10px;
    height: 12px;
    margin-top: 2px;
    background-color: #cdcdce;
    color: #cdcdce;
	display:block;
}

div#node-main div#side div.sponsors ul.paginacion li a:hover,
div#channel-main div#side div.sponsors ul.paginacion li a:hover,
div#footer div.block ul.paginacion li a:hover {
    background-color: #20b3b2;
    color: #20b3b2;
}

div#node-main div#side div.sponsors ul.paginacion li.current a,
div#channel-main div#side div.sponsors ul.paginacion li.current a,
div#footer div.block ul.paginacion li.current a {
    background-color: #808184 !important;
    color: #808184 !important;
}

div#slides_sponsor .slidersponsors-ctrl .next,
div#slides_sponsor .slidersponsors-ctrl .prev,
div#slides_side_sponsor .slidersponsors-ctrl .next,
div#slides_side_sponsor .slidersponsors-ctrl .prev  {
    width: 16px;
    height: 16px;
	line-height: 2000px;
	overflow: hidden;
	float:left;
	margin: 8px 0 0 0;
	cursor:pointer;
/*	display: inline-block; */
}

div#slides_sponsor .slidersponsors-ctrl .prev,
div#slides_side_sponsor .slidersponsors-ctrl .prev  {
	background: url('/view/css/small_arrowslider-sprt.png') scroll no-repeat 0 0;
}

div#slides_sponsor .slidersponsors-ctrl .prev:hover,
div#slides_side_sponsor .slidersponsors-ctrl .prev:hover {
	background: url('/view/css/small_arrowslider-sprt.png') scroll no-repeat 0 -32px;
}

div#slides_sponsor .slidersponsors-ctrl .next,
div#slides_side_sponsor .slidersponsors-ctrl .next{
	background: url('/view/css/small_arrowslider-sprt.png') scroll no-repeat 0 -16px;
}

div#slides_sponsor .slidersponsors-ctrl .next:hover,
div#slides_side_sponsor .slidersponsors-ctrl .next:hover {
	background: url('/view/css/small_arrowslider-sprt.png') scroll no-repeat 0 -48px;
}

div#footer div.block ul li{
	line-height:12px;
    margin-bottom:5px;
    font-size:11px;
    list-style: none;
}

div#footer div.block ul li a{
	font-size:11px;
	color:#808285;
}

div#footer div.block ul li a:hover{
	color:#1db3b2;
}

div#footer .scroll-pane
{
	width: 100%;
	height: 110px;
	overflow: auto;
}
div#footer .horizontal-only
{
	height: auto;
	max-height: 200px;
}

/* Categories in footer */

div#footer div.categories{
    width:109px !important;
}

/*particular de social*/
div#footer div.social{
	width:109px !important;
}

div#footer div.social ul{
	overflow:visible;
}

div#footer div.social ul li{
	height:18px;
	font-size:11px;
	margin-bottom:5px;
}

div#footer div.social ul li a{
	margin:0;
	font-size:11px;
    padding-left: 30px;
    display: block;
    background: no-repeat left center;
    line-height: 20px;
}

div#footer div.social li a:hover{
	opacity:0.7;
	filter:alpha(opacity=70)
}

div#footer div.social li a{
	background-image:url('/view/css/social/social-footer-20.png') !important;
	background-repeat:no-repeat}

div#footer div.social li.twitter a {
    color: #6dc7eb;
	background-position:0 -3px;
}

div#footer div.social li.facebook a {
    color: #4e6091;
	background-position:0 -24px;
}

div#footer div.social li.instagram a {
    color: #125688;
    background-position:0 -45px;
}

div#footer div.social li.calendar a {
    color: #32b6b3;
	background-position:0 -66px;
}

div#footer div.social li.gplus a {
    color: #5075aa;
	background-position:0 -90px;
}

div#footer div.social li.rss a {
    color: #ee8226;
	background-position:0 -115px;
}


/*particular de apoyo social*/
div#footer div.sponsors div.slides_container{
	width:165px;
	height:148px;
	display:none;
	float:left;
	margin: 10px 0 0 0;
}
div#footer div.sponsors{
	margin:0px;
	width:165px;
	height:148px;
	display:block;
}

div#footer div.sponsors > .slides_control > .sponsor {
    height: 148px;
    margin: 20px 10px 0;
}

/*particular de servicios*/
div#footer div.services ul li{
    height:18px;
    font-size:11px;
    margin-bottom:5px;
}

div#footer div.services ul li a img.calculator{
    margin-right: 13px !important;
}

div#footer div.services ul li a img.pool{
    margin-right: 10px !important;
}

div#footer div.services ul li a img.stats{
    margin-right: 12px !important;
}

div#footer div.services ul li a img.icon{
	vertical-align: middle;
    margin-right: 7px;
}

div#footer div.services li a span.call {
    background-image:url('/view/css/services/call_icon.png') !important;
    background-repeat:no-repeat;
    width:40px;
    height: 40px;
}






div#footer div.sponsors {
    position: relative;
    width: 165px;
    min-width: 0 !important;
}

div#footer div.services {
    position: relative;
    width: 130px;
    min-width: 0 !important;
}


/*particular de sponsor*/
div#footer div.sponsors img#current{
	margin-left:13px;
	margin-top:20px;
}


/*hijos de sub-footer*/
div#sub-footer ul{
	float:left;
	max-width:700px;
	padding-left:0;
}

div#sub-footer ul li{
	display:inline-block;
	color:#fff;
	margin-right:25px;
}

div#sub-footer ul li a{
	text-decoration:none;
	text-transform:uppercase;
	color:#fff;
}

div#sub-footer + * {
    font-size: 12px;
    border-top: 2.2em solid #59595c;
    margin-top: -2.2em;
}

div#sub-footer ul {
    margin-top: 8px;
    list-style: none;
}

div#sub-footer a {
    color: #e9e3dc;
    font-size: 11px;
}

div#sub-footer a:hover {
    color: #8ed9d8 !important;
}

div#sub-footer div.platoniq {
    padding: 0;
    margin: 0;
    border-width: 0;
    min-width: 0 !important;
	position:relative;
	float:right;
}

div#sub-footer div.platoniq span.text{
    margin-right:15px;
    text-align: right;
}

div#sub-footer div.platoniq span.logo {
    display: inline-block;
    float: left;
}

div#sub-footer div.platoniq a.foundation {
    display: inline-block;
    width: 120px;
    height: 30px;
	background: url('/view/css/logoFG.png') no-repeat 23px 5px transparent;
    text-indent: 2000px;
    line-height: 2000px;
    overflow: hidden;
	position:relative;
}

div#sub-footer div.platoniq a.foundation:hover{
	background: url('/view/css/logoFG.png') no-repeat 23px 5px transparent;
}

div#sub-footer div.platoniq a.growby {
    display: inline-block;
    width: 60px;
    height: 30px;
    background: url('/view/css/platoniq.png') no-repeat 0px 8px transparent;
    text-indent: 2000px;
    line-height: 2000px;
    overflow: hidden;
	position:relative;
}

div#sub-footer div.platoniq a.growby:hover{
	background: url('/view/css/platoniq2.png') no-repeat 0px 8px transparent;
}

div#sub-footer div.platoniq a.poweredby {
    display: inline-block;
    height: 30px;
    font-size: 12px !important;
    color: #FFF;
	text-decoration: none;
    cursor: default;
    position: absolute;
    top: 8px;
    right: 200px;
    width: 100%;
}

div#sub-footer div.platoniq a.poweredby:hover{
    color: #FFF !important;
	text-decoration: none;
    cursor: default;
}

/* Sponsors */
div#footer div.slidersponsors-ctrl {
	max-width: 940px;
	margin: 0 auto;
	list-style:none;
	padding:0px;
    display: block;
    position: absolute;
    top: 110px;
}

/* Es diferente para el side de home de nodo*/
div#node-main div#side div.sponsors div.slidersponsors-ctrl,
div#channel-main div#side div.sponsors div.slidersponsors-ctrl {
	padding:0px !important;
    margin-top: -15px !important;
    display: block;
}



.slidersponsors-ctrl li {
	cursor:pointer;
    display: block;
    float: left;
    overflow: hidden;
    margin-bottom: 5px;
}

.slidersponsors-ctrl li.navi > * {
    display: block;
    height: 100%;
    width: 100%;
    text-indent: 2000px;
    line-height: 2000px;
    margin: 0px 3px;
}

.slidersponsors-ctrl li.navi a {
    width: 10px;
    height: 10px;
    margin-top: 3px;
    background-color: #cdcdce;
    color: #cdcdce;
}

.slidersponsors-ctrl li.navi a:hover {
    background-color: #20b3b2;
    color: #20b3b2;
}

.slidersponsors-ctrl li.navi a.active {
    background-color: #808184 !important;
    color: #808184 !important;
}

.slidersponsors-ctrl li.prev,
.slidersponsors-ctrl li.next {
    width: 16px;
    height: 16px;
	line-height: 2000px !important;
	overflow: hidden;
/*	display: inline-block; */
}

.slidersponsors-ctrl li.prev {
	background: url('small_arrowslider-sprt.png') scroll no-repeat 0 0;
}

.slidersponsors-ctrl li.prev:hover {
	background: url('small_arrowslider-sprt.png') scroll no-repeat 0 -32px;
}

.slidersponsors-ctrl li.next {
	background: url('small_arrowslider-sprt.png') scroll no-repeat 0 -16px;
}

.slidersponsors-ctrl li.next:hover {
	background: url('small_arrowslider-sprt.png') scroll no-repeat 0 -48px;
}
