/* Widget styles. */


h5.widget-login-title{
    font-size:14px;
}

div .login-widget-form{
    width:65%;
    float:left;
    border-right: 1px dashed;
    padding-right:3%;
}

div.login-widget-form input.login-widget-input{
    width:46%;
    height:20px;
    background-color: white;
    border: 1px solid #CCD6DD;
    border-radius:5px;
}

div.login-widget-form input.login-widget-input:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

div.login-widget-form input.login-widget-keep{
    float: left;
    width: 55%;
    margin-top: 15px;
}

div.login-widget-form label.login-widget-label{
    float: left;
    margin-top: 15px;
    width: 58.5%;
}

div.login-widget-form .buttons
{
    width: auto !important;
    float: right;
    margin-right: 1%;
}

div.login-widget-social
{
    width:25%;
    float:left;
    margin-left:4%;
}

div.login-widget-social ul{
    padding: 0;
}

div.login-widget-social ul li.icon
{
    padding:0;
    float:left;
    margin-bottom: 0;
}

div.login-widget-social ul li.margin
{
    margin-left:10px;
}

div.login-widget-form .login-widget-remember
{
    padding-top: 30px;
    display: table;
}

div.login-widget-form .login-widget-remember a
{
    text-decoration: none;
}

div.login-widget-form.register
{
    width:100%;
    border:none;
}

div.login-widget-form div.input-row
{
    margin-top: 15px;
}



